[2018-03-12 00:19] MichaelKv commented on #266
Hello again. I have invented the workaround if you are interested. I have included an h-file from the project that compiles normally into the project which source file (it contains only one source fole) is copied into the wrong place and the second project started to be copied to the right place now. Not a big price indeed. I wonder if it may fix the MSVC's two-phase name lookup too...

--
Michael

[2018-03-12 17:24] paulmaybee commented on #265
I'm afraid I don't understand your scenario. Are you attempting to use gdb to debug python?

[2018-03-14 12:38] BMBurstein opened #267 "Cannot connect to remote dropbear ssh server"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

I tried connecting to my remote linux that was running dropbear shh server. The ssh server wroks fine (I can connect to it via mobaxterm, putty, etc.) but VS woudln't connect. After I disabled dropbear and installed opensshd instead, it now works.

* VC++ version, Linux syste

[2018-03-15 02:42] yuehuang010 commented on #170
Hi @vgoldring , I am looking at the issue.  In 15.7, we have revamped the translator between pc and linux.  Can you provide examples of paths that is not translated correctly?

Here are few cases where translation are skipped.
Absolution path to missing directories are not translated.
Paths that start with '/' or '~/' are not translated.
Drive letters (C:) alone are ignored.   (C:\) is ok.

[2018-03-15 02:54] yuehuang010 commented on #264
Hi, could you please try 15.7 preview 1 to see if your issue still appears?  The release has made many changes to the way translation paths are handled.

[2018-03-15 02:57] yuehuang010 commented on #251
Hello, VS 15.7 Preview 1 has added attach to process.  Debug menu->"Attach to Process"-> Connection Type = "SSH",  "Connection Target" to your machine and you know the rest.
Thanks

[2018-03-15 02:57] #251 closed

[2018-03-15 02:59] yuehuang010 commented on #233
Hello, VS 15.7 Preview 1 has addressed incremental build.  Please give it a try and let us know if you encounter any problems.

[2018-03-15 02:59] #233 closed

[2018-03-15 03:01] yuehuang010 commented on #231
Hello, this feature is started.  The vs error parser isn't compatible with error produced by gcc.

[2018-03-15 03:02] yuehuang010 commented on #229
Hello, in VS 15.7 Preview 1, the translator for paths has been revamp.  Please take a look to see if your issue is resolved.

[2018-03-15 03:04] yuehuang010 commented on #137
Hello, in VS 15.7 Preview 1, the translator for paths has been revamp.  It should handle the cases you describe.  Please report any issues.  Thanks

[2018-03-15 03:07] yuehuang010 commented on #104
Hello, with the change to the Translator in VS 15.7 Preview 1, paths that start with '/' or '~' will be ignored for translating.  This should address your concern.  Please post if it is not the case.

[2018-03-15 08:36] boskars opened #268 "VS studio 15.7 prev 1 freezes while starting VCLinux application"
VS studio 15.7 prev 1 debugger freezes when starting VCLinux application. Is working correctly in VS 15.6.1

[2018-03-15 15:36] vgoldring commented on #170
Hi Felix,

Thank you for looking at the problem.

What do you mean by “not translated”? The problem is not “between pc and linux”, but in not sending some paths listed in the Additional Include Directories of General page for C/C++ in project settings. If by “not translated” you mean “not sent to Linux”, this would be bug, as additional include directories sent to g++ may not (and usually do not)

[2018-03-15 15:45] vgoldring commented on #170
On a separate note, why would even touch the part of the project that worked fine?

The project itself is not (and cannot be) represented on PC in full.

All of the environment is actually only on Linux machine.

The header files necessary for Intellisense (which may or may not be full set of headers used for compilation) works when indicated in VC++ Directories page Include Directories. This arra

[2018-03-15 18:00] yuehuang010 commented on #170
Hello @vgoldring , I can't determine what has changed from the details provided.  Could you please copy and paste the your Additional Option workaround and your input in Additional Include directories?

Until I know more, I can't provide detail on what regressed.  VC++ Linux is actively being developed and even with the best of testing, regression are still possible.  Preview time period allow us

[2018-03-15 19:00] itodirel commented on #258
it will be available in 15.7 Preview 2

[2018-03-15 19:55] iwubcode commented on #224
@yuehuang010 / @itodirel - apologies but with the recent 15.7 preview 1 release documentation, I didn't see any comment about this feature.  Is there some documentation that I missed?

[2018-03-15 20:55] itodirel commented on #224
@yuehuang010, you coded the feature, can you reply on how to activate it?

[2018-03-15 22:18] yuehuang010 commented on #224
In CppProperties.json, under "configuration" add "environments".  You also might be interested in "remotePreGenerateCommand" and "remotePrebuildCommand" for any scripting needs.
[code]

[code]

[2018-03-16 00:20] yuehuang010 commented on #268
Could you provide more information?  Does it happen on new project too?

[2018-03-16 06:23] EFSYS opened #269 "_ValidateValidArchitecture in Linux.targets blocking Linux cross compile."
Hi all,
For some month I started to use visual studio to compile a cross platform project, I juste have a little remark on this when building on ARM linux platform:
Steps to reproduce:
Create a C++ project for linux, with compiler for an Embedded ARM device hosted in a x86/x64 Linux machine.
Cannot compile until removing _ValidateValidArchitecture from DependsOnTargets attribute in CLCompile Targe

[2018-03-16 14:36] rodrigo2019 commented on #174
I got same error as well
opencv 3.4.0 for android

[2018-03-17 21:07] lukka commented on #119
@odalet is the error you are referring to `"Stopped (tty input)"` ?
That is fixed in 15.6 or more recent.

[2018-03-17 21:12] lukka commented on #267
@BMBurstein iirc Dropbear ssh does not support sftp protocol, that is a requirement.
Try following this [description](https://linuxexplore.com/how-tos/sftp-secure-file-transfer-protocol-with-dropbear/), it could help.

OpenSSH does support sftp, but the sftp support is packaged as a different package, e.g. in the Debian distribution you need to install the package "openssh-sftp-server".

Please re

[2018-03-17 21:12] #267 closed

[2018-03-19 06:36] cdcseacave opened #270 "Can not add a remote ssh connection"
VS2017 15.6.2

After adding and removing a remote SSH in `Connection Manager`, I can not add it back. I can add any other remote SSH machine, but not the one that I removed before. Btw, I had to remove it in the first place cause I can not order the SSH connections in the manager and a project always tries to use the first connection.

Overall, this is an amazing job you guys did with this feature

[2018-03-19 15:13] SamuelHenderson opened #271 "$HOME not working in 'Additional Library Directories'"
* A brief description

I just updated to Visual Studio 2017 15.7 Preview 1.0 and my project now fails to link against some libraries I have in a directory in my home directory.  My Linker properties have the following defined in 'Additional Library Directories':
`$HOME/My_App/libs/$(Configuration);%(AdditionalLibraryDirectories)`
which now appears in the Output window as:
`2>  g++ -o "/home/shende

[2018-03-19 15:23] SamuelHenderson commented on #271
The work around I have come up with is to have the following in my 'Additional Library Directories' setting:
`/home/shenderson/LT_App/libs/$(Configuration);$HOME/LT_App/libs/$(Configuration);%(AdditionalLibraryDirectories)`
This keeps it backwards compatible with other developers on my team who are still using the non-preview release of Visual Studio 2017.

[2018-03-20 19:41] paulmaybee commented on #268
We really need more information in order to help you. What version of Linux is running on your target? Are you using a VS Linux Project or a CMake project? Does this happen if you simply make a new Linux console app and attempt to build and debug it?

[2018-03-20 21:06] yuehuang010 commented on #268
@boskars , Hello, do you have any update on the repro?

[2018-03-20 21:07] #119 closed

[2018-03-20 23:18] iwubcode commented on #224
Hi @yuehuang010 - thanks for the example!  I just attempted this with Version 15.7.0 Preview 1.0 and I am seeing what I think is an issue when there are more than one environment variables.

This is how I have it set up:

[code]

However, when outputting those, I only see the first value getting outputted.  Is there something special needed for multiple environment variables?

[2018-03-21 09:55] boskars commented on #268
I just had time to test a little bit more.  It does not happen on a new project.  We link with -lcrypto option which always results in an Illegal instruction during start (crypto is apparently designed in that way to detect the CPU type) and I have tried also to add crypto to the a new project, but it does not freeze, it just displays the illegal instruction exception and then I am able run to the

[2018-03-21 11:38] alexBraidwood opened #272 "CMake for Linux on VS - Local header cache for intellisense"
UPDATE: See @itodirel's comment below for a workaround.

With the normal MSBuild-ish workflow for Linux, you can use header include paths for intellisense without worrying about them getting copied over to your target machine. With CMake, as far as I can tell, this doesn't seem to be possible.

It would be fantastic if we could define, maybe in CMakeSettings.json, header search paths just for inte

[2018-03-21 12:50] dkosawa opened #273 "Remote File Copy"
The Solution Explorer seems to utilize the .gitignore file,  only showing files that are not "ignored", but when building on a remote Linux system all files starting from the root directory are copied over.

Does it seem reasonable to only copy files that make it past the .gitignore filtering rules?  If not, is there a way to restrict what gets copied to a remote system?

[2018-03-21 13:22] iwubcode commented on #272
Does `includePath` work for your needs?  It's in 'CppProperties.json', see the [latest blog](https://blogs.msdn.microsoft.com/vcblog/2018/01/10/intellisense-enhancements-for-cpp-open-folder-and-cmake/) that comments about some new features involving it.

[2018-03-21 15:24] paulmaybee commented on #268
Can you get a gdb log file of your session? Logging instructions are here: https://github.com/Microsoft/MIEngine/wiki/Logging.

[2018-03-21 15:42] paulmaybee commented on #224
Try formatting like:

[code]

[2018-03-21 15:54] iwubcode commented on #224
Thanks @paulmaybee that seemed to do the trick!

[2018-03-22 11:33] alexBraidwood commented on #272
@iwubcode Thanks for the suggestion, I tried it out one more time this morning. It just doesn't seem to work with CMake. We've been able to make it work for us in folder or makefile-based projects, however. So, we're working without it, but this would be cool to have support for on the CMake side.

[2018-03-22 11:46] boskars commented on #268
[DebugLog2.zip](https://github.com/Microsoft/VSLinux/files/1837310/DebugLog2.zip)
@paulmaybee
I have attached the  log files.
I have also sent Visual Studio Debug Dump to Visual Studio Community.

[2018-03-22 14:50] paulmaybee commented on #268
Did both of these sessions freeze, or just the session for DebugLog2.txt? In DebugLog2.txt it looks to me like you set the debugger into hex display mode just before it froze. If so, this is a known issue (https://github.com/Microsoft/MIEngine/issues/69) that has been difficult for us to reproduce. I will flag it again to raise its priority. Are you seeing this hanging behavior when you have not p

[2018-03-22 15:23] boskars commented on #268
Both seesions did freeze and I did not do any difference other than the DebugLog2.txt was running longer time (during my lunch) before I killed VS.  I am not putting the debugger into hex display mode, I cannot because it is totally frozen, it must be a default settings.
Is the hex mode option related to the project settings or to the Visual Studio settings?  I mean how can I change the settings w

[2018-03-22 15:39] paulmaybee commented on #268
The hex property is persistent across VS invocations. To turn it off close all open copies of VS. Then start VS and open a project that you can successfully debug (or just make a new C++ "ConsoleApplication"). Compile and F10 to step into it. In the locals window right-click and disable "Hexidecimal Display". Then close the solution. Hex display should now be off for new debugging sessions.

After

[2018-03-22 23:32] yuehuang010 commented on #271
Hello @SamuelHenderson , Thank you for using VS.  I see the issue is caused by VS failing to detect that $HOME is full path.
Could you try using '~/' instead of '$home/'?

Could you also try Project To Project Reference?  It should automatically add the output lib for you.

Thanks
Felix

[2018-03-23 09:28] boskars commented on #268
Thank you for your help.  Disabling hex view helped.

[2018-03-23 11:57] boskars opened #274 ""Downloading and updating headers for IntelliSense" fails."
Visual Studio 15.7 prev 2

![image](https://user-images.githubusercontent.com/25032095/37826152-a5d9d500-2e92-11e8-9f8a-8874d8f949da.png)

The file contains:

liblinux.ExceptionBase: Exception of type 'liblinux.ExceptionBase' was thrown.
   at liblinux.Services.RemoteCompiler.CreateSysrootArchive()
   at liblinux.Services.RemoteCompiler.DownloadSysroot()
   at liblinux.Services.RemoteCompiler.Crea

[2018-03-23 19:03] yuehuang010 commented on #271
After some investigation, it appeared that the Fullpath detector wasn't working, thus converting all paths to full paths.

[2018-03-23 22:10] lukka commented on #274
@boskars do you have 'zip' as a tool on the remote Linux box?

[2018-03-26 14:16] SamuelHenderson commented on #271
Hi yuehuang010, thanks for looking into this.

I tried replacing '$HOME' with '~/' as per your suggestion but it seems like ld still fails to find the libraries (despite the fact they are definitely in that directory)
`2>  Invoking 'ld'`
`2>  g++ -o "/home/shenderson/projects/MyLib/bin/x64/Debug/libMyLib.so" -Wl,--no-undefined -Wl,-L"~/MyApp/libs/Debug" ...snip... -lMyOtherLib`
`2>  /usr/bin/ld: c

[2018-03-26 23:41] itodirel commented on #274
Luca is correct, this happens because "zip" is not installed on the system. We are going to improve the message to just say that. Let us know if you have other suggestions.

[2018-03-27 01:21] itodirel commented on #272
this can be done using a syntax like the following:

[code]

[2018-03-27 23:08] itodirel commented on #274
improved the error messages, now it will say exactly why in the dialog

[2018-03-28 10:53] haoyixin commented on #174
[code]
+1

[2018-03-28 19:10] lukka commented on #270
@cdcseacave what exactly is happening when you add the new connection?

For your information, you can select the remote machine you want to connect to by editing the properties of the .vcxproj file, or by editing the CMakeSettings.json file (RemoteMachineName attribute set to the name of the machien in the connection manager).

[2018-03-28 22:00] melvyn1950 opened #275 "out of box WSL VS2017preview 2 Raspberry project will not build"
* A brief description
out of box WSL VS2017preview 2 Raspberry project will not build
* Expected results
Microsoft published code and examples should work out here in user land

* Actual results (with build output window contents if applicable)
Severity	Code	Description	Project	Path	File	Line	Suppression State
Error		Current project architecture 'ARM' is incompatible with the remote system archite

[2018-03-29 02:48] lukka commented on #275
@melvyn1950 are you trying to compile a .vcxproj Raspberry (architecture ARM) project on a WSL Linux (architecture x64) instance?

[2018-03-29 13:45] cdcseacave commented on #270
now I tried again and it worked; even before posting this I tried around 1h (restarting VS, restarting my PC and the remote PC, nothing worked); it accepted all params, but after waiting around 60s to connect it was saying it can not connect or something like that

yes, I saw that param in JSON file, but I didn't know what to write there; currently it has `${defaultRemoteMachineName}`; so should I

[2018-03-29 13:45] #270 closed

[2018-03-29 16:49] yuehuang010 commented on #271
@SamuelHenderson , could you please email me vcpplinux-support@microsoft.com ?  I would like to work with you on a fix.

Thanks.

[2018-03-29 19:46] rblinton commented on #132
I have a similar issue. I have verified openssh-sftp-server is installed.

[2018-03-30 21:15] stanthomas commented on #258
@itodirel
I've just downloaded 15.7.0 preview 2.0 (4.7.02556) and I can't see a C++17 language option. I tried with both an existing project and a new console application project. All the previous language options are there.

[2018-04-02 11:49] alexBraidwood commented on #272
@itodirel Alright, cool, that works. Is there anywhere I could've found the information for that? It seems more like internal magic fiddling to me, and it's not very intuitive. For instance, why doesn't includePath in CppProperties work for CMake? I take it it's the `INCLUDE` in the environment settings? Does it just add a CMake `include` call? Why does this not copy the include directories over t

[2018-04-02 22:00] itodirel commented on #258
sorry, seems like the fix was not correctly merged and did not make it to 15.7; we'll see if we can get it in 15.7 Preview 4 if not, it will be in 15.8

[2018-04-02 23:33] itodirel commented on #272
we're looking into consolidating the two

[2018-04-02 23:36] #272 closed

[2018-04-02 23:37] itodirel commented on #275
The Raspberry Pi template is not designed to work on x64; if you need to target x64, please use the Console Application template

[2018-04-02 23:37] #275 closed

[2018-04-03 01:03] itodirel commented on #170
@vgoldring @svenbieg @braindeaddeveloper can you give us a repro, we are unable to reproduce what you're seeing; @vgoldring the solution that you attached would not help us, we need the project, if you can't give us the project, please give us a minimal repro; can you also tell us exactly the version of Visual Studio that you're using? You can get it from help about;

If you follow this video, can

[2018-04-03 01:06] ckubrak opened #276 "Google tests not producing any output"
Hi,
I've cloned a git project I'm developing in a Linux (Ubuntu) computer. In this project, for unit testing I'm using [gtests](https://github.com/google/googletest).

I'm using this [CMakeLists.txt](https://gist.github.com/ckubrak/7f8c0a0271cf5807cfe50dcb8d47e591). The project seems to build and run correctly, but I'm not getting any output. I should be getting at least the test results.

When I

[2018-04-03 01:15] itodirel commented on #170
@vgoldring

[2018-04-03 01:15] itodirel commented on #170
@vgoldring

More ambitious approach of automatically supporting full set of headers for Intellisense is implemented by VisualGDB, but took a long time to bring to a reasonably working state and I believe is still prone to breakdowns, particularly when moving or accessing a project from different PCs or to compile on different Linux machines. It also undertakes large, sometimes huge downloads of wh

[2018-04-03 01:25] vgoldring commented on #170
I did send you several project files along with the solution.

What I do differently that in the video is that I add additional include directories before the already predefined variables, not after as in the video. Also, I remove one or all of them as they introduce into the build path a useless directory from the PC.

From: Ion Todirel <notifications@github.com>
Sent: Monday, April 02, 2018 8:03

[2018-04-03 01:34] itodirel commented on #170
We do not have the project attachments.

Can you gives us an example of an include path that is not passed to the compiler?

[2018-04-03 13:52] alexBraidwood commented on #272
@itodirel This caused a lot of other Intellisense errors to start popping up. All of a sudden, Visual Studio has forgotten about C++11. E0035, E1774, E0771, E1670, E0864, E1696... All sorts of SFINAE template errors. Any magic to make intellisense know about C++11, 14, or 17 again?

[2018-04-03 16:47] boskars commented on #274
We have a gzip tool on the device.  Does that count?

[2018-04-03 20:42] itodirel commented on #274
today, we specifically need "zip", we're planning on using rsync in the future

[2018-04-05 00:57] itodirel commented on #248
We updated the extension page to mention that development is in Visual Studio 2017

[2018-04-05 00:57] #248 closed

[2018-04-05 01:00] itodirel commented on #215
This feature was implemented and released in 15.7 Preview 2, which is now publicly available, please try it and let us know if you have any feedback or suggestions.
![capture](https://user-images.githubusercontent.com/15239856/38342246-bcd52596-386c-11e8-9e45-f16bdf473692.PNG)

[2018-04-05 01:00] #215 closed

[2018-04-05 01:01] itodirel commented on #37
As an update, we implemented this feature

[2018-04-05 01:01] itodirel commented on #43
As an update, we implemented this feature

[2018-04-05 01:02] itodirel commented on #115
As an update, we implemented this feature

[2018-04-05 01:02] itodirel commented on #127
As an update, we implemented this feature

[2018-04-05 01:08] itodirel commented on #242
Hi, we fixed those with the header copy work. See issue #215

[2018-04-05 01:08] #242 closed

[2018-04-05 01:10] itodirel commented on #50
We are not developing the Visual Studio 2015 extension anymore, can you try it in Visual Studio 2017 and let us know if there are any problems?

[2018-04-05 01:10] #50 closed

[2018-04-05 01:24] itodirel commented on #268
Please let us know if there is still a problem here.

[2018-04-05 01:24] #268 closed

[2018-04-05 01:26] itodirel commented on #249
Please le us know if you have other questions or concerns

[2018-04-05 01:26] #249 closed

[2018-04-05 01:29] itodirel commented on #235
Using #29 for tracking. And marking as duplicate.

[2018-04-05 01:29] #235 closed

[2018-04-05 01:32] itodirel commented on #230
Hi, we are making updates to the Linux tooling continuously, and usually have updates in every release of Visual Studio (15.6, 15.7, 15.8 etc). The most recent major features we added was CMake support in 15.6 Preview 2 and remote system headers copy support in 15.7 Preview 2. If there is something specific you are looking for please don't hesitate to ask.

We are not updating the Visual Studio 20

[2018-04-05 01:37] itodirel commented on #98
Hi, you can disable build output copy in Property Pages, we disabled copy of object files by default, the copy of the out put is still enabled by default. But you can disabled it from here:

![capture](https://user-images.githubusercontent.com/15239856/38343149-d1cf3806-3871-11e8-8eeb-a627b7c78a5d.PNG)

Please let us know if you have any other problems

[2018-04-05 01:37] #98 closed

[2018-04-05 01:40] itodirel commented on #90
There is a way to filter this by selecting to show errors from either IntelliSense or build
![capture](https://user-images.githubusercontent.com/15239856/38343252-49fc9d5a-3872-11e8-98fc-32bd270558a4.PNG)

[2018-04-05 05:09] bazzilic commented on #37
When is it available?

[2018-04-05 13:04] noujaimc opened #277 "Public Project Include Directories not working with SharedItems Project"
Using : Visual Studio 2017 15.7 Preview  2

When referencing a sharedItems project with a project(static or dynamic) with source files, the Public Project Include Directories does not translate well when linked with a application.  I attached an example below. I was expecting this to compile and run :

[ConsoleApplication.zip](https://github.com/Microsoft/VSLinux/files/1880052/ConsoleApplication.z

[2018-04-05 18:55] itodirel commented on #37
it's available right now, publicly, in 15.7 Preview 2

[2018-04-05 20:46] itodirel commented on #277
@yuehuang010 Felix can you take a look?

[2018-04-05 20:46] itodirel commented on #276
we do not support Google test yet

[2018-04-05 20:47] itodirel commented on #273
is this in the context of vcxproj? CMake or something else?

[2018-04-05 20:48] itodirel commented on #266
@lukka can you please investigate?

[2018-04-05 20:49] itodirel commented on #263
@paulmaybee can you take a look?

[2018-04-05 20:51] itodirel commented on #250
yes, we need to support a way to disambiguate between different host names that might be the same, but can have different ports, or users or authentication methods

[2018-04-07 00:44] yuehuang010 commented on #231
Hi, could you try out 15.7 Preview?  You will see errors in the error list and should be able to double click to the file/line/column.

[2018-04-07 05:28] GenKnight opened #278 "exception of type "Microsoft.Build.Linux.Shared.ExceptionTTY" was thrown"
I use  vs2017 to debug a linux cpp  demo(vs getting-started demo).the source code is below：

#include <cstdio>
int main()
{
    printf("hello from ConsoleApplication10!\n");
    return 0;
}
after starting the debug,it shows a message：exception of type  "Microsoft.Build.Linux.Shared.ExceptionTTY" was thrown

![20180407130802](https://user-images.githubusercontent.com/12382259/38451728-beae0f98-3a67

[2018-04-09 21:43] ImpossibleMushroom opened #279 "Remote Header Downloads error with Ubuntu 17.10 Server"
I am trying to sync the headers from my Ubuntu 17.10 Server VM to my IntelliSense for Remote Compilation so that I can use sys/socket.h, but it is failing each time.

For expected results I am not sure exactly what happens because despite my tries it fails every time, but I'd assume somewhere along the lines of the headers actually syncing

It says that it's failed and to check the log file where

[2018-04-10 08:41] MathiasMagnus opened #280 "Remote header download error with non-bash default shell"
* A brief description

I have PowerShell set as my default shell inside WSL for Ubuntu and the headers fail to download due to the command timing out. This is because the command is invoked through SSH as-is, and even though the PowerShell folk really tried not to hide typical Unix commands with PS aliases on Linux builds, `echo` seems to have slipped through, hijacking the command and invoking `W

[2018-04-10 16:59] dixonqmg opened #281 "Remote header download issues"
Two issues with new feature of "downloading linux headers".
1. For some reason it's very slow, I saw 1.8Mbit per second in network monitor, when typically I see about 8mByte per second when scp from the same machine
2. It failed with the following:
vslinux_header_update_log.txt
System.IO.PathTooLongException: The specified path, file name, or both are too long. The fully qualified file name must
b

[2018-04-10 19:05] lukka commented on #278
@leonheuler @GenKnight this problem should be already fixed in [Visual Studio 2017 15.7 Preview](https://www.visualstudio.com/vs/preview/).

Could you please try it out?

[2018-04-10 23:12] lukka commented on #278
FYI @leonheuler @GenKnight I just tried last build of VS 2017 15.7 Preview with RedHatEnterprise 6.7 and it worked.

![image](https://user-images.githubusercontent.com/681992/38588274-dd96bc24-3cd9-11e8-8327-355446d2960b.png)

The warning emitted by gdb is harmless, nevertheless we are going to address it, disregard that for the time being.

[2018-04-11 08:40] GenKnight commented on #278
Thanks a lot

[2018-04-11 08:41] GenKnight commented on #278
@lukka  Thanks a lot

[2018-04-11 09:08] leonheuler commented on #278
Didn't help. But now I have this in my new menu Cross Platform | Connection Manager | Remote Headers..
![image](https://user-images.githubusercontent.com/38251796/38607230-bde85020-3d80-11e8-8ee5-a1cec76a3519.png)
Btw sources are updoaded and compiled on the remote properly. I can execute it manually through terminal.

[2018-04-11 17:44] lukka commented on #278
@leonheuler are you still getting the ExceptionTTY when strating debugging with VS 2017 15.7 Preview?
Could you please run on the remote the command 'tty' and look for the output.

[2018-04-11 18:12] leonheuler commented on #278
@lukka
"are you still getting the ExceptionTTY when strating debugging with VS 2017 15.7 Preview?"
Yep.
![image](https://user-images.githubusercontent.com/38251796/38635111-07f5956e-3dcd-11e8-92fb-911f6ccae46c.png)

[2018-04-11 19:01] lukka commented on #278
@leonheuler ok, thanks for the further info.
As a workaround I would suggest to try another user instead of root, nevertheless the root cause need to be still understood here: could you please run this command and report the output?
```echo 'E2E32F1A-3E99-4EDF-A62A-10EDB5F81201'; tty; echo 'E4E32F1A-3E99-4EDF-A62A-10EDB5F81201' ```

[2018-04-11 22:06] leonheuler commented on #278
![image](https://user-images.githubusercontent.com/38251796/38645523-fb65ff1c-3dec-11e8-94a9-7f85cbb33aa8.png)

Ok I noticed one thing. If I enable UseDNS (as it was by default) in my /etc/ssh/sshd_config connection starts taking about 15 seconds and VS tells me:

1>------ Build started: Project: try, Configuration: Debug x86 ------
1>Validating architecture
1>Validating sources
1>Copying sources

[2018-04-11 23:10] itodirel commented on #136
it compiles and runs, but there seems to be some IntelliSense issues

[2018-04-11 23:12] itodirel commented on #280
we are not likely to make this work with all shells, but we will investigate; for now I recommend using bash

[2018-04-11 23:14] #261 closed

[2018-04-11 23:16] itodirel commented on #279
this is caused by "zip", which is missing from your system, please install "zip" using apt

in 15.7 Preview 4 (not yet released), we updated the UI to state exactly what the problem is, so you'll know to install zip; we have plans in the future to use rsync

[2018-04-11 23:17] itodirel commented on #278
@leonheuler that's caused by "zip", you will need to install it using apt

[2018-04-12 12:45] VladimirR46 commented on #278
Hey. I have the same problem.
host:
os version：win7 64it Version 6.1.7601 Service Pack 1
vs2017 version： Visual Studio Professional 2017 15.7.0 Preview 3.0

remote:
Linux version 3.8.7-yocto-standard (neck@flax) (gcc version 4.9.1 (GCC) )
gcc version:4.9.1
gdb version: 7.7.1
gdb-server version:7.7.1
tty (GNU coreutils) 8.22
![image](https://user-images.githubusercontent.com/38318731/38677774-ee284

[2018-04-12 17:45] trogper commented on #86
why is this issue closed?
it was not solved and no reason provided

[2018-04-12 18:08] yuehuang010 commented on #277
Taking a look.

[2018-04-12 18:12] lukka commented on #278
@leonheuler @VladimirR46 thanks for reporting additional data for keeping the investigation going forward. I am going to reproduce the behavior on an Intel Edison board, and i will keep you up to date.

As a workaround I would suggest to select 'gdbserver' mode under 'debugging mode' in the project properties, although gdbserver needs to be installed on the board; since gdbserver is much smaller t

[2018-04-13 11:16] leonheuler commented on #278
@lukka gdbservrer is installed actually.

![image](https://user-images.githubusercontent.com/38251796/38732007-403d1bc8-3f25-11e8-8ad5-21ad29e3b630.png)

[2018-04-13 23:06] lukka commented on #278
@leonheuler 'gdbserver' should just launch correctly because i see you have it into the $PATH environment variable. This is a differen problem though, if you can please create a new issue thanks.

[2018-04-16 10:09] VladimirR46 commented on #278
gdbservrer is installed.
![image](https://user-images.githubusercontent.com/38318731/38803261-527a895c-4177-11e8-8b4b-0c9af7be8d6f.png)

/usr/bin...  ls
![image](https://user-images.githubusercontent.com/38318731/38803232-3a84ae4a-4177-11e8-9aa1-bf226591fa9f.png)

[2018-04-17 00:41] itodirel commented on #269
Hi, we made a change that should be available in 15.8, the next future release of VS, which will allow you to disable the check

[2018-04-17 00:48] itodirel commented on #281
Could you tell me what your %localappdata% resolves to? If you can't get us the path, please get us the path length in characters.

[2018-04-17 06:13] EFSYS commented on #269
Hello,
  Thank you!

[2018-04-17 06:13] #269 closed

[2018-04-17 21:04] yuehuang010 commented on #277
I have found the issue, but the solution is quiet complex, so it won't be fixed in 15.7 timeframe.

[2018-04-17 21:08] #121 closed

[2018-04-17 21:10] trogper commented on #121
Can you please at least provide some message about why you closed this issue? This is very intransparent.

[2018-04-17 23:56] itodirel commented on #269
You're most welcome, the setting will be available as indicated below.  We will decide if we want to support more here, or change the default based on telemetry and feedback.

![image](https://user-images.githubusercontent.com/15239856/38904582-1c91701e-4260-11e8-89dd-3a679c10697b.png)

[2018-04-18 01:15] lukka commented on #278
@leonheuler @VladimirR46 thanks for the information provided.
I tested with Intel Edison:
 1. Linux edison 3.10.98-poky-edison+ #1 SMP PREEMPT Mon Jun 6 14:32:08 PDT 2016 i686 GNU/Linux
 2. GNU gdbserver (GDB) 7.7.1
 3. GNU gdb (GDB) 7.7.1
 4. gcc (GCC) 4.9.1

and I could not reproduce nor the "ExceptionTTY" nor the "GDBServer cannot start" problem.

I connected to the device by USB cable (i.e. Et

[2018-04-18 13:14] jdsarode commented on #132
@jazzatar @rblinton @0x79696e67

I am also facing the same issue in VS2017 where I am able to connect to Linux Target via putty, other clients. But, when I try to connect target using CrossPlatform connection manager in VC2017, redbox appears on the host label and I get the following logs . Has this issue been solved ? Please point me to the right answer thread as I am not able to resolve this.

L

[2018-04-18 14:14] leonheuler commented on #278
@lukka Ok debugging works fine with this remote image: https://sourceforge.net/projects/galileodebian/files/SD%20card%20Image/galileo-1.2.img.gz/download
(After booting
g++ (Debian 4.7.2-5) 4.7.2
and GNU gdbserver (GDB) 7.4.1-debian
were installed with apt-get).
B.t.w VS sees OS version: Debian(x86) instead of Unknown(x86).
![image](https://user-images.githubusercontent.com/38251796/38937456-ecb4e

[2018-04-18 20:17] dixonqmg commented on #281
C:\Users\12345678\AppData\Local

Nothing too long. I suspect it's either a directory structure too deep on a linux side, or some long filename there(this one is unlikely)

[2018-04-18 20:25] dixonqmg commented on #281
Longest file name in /usr/include is 69 characters.
Ah, I think I know what happened there:
-bash-4.1$ find -L /usr/include
find: File system loop detected; `./gphoto2/gphoto2' is part of the same file system loop as `./gphoto2'.
Perhaps you may want to have a better diagnostics for cases like this?

[2018-04-18 21:12] dixonqmg commented on #281
Apparently this is how gphoto is installed by redhat, so may be it's a legit way of installing headers? In that case perhaps the way you transverse directories in there should be modified?

[2018-04-18 21:14] itodirel commented on #281
thank you for reporting this, we will fix it; can you tell me the distro/version of the distro you're using?

[2018-04-20 10:25] leonheuler commented on #278
@lukka but there is huge troubles with Debian on Intel Quark since it has documented LOCK instructuon bug. Yocto is prefered.

[2018-04-20 18:40] lukka commented on #132
@jdsarode could you please provide more information about your setup? For example, if you are trying to connect to a Debian-like distribution on a remote Linux box (non WSL), please check whether you installed the package "openssh-sftp-server" with apt.

[2018-04-20 18:41] PTmv opened #282 "How to link libgattlib.so from a Raspberry Pi3 board into a VS2017 VC++ for Linux project"
I tried to build a VC++ for Linux (Raspbian) project in VS2017 (from my PC)using libgattlib.so static library residing in Raspberry Pi 3 board. The compilation went without errors. I can reliably include in the project .h files using e.g. **\\<Board IP Address>usr\include**. I also need a reference to the libgattlib.so library file. It resides in /usr/lib on the Raspberry Pi 3 and the link is corr

[2018-04-20 18:48] lukka commented on #278
@leonheuler ok, hence Debian is not properly working onto the Galileo board and you need Yocto. Since it worked on Intel Edison and Linux 3.10.98-poky-edison and I could not reproduce the bug, I cannot say the problem is going to be fixed. Nevertheless feel free to provide more informations that could help us spot the issue.

Suggestion: would it be possible for you to build a newer Yocto image an

[2018-04-20 18:54] jdsarode commented on #132
@lukka :- I think there has to be "openssh-sftp-server" package as I am able to log in to the system using other ssh applications such as putty, tera term.

[2018-04-20 18:56] lukka commented on #282
@PTmv are you sure you are just drop the 'lib' prefix, it should just be just 'gattlib' in the Library Dependencies box (semicolon separated):
![image](https://user-images.githubusercontent.com/681992/39068603-ae21fd72-4491-11e8-93c5-60d2bbe8e39b.png)

[2018-04-20 19:06] PTmv commented on #282
Hi Lukka,

Thank you for your prompt response. Yes, I tried to set up gattlib into  Project->Configuration Properties->->Linker->Input and got errors:

Error                      undefined reference to symbol 'pthread_join@@GLIBC_2.4'        Project_For_Linux           C:\usr\bin\ld                1
Error                      DSO missing from command line               Project_For_Linux

[2018-04-20 19:25] PTmv commented on #282
Adding **-lpthread**  to Project->Configuration Properties->Linker->Command Line solved the problem. Here is the link which helped me: https://stackoverflow.com/questions/24096807/dso-missing-from-command-line?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa. Thank you for your help.

[2018-04-20 19:25] #282 closed

[2018-04-20 20:31] lukka commented on #132
@jdsarode please run 'dpkg -l | grep sftp' and report the output of the command. Then we could verify whether that package is missing.

[2018-04-22 21:00] gegogabriel opened #283 "opencv debug"
I've managed to include everything to make an opencv app working but there's a problem when calling functions that have to display something on the screen.

The app builds and I can debug untill I reach a method that would need to display something on the screen(imshow for example) than it just ends the execution.

I would like to now if there's anything that can be done about this. I wouldn't car

[2018-04-22 21:10] gegogabriel commented on #283
I just misspelled something:  "export DISPLAY=:0.0"

[2018-04-22 21:10] #283 closed

[2018-04-24 14:19] SamuelHenderson commented on #271
@yuehuang010 I sent an email a while with some sample project files and MSBuild log outputs ... has any progress been made?

[2018-04-24 22:44] patrikhuber opened #284 "Adding WSL in Visual Studio fails with "Failed to archive sysroot [...]""
Hi!

I've filed this over at Microsoft/WSL/issues/3124 because I wasn't aware of this repository - but I just found it, and I think the issue is a better fit here!

I'm following the instructions here: https://blogs.msdn.microsoft.com/vcblog/2017/02/08/targeting-windows-subsystem-for-linux-from-visual-studio/ to the point.
When going to "Tools > Options > Cross Platform > Connection Manager", ente

[2018-04-25 14:35] tommai78101 commented on #258
I think this should be labeled as "Fixed - Pending Release".

[2018-04-26 02:26] lukka commented on #284
@patrikhuber could you ensure you have the zip tool on your Ubuntu? Just install it with apt if it is missing. Then report back if the problem persists.

[2018-04-26 14:59] patrikhuber commented on #284
Hi @lukka, I can confirm that `zip` is installed in WSL.

[2018-04-27 01:49] zhuxueluo commented on #142
i got a connectivity problem too: ssh by putty is ok while ssh by vs is not. After i reinstall openssh-server, problems are solved. I guess this is because of wrong configuration of openssh-server.

[2018-04-27 05:34] lukka commented on #132
@jdsarode the "sftp over ssh" support must be available on the Linux machine, it is an extension of the SSH protocol. It can be either that:
- there are different packages for the Linux distribution you are using, one for sshserver (e.g. openssh-server) and one for sftp;
- it might be that sftp already included in the ssh server package, and it just need to be enabled; you could check the /etc/ssh

[2018-04-28 10:16] patrikhuber commented on #284
Okay, this is something very sneaky: The instructions tell you to start the ssh daemon in WSL, on the default port. And it starts, without any warning or error. But: **Windows 10** has actually already an ssh daemon running (and on port 22)! This caught me by surprise. So when you (or VS) tries to do "ssh localhost", it connects to the ssh daemon running from Windows 10 (!!!), and not the one runn

[2018-04-29 11:43] nadavb opened #285 "Current project architecture 'ARM' is incompatible with the remote system architecture"
I am trying to use Visual Studio 2015, as an IDE for DragonBoard 410c (arm processor, aarch64 architecture).

When I follow the instructions here: https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/

And choose the project to be ARM, I get:

C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Application Type\Linux\1.0\Linux.targets(51,5): error : Current project

[2018-05-01 22:02] stanthomas commented on #285
It's 64-bit. See #110 .

[2018-05-01 22:17] stanthomas commented on #284
It's discussed in the comments to the [original blog](https://blogs.msdn.microsoft.com/vcblog/2017/02/08/targeting-windows-subsystem-for-linux-from-visual-studio/) and if you follow the links you'll see that this [workaround](https://superuser.com/questions/1123552/how-to-ssh-into-wsl) has been required for quite some time.

[2018-05-01 22:27] stanthomas commented on #284
@patrikhuber Hey, I'm not sniping. Just joining you in suggesting Marc updates his blog.

[2018-05-01 22:28] patrikhuber commented on #284
@stanthomas Ok cool! :-) 👍

[2018-05-02 00:28] itodirel commented on #285
regarding unknown, can you tell us what does uname -m return?

[2018-05-02 00:31] itodirel commented on #284
@patrikhuber unfortunately it's difficult to provide diagnostics because there's not much information available, we can get the identity of the SSH server but that does not say much, and in the end it is presented to us as authentication failure, which is correct. We could see if port 22 is used locally and maybe find the process or service owning it, but that would be hacky

[2018-05-02 07:12] nadavb commented on #285
aarch64

[2018-05-03 00:28] itodirel commented on #285
Ah I see, we made a fix for that, and are working on adding ARM64 support, in addition to a way of disabling the architecture check.

[2018-05-03 00:29] itodirel commented on #284
If the case for when the connection failed or if zip is missing, we already made a fix to tell you exactly why, that one is done, but not yet in one of the currently published Previews

[2018-05-03 00:30] itodirel commented on #258
Just confirming that this is fixed and made it in the published 15.7 previews, if you update VS you should get it

[2018-05-03 00:30] #258 closed

[2018-05-03 17:16] stanthomas commented on #258
@itodirel
Yes, the C++17 language option there now, thanks.  But, and I'm sorry there is a but, you seem to be adding `-std=c++17` to the `g++` command line in *all* cases.
Here are the g++` command lines in VS 15.7.0 preview 5.0 that result from setting the C++ language to C++17, C++!4 and Default :

[code]

[2018-05-04 00:00] itodirel commented on #258
@stanthomas I'm not seeing that and can't repro, did you add -std=c++17 in your project's command line manually? if so, then what you're seeing is by design, we are not filtering the user inputs in the Command Line options

[2018-05-04 02:26] tommai78101 commented on #258
@stanthomas Can you retest to verify if your issue is resolved?

[2018-05-04 20:49] SamuelHenderson commented on #271
Although not ideal, I have discovered a work around to $HOME not being evaluated properly for the Additional Library Directories (-L) path.

My workaround is something like this:
`../../My_App/libs/$(Configuration)`

Which is evaluated to this g++ command:
`g++ -o "/home/shenderson/projects/MyLib/bin/x64/Debug/libMyLib.so" -Wl,--no-undefined -Wl,-L/home/shenderson/projects/MyLib/../../My_App/libs/

[2018-05-05 11:29] VladimirAkopyan commented on #142
I have same issue - VS can;t connect, where-as putty is perfectly happy.

[2018-05-06 06:44] nadavb commented on #285
Okay. In the meanwhile, I switched to Eclipse and continuing the work there.

[2018-05-07 23:24] ademyankov opened #286 "OpenFolder: Impossible to select a binary via Select Startup Item when git is used as a source control!"
When using OpenFolder the binary has to be selected manually through _Solution Explorer_, right click -> _Set as Startup Item_. When git is used _Solution Explorer_ does't show binary files because _/Debug_ or _/Bin_ folders are in _.gitignore_.

* Expected results:
A few things I would suggest:
1. _Select Startup Item_ list box has to be populated with configurations from _launch.vs.json_, then s

[2018-05-07 23:45] stanthomas commented on #258
@tommai78101 I thought I had covered that. However, to avoid any confusion, I can confirm that C++17 support has been added as per the initial request. And as of 7 May 2018 this is in the release of Visual Studio 15.7.0 / VCLinux 1.0.9. Thanks to @itodirel et al.

[2018-05-08 00:10] VladimirAkopyan commented on #132
@lukka  confirm, got same issue here. FileZilla, putty and TerraTerm authenticate just fine. Tried using docker and on a remote machine, same effect.
![image](https://user-images.githubusercontent.com/12278048/39730740-aa02e2a8-5263-11e8-8270-7993876eeac6.png)
# To Reproduce:
Grab a container from:
https://hub.docker.com/r/clumsypilot/dotnetdebug/tags/
docker run -p 2222:2222 -d clumsypilot/dotnet

[2018-05-08 14:27] JulienTheron opened #287 "Project References not working when projects do not follow a flat hierarchy"
Hi,

I'm using the official VS2017 15.7 just released yesterday. I discovered that project references do not work when the projects are not all in the same folder. Headers are not resolved when using the new "Public Project Include Directories" property, and linking fails.

Here are some repro steps:
1. Create a folder named "src". Create two subfolders, "apps" and "libs".
2. Create a Linux Consol

[2018-05-08 20:51] lukka commented on #132
@VladimirAkopyan
Please could you check whether "sftp over ssh" support is available on target?
You could check this in  /etc/ssh/sshd_config file whether it must contain
```Subsystem sftp internal-sftp```
or
```Subsystem sftp /usr/lib/openssh/sftp-server```

[2018-05-08 21:03] yuehuang010 commented on #287
Thanks, I am looking at it.

[2018-05-08 21:13] yuehuang010 commented on #286
1 & 2) Could you please a screen shot of Open Folder and the content of launch.vs.json?
3) could you please share what filename you expect to be select-able?

FYI, extensions with .exe, .bin, .elf , and .out should be selectable.

[2018-05-09 13:49] jensreck opened #288 "Object reference not set to an instance of an object."
switching from VS2017 15.6.7 to 15.7.0 (and also 15.8.0 Preview 1.0) a remote CMake project build (x64) failed while CMake run with...

--------------------------

1> Target info extraction done.
1> Object reference not set to an instance of an object.
   at libcmake.CMakeTargetBase`1.SetTargetInfoAndSources[BacktraceProtocol](CMakeTargetJsonProtocol`1 info, CMakeProjectJsonProtocol`1 project, Deb

[2018-05-09 16:09] brettadams53 commented on #288
I have the same problem except I'm getting it on x86 or 64 bit configurations as well.  I merely upgraded from VS 15.6.7 to 15.7.0 and 15.7.1 with no code changes and this error started happening during the generation phase.  I use a lower version of cmake on my remote Linux VM's (3.9.6 and 3.10) so haven't upgraded them yet.  I suspect that they will have the same problem if I do. The part of my

[2018-05-09 16:32] brettadams53 commented on #288
Not to just be a bearer of bugs...tried out the new CMake Targets View and must say that is a nice feature when cross compiling and living in the cmake world.   Having additional CMake control is also good to have.

[2018-05-09 17:39] lukka commented on #288
@jensreck thanks a lot for reporting this! Could you please provide additional information:
1) which version of cmake is present on the Linux machine?
2) did you compile it yourself? Or is it coming from a standard package of the Linux distribution you are using?
3) are you using WSL? I see 127.0.0.1 as target machine name, it means you are using WSL and you are using SSH to copy file over. Confir

[2018-05-09 17:43] lukka commented on #288
@brettadams53 thanks for the information!
Please could you provide further information:
1) you report is valid for both Windows and Linux configuration, right? I mean the _configuration_ in CMakeSettings.json file. It seems like you are hitting the same error with a Linux and with a Windows configuration.
2) which project are you compiling?
3) Is it a systematic error happening on any source code?

[2018-05-09 17:58] rchiodo commented on #288
This should be the same issue as this dev community item:
https://developercommunity.visualstudio.com/content/problem/243316/cmake-configuration-fails.html?childToView=248180#comment-248180

There's a workaround, add a line like so to your CMakeLists.txt
add_definitions(-DFOO).

It's a bug in how we parse the definitions for groups of files. If there are more than one group of files with different

[2018-05-09 18:04] brettadams53 commented on #288
1. I started with version 3.9.6 I believe when moving over to Open Folder/CMake for Linux.
2. I target various flavors of Linux and since Open Folder is only supported at a certain version of CMake, I simply install a later version on my Linux VM's in their own folder.   I then target that CMake in my .json Linux configuration for make file generation.  Been doing this for a while, it's not perfec

[2018-05-09 18:12] ademyankov commented on #286
3) I haven't realized that .out and .elf works, in my case binaries doesn't have extensions at all, which is not uncommon for Linux!

As you can see on the screenshot:
![vs](https://user-images.githubusercontent.com/13845895/39831095-4b0b4928-5378-11e8-841a-f24b8df7ad53.jpg)
* Debug folders are missing in _Build\Targets\aarch64-gp-gnu-ree, Build\Targets\aarch64-gp-gnu-tee_, obviously, because Solu

[2018-05-09 18:15] brettadams53 commented on #288
lukka,  while I do both Windows and Linux configuration this way it's the Windows route that has been causing me problems.   I was going to report on it when I came across the VSLinux reference to the same thing when a remote CMake of 3.11 was being used.   I want to see the permutations of 15.0 vs. 15.7 so I know what to expect.

I'm in process of collecting some more data on this issue.

You kno

[2018-05-09 18:42] paulmaybee commented on #286
What I am seeing is that the elements in the launch.vs.json do appear in the list of available configurations. But that also all the sln and csproj files appear. Have you tried scrolling down in the list to see if your items are there?

Also, have you tried selecting the "Show All Files" icon at the top of the solution explorer?

[2018-05-09 19:55] brettadams53 commented on #288
rchiodo, that add_definition work around solved both of my problems.   Thanks for the awesome response time; back to slinging bits on windows again.   Will test out on Linux target as well.

[2018-05-09 20:25] ademyankov commented on #286
Shoot! :) "Show All Files" - works (I noticed not the elephant at all :))))

Ok, as for scrolling down in the list it stops on projects with 'M' letters, and doesn't scroll more. It gave me an idea and I tried to rename one of my configurations with the name starting with 'A' and voila it showed up in the beginning of the list!

I'll will use it as a workaround.

Thanks! 👍

[2018-05-10 17:59] lukka commented on #288
@brettadams53 et all: thanks for the help and the time invested to report back useful data. The workaround is to define at least one preprocessor symbol in your CMakeLists.txt file, such as:

```add_definitions(-DFOO)```

The fix is going to be published in the next VS 2017 15.8 preview.
Thanks you all a lot for the report!

[2018-05-10 18:02] brettadams53 opened #289 "remoteCopySourcesMethod: rsync appears to break remote build after clean phase"
Microsoft Visual Studio Enterprise 2017
Version 15.7.1
VisualStudio.15.Release/15.7.1+27703.2000
Microsoft .NET Framework
Version 4.7.02558
Installed Version: Enterprise
Visual C++ 2017   00369-90250-37601-AA553
Microsoft Visual C++ 2017
Microsoft Visual Studio VC Package   1.0
Microsoft Visual Studio VC Package
Visual C++ for Linux Development   1.0.9
Visual C++ for Linux Development
Visual Studi

[2018-05-10 19:58] brettadams53 commented on #289
lukka, yes I understand about the regeneration after a clean.  On my windows builds I have it going to external folders already, so I will do have it target the same on Linux.   Thought it was something simple. Thanks

[2018-05-10 20:17] cwm262 opened #290 "Remote Headers IntelliSense Manager Questions"
I'm curious about the new remote headers feature. (Caveat: I'm pretty new to Visual Studio.) After downloading the remote headers, were we supposed to be able to leverage these headers without any additional configuration or set-up? With a Linux Makefile project, I seem to have to manually add these to the "include search path" in the project property pages to make use of them. The blog post (http

[2018-05-10 22:06] lukka commented on #289
Please reopen this issue or a newer one if you have any other question or issue to report, thanks!

[2018-05-10 22:06] #289 closed

[2018-05-10 22:14] itodirel commented on #290
this was a bug in Makefiles that we fixed since, pending release

[2018-05-11 15:08] cwm262 commented on #290
Ok, Thanks @itodirel. Appreciate the work you guys are doing on this

[2018-05-11 15:08] #290 closed

[2018-05-11 23:12] itodirel commented on #290
you're most welcome @cwm262

this will be available in 15.8 Preview 2

[2018-05-11 23:14] itodirel commented on #285
The architecture checks will be available in 15.8 Preview 2; for the ARM64 support we're working with legal and we'll update you if it can be in the same release or later

[2018-05-11 23:16] itodirel commented on #281
we love all Linuxes, we did some work to use rsync, we'll make sure to check with redhat 6

[2018-05-11 23:26] wcroughan commented on #174
+1

Microsoft Visual Studio Community 2017
Version 15.7.1
VisualStudio.15.Release/15.7.1+27703.2000
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Community

Visual C++ 2017   00369-60000-00001-AA193
Microsoft Visual C++ 2017

Application Insights Tools for Visual Studio Package   8.12.10405.1
Application Insights Tools for Visual Studio

ASP.NET and Web Tools 2017   15.0.40501.0
A

[2018-05-12 02:15] lukka commented on #288
Fix is pending release for next Preview of VS 2017 15.8.

[2018-05-12 02:17] #104 closed

[2018-05-12 02:37] VladimirAkopyan commented on #132
Yep, the issue is gone now

[2018-05-14 07:15] jensreck commented on #288
sorry for the late response but i was out of office. I added your suggestion in the last line of my CMakeList.txt, but without any changes... (15.8.0 preview 1.0). Is there any way to go back to a older release of VS2017? Where I can download it?

---------------------
1. cmake version 3.10.3
2. standard build from dist
3. build with a VBox linuxkit + docker container of ubuntu core. if required i

[2018-05-14 16:18] jensreck opened #291 "CMake: Changes of 'cmakeCommandArgs' will not recognized"
Changes of 'cmakeCommandArgs' (add/remove arguments) will not recognized, manually deleting of CMakeCache.txt on remote Linux machine is required.

[2018-05-14 17:08] lukka commented on #291
@jensreck could you please provide a use case in order to reproduce the issue?
Which version of Visual Studio are you using?

Note that the CMakeSettigns.json file is watched for changes, and each time you change the file the CMake configuration process should start as soon as you save it. You could control this behavior under Tools->Options->CMake->General. When 'Never run configure step automati

[2018-05-14 22:25] lukka commented on #246
@jensreck thanks for the report.
The "install target" feature for Linux has not been implemented yet. No ETA or promise about when it will.

Currently the only workaround I see is to run manually the install command, or by using

[code]

in your CMakeSettings.json file which will be executed after each build.

[2018-05-15 17:33] jensreck commented on #291
If I add an option "-Dfoo=1" to "cmakeCommandArgs" this option will be found in the "CMakeCache.txt" file... well done.
But if I later delete this option it will be further found in the "CMakeCache.txt". Also if I trigger "Generate cache" this option will be further exist there... and... strange behaviour if I now add an additional option "-Dfoo2=3", both options are there...
Only if I delete the

[2018-05-15 23:16] MikeGitb commented on #201
Ping. Any updates? Otherwise I'd just close this issue as there is apparently not a great interest in either the feature itself or in discussing/tracking it here on github.

[2018-05-16 07:58] jensreck commented on #291
Thank you, that explains the behavior

[2018-05-16 07:58] #291 closed

[2018-05-17 22:21] bobroberts177 opened #292 "C++17 IntelliSense does not work with Makefile project"
* A brief description

It does not seem to be possible to set the C++ version for IntelliSense for a Makefile project.  I have tried setting "/std:c++17" in "Properties -> C/C++ -> IntelliSense -> Additional Options" but it has no effect.

* Expected results

This line should not result in an IntelliSense error when the flag is set:

[code]

(Note that it correctly does not result in an IntelliSen

[2018-05-17 23:50] itodirel commented on #292
we fixed this now, and it's going to be available in 15.8 Preview 3

[2018-05-18 21:06] joe-livedata commented on #271
I have observed the same issue when upgrading to VS 15.7.1  The issue presents itself in a large solution with 85 projects, each with 4 configurations.  A fix would be nice, much preferable to the workaround that SamuelHenderson describes.

[2018-05-21 13:55] mprevot opened #293 "build with remote Makefile"
When we do cross-platform dev, GNU make and Makefiles are pretty standards.
I'm having a linux crossplatform project, with the local lxss as remote linux box.

However, I'm building the binaries with GNU make, but I wasn't able to make it work since it seems to be understood as a local (windows) command.

(it fails with C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\VC\

[2018-05-21 14:13] mprevot commented on #293
I actually had the `make` command to *remote build*. But I still have:

1>    C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.Makefile.Targets(163,5): warning : Build command not configured. Skipping...

of course, since I'm building everything on remote machine.

So, what do we need to do ?
Regards

[2018-05-21 16:41] daniel347x opened #294 "Copying binary from remote Linux machine takes 30+ minutes"
I have set up a Makefile project connecting to a remote Linux server running as a Docker container on a GCP VM.

VSLinux connects successfully and (using the 'Remote Build' command) successfully triggers the build of the project on the remote machine (I see the console output for the build in the VS console).

However, at that point, VSLinux proceeds to download the binary that was just built to t

[2018-05-22 08:57] EdorianDark commented on #201
Please do not close it.
I would also be interested in this.

[2018-05-22 22:04] stanthomas commented on #294
There is a trick you can use - create a tiny little file as a final step in the makefile after your executable is built then set as the build target in VCLinux. Something like `echo "build ok" > a.out` should do it.

VCLinux doesn't do anything with the copied target when you debug in `gdb mode` and it doesn't even use it to test that the project is up to date.

[2018-05-23 17:52] MikeGitb commented on #201
@EdorianDark: I don't know if me closing this issue would have any effect on when / if this feature gets worked on. Contrary to other projects like VSCode, there doesn't seem to be enough feedback such that the team could use the issue list to prioritize features.

Of course, there is no harm in leaving this issue open, but if it doesn't serve any practical purpose I like to remove it from my open

[2018-05-24 13:07] RobertK66 opened #295 "PathTooLongException when downloading remote headers from openSuse 42.3"
I am trying to setup Linux C++ development with a new Linux machine
OpenSuse 42.3 x64 (Gnome 3.20.2)
GCC 4.8-11.16
GDB 8.0.1-3.1
gdbserver not installed

Microsoft Visual Studio Professional 2017 Version 15.7.2 Release/15.7.2+27703.2018
Visual C++ 2017   00370-10001-03652-AA288
Visual C++ for Linux Development   1.0.9

The Download stops with "Path to long" Error message:
![image](https://user-ima

[2018-05-24 13:10] RobertK66 commented on #295
Sorry,  I now found #281. Looked before but didn't see it :-(
So  I think this is a duplicate.

[2018-05-24 13:28] #295 closed

[2018-05-24 17:34] lukka commented on #128
Closing as without further data it is not possible to proceed with investigation. Feel free to reopen it, or open a new ticket if the problem occurring is similar but not identical, thanks.

[2018-05-24 17:34] #128 closed

[2018-05-26 03:58] AuroraDysis opened #296 "start debug failed, could not load cache"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
start debug failed, could not load cache
[code]
all things work well before I change my CMakeSettings.json
* Expected results
start debug
* Actual results (with build output window contents if applicable)
no build button when I right click the CMakeLists.txt, when I click Star

[2018-05-28 06:48] sebastue opened #297 "MSBUILD : error MSB6003: The specified task executable "cmd.exe" could not be run."
I try to build the release version of [Apche Celix](https://github.com/apache/celix) on a linux gcc x64 environment. When I build the project with the debug configuration, everything works. But when I switch to the release configuration I get the error: "MSBUILD : error MSB6003: The specified task executable "cmd.exe" could not be run. The working directory "C:\Users\...\\CMakeBuilds\\9d363044-432

[2018-05-29 21:11] yuehuang010 commented on #297
Hello, What version of CMake are you using?  CMake 3.8 or 3.9 are the supported versions.

[2018-05-29 21:16] yuehuang010 commented on #296
Hello, could you share your project or a reduced sample of your project?  Also please share your CMakeSettings.json.
Thanks

[2018-05-30 06:55] sebastue commented on #297
I use cmake version 3.10.3.

[2018-05-30 10:42] AuroraDysis commented on #296
Sorry, I can't share my project, this is CMakeSettings.json
[code]
I will try to make a reduced sample when I am free.

[2018-05-30 20:49] lukka commented on #297
@sebastue this was reported in #288 . The bug will be fixed in the next version of VS 15.8 Preview. Keeping the issue open until the preview version with the fix is released.

[2018-05-31 05:11] xwxbug commented on #284
same issue in centos 6/7.
zip command exist.
vs version: vs 2017 15.8.0 pre 1.1/vs 2017 15.7.2

[2018-05-31 07:20] galah92 opened #298 "cannot open source file "iostream""
* A brief description

Using a linux makefile project and WSL as remote, I'm able to compile & debug.
I do, however, get purple squiggles on basic includes and STL containers (iostream, string, memory, etc).
Remote headers loaded successfully.

![screenshot](https://preview.ibb.co/du8ztJ/Capture.png)

* Expected results

Well, intellisense for that too.

* Actual results (with build output window

[2018-05-31 23:28] vermosen commented on #250
Hi,
@iontodirel: I personally use PuTTY with a centos remote machine and it all works fine.

One of the problem is that the $(RemoteTarget) variable has a pretty clumsy format and currently looks as stated above:
-1647985512;HOSTNAME (username=abc, port=22, authentication=Password)

It is possible to extract the host name in the prebuild/postbuild events with the snippet below, but that would be g

[2018-05-31 23:28] itodirel commented on #298
the purple squiggles is not the same as the red squiggles; if you try to open the header iostream, what happens? does it open? you might get purple squiggles if you have another configuration where does headers are not available, I would have to know more about your project and solution to understand why that happens

[2018-06-01 08:31] galah92 commented on #298
@itodirel I'm sorry, I though I was clear enough.
I've got three projects: shared files, windows console and linux makefile.
Both windows and linux project reference the shared files project.

<a href="https://ibb.co/mzfw8J"><img src="https://thumb.ibb.co/mzfw8J/Capture.png" alt="Capture" border="0"></a>

I am able to open and watch the headers - the windows ones. `iostream`, for example, is opene

[2018-06-01 22:04] itodirel commented on #298
oh I see, thank you for explaining it; I think there might be a bug here with shared project support

[2018-06-02 14:50] ldcsaa commented on #230
Oh ~Thanks a lot ...

[2018-06-02 14:50] #230 closed

[2018-06-03 20:44] ShakeNBlake96 commented on #298
Hi, I am getting a similar error. Everything was working a few days ago, but now I am getting a bunch of red squigglies. It recognizes the headers but now says 'namespace "std" has no member "vector"'. Something with the recent update messed up my iostream and vector. I would like to think I can't be the only one with this problem. Any ideas???

[2018-06-04 13:57] sebastue commented on #297
I get the the same bug as in issue #288 when I use the newest version of visual studio. But does this bugfix also fix my problem with the release version (see above)?

[2018-06-05 01:20] lukka commented on #297
@sebastue it should as the stack trace is identical. I keep this issue open, please report back your findings on VS 15.8 Preview 3 (not out yet).

[2018-06-05 12:51] levhaikin commented on #287
same thing for me...

[2018-06-05 13:05] levhaikin commented on #287
related to #63

[2018-06-06 14:44] lukka commented on #296
@AuroraDysis this is a duplicate of #297
The bug is fixed in the next version Visual Studio 2017 Preview 15.8. Closing this and keeping open the other.

[2018-06-06 14:44] #296 closed

[2018-06-06 21:10] AliAskari commented on #215
@itodirel @robotdad

Do you have any plans to support copying headers that are not system headers and are not part of the project but are used in the project?

Let's say I have a third party library that I'm using in my project however the headers/sources are under a different path on the Linux machine. How do you suggest me to debug that third party library using visual studio? Manually copying i

[2018-06-07 07:08] jensreck commented on #215
A further point is syncing of cross compile headers and a proper switching to the regarding platform e.g. depending on "intelliSenseMode" ("linux-gcc-x64", "linux-gcc-arm", ...), isn't it?

[2018-06-07 08:14] #246 closed

[2018-06-08 18:10] lukka commented on #215
@AliAskari could you please create a new ticket about the copy of headers from remote target to local dev machine? thanks a lot for your support

[2018-06-09 13:52] MNWPRO opened #299 "about Visual Studio 2017 I don't know who to reflect this problem, so I came to GitHub."
Visual Studio 2017 uses gdb7.9 but ubuntu18.04 uses gdb8.1, which leads to some problems in remote debugging of Linux, and hopes to get support from gdb8.1 in the next update

[2018-06-11 02:59] lukka commented on #299
@MNWPRO could you please report what is the error you are encountering?

[2018-06-11 04:09] AliAskari opened #300 "Copy headers from remote machine to local"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

The CMake/Open Folder integration is awesome on Windows and everything Just Works&trade;. On remote machine building is very nice however there are still some problems with debugging. For example I use Conan package manager on Windows and Linux to manage my dependencies and I

[2018-06-11 04:19] AliAskari commented on #215
@lukka Sure, I have created an [issue](https://github.com/Microsoft/VSLinux/issues/300) and also a demo repo so that it's a bit more clear. Let me know if you need more info.

[2018-06-12 21:09] yuehuang010 commented on #299
Hello, we have address the issue in VS2017 15.8 Preview 3.  When it comes out, we will let you know.

[2018-06-13 17:47] drrggibbs commented on #233
I just downloaded VS 2017 15.7.3 with Visual C++ for Linux 1.0.9. I'm still seeing a problem. The static library builds but the main project does not link

[2018-06-14 14:02] AliAskari opened #301 "How to define configuration specific tasks?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

`tasks.vs.json` can be used to define a set of tasks but the tasks are not aware of the configuration, the configs defined in `CMakeSettings.json`. I have 8 different configuration and for each one I have two different tasks, in total there are 16 different tasks. When I try

[2018-06-14 14:02] AliAskari opened #302 "How to define configuration specific tasks?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

`tasks.vs.json` can be used to define a set of tasks but the tasks are not aware of the configuration, the configs defined in `CMakeSettings.json`. I have 8 different configuration and for each one I have two different tasks, in total there are 16 different tasks. When I try

[2018-06-14 14:02] AliAskari opened #303 "How to define configuration specific tasks?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

`tasks.vs.json` can be used to define a set of tasks but the tasks are not aware of the configuration, the configs defined in `CMakeSettings.json`. I have 8 different configuration and for each one I have two different tasks, in total there are 16 different tasks. When I try

[2018-06-14 17:47] lukka commented on #302
Duplicate of #303

[2018-06-14 17:47] #302 closed

[2018-06-14 17:47] lukka commented on #301
Duplicate of #303

[2018-06-14 17:47] #301 closed

[2018-06-14 21:42] martinkalkhofer commented on #261
How can this be done now?

[2018-06-15 07:39] teknos293 commented on #290
Hi,
Linux dev is a great feature. But I am still unable to make the remote header feature work. I have downloaded the header files successfully, but still have the questions @cwm262 had. Do I need to configure something in the "include search path" for the project? Just selecting the connection does not seem to make intellisense use the automatically downloaded header files. I have tried it both o

[2018-06-18 06:00] tawe141 opened #304 "Remote Makefile project builds, but will not debug if relative path "~/folder" is used"
* A brief description
Similar to #99 although mine builds successfully. Previously, my project was compiling with g++ remotely, but after some troubles linking libraries, I use a cmake file on my remote server. VS is set up to run `cmake . && make` as its build command. I kept getting an error saying the remote output file could not be found, so out of frustration, I changed the root project direc

[2018-06-18 18:05] lukka commented on #304
@tawe141 we would strongly suggest to use the Open Folder / CMake functionality instead of using Makefile based vcxproj project. Just select Open Folder and select the directory that contains the root CMakeLists.txt file. Then in the CMakeSettings.json file set the remote hostname you want to run the build and debugging on. Let us know!

[2018-06-18 18:30] lukka commented on #66
Closing as very old issue with no activity since long time. Reopen it if you feel this needs to be investigated, thanks!

[2018-06-18 18:30] #66 closed

[2018-06-18 18:30] lukka commented on #78
Closing as very old issue with no activity since long time. Reopen it if you feel this needs to be investigated, thanks!

[2018-06-18 18:30] #78 closed

[2018-06-18 18:31] lukka commented on #124
Closing as very old issue with no activity since long time. Reopen it if you feel this needs to be investigated, thanks!

[2018-06-18 18:31] #124 closed

[2018-06-19 03:25] tawe141 opened #305 "On downloading headers for IntelliSense, exceeds directory's max 260 character limit"
On creating a remote cmake setup, VS establishes a connection and downloads the zip of headers. On unzipping, it tries to create directories exceeding the max 260 character limit on Windows, throwing an error. Setting the registry's LongPathsEnabled to 1 does not solve this even after restarting. IntelliSense now cannot even find the standard libraries.

Local computer is running:
Windows 10 Home

[2018-06-21 19:21] rwinte commented on #298
I have the same issue with a Linux Makefile project in 15.7.4. This is with the same Remote Header settings from the original post.

![image](https://user-images.githubusercontent.com/906691/41740649-a2eac82a-7566-11e8-8f14-cb1fae0868e2.png)

[2018-06-25 15:52] smlehbleh commented on #285
I was also facing this issue with a 64bit ARM cpu (NVIDIA Jetson TX1 in this instance)
I installed 15.8 Preview 2 and I can confirm that disabling the architecture check removes the "'ARM' is incompatible with the remote system architecture" issue and allows the project to build. I am, however, unable to debug the program. Visual Studio successfully remote runs the application but none of the brea

[2018-06-25 22:47] smlehbleh commented on #285
Nevermind, I got it working, set gdb type to just "gdb".
And also I had to update my assertion code from "__builtin_trap();" to
"{ __asm__ volatile(".inst 0xd4200000"); }" for 64bit ARM

[2018-06-26 07:04] boskars commented on #29
Any date for when this will be solved?

[2018-06-28 20:03] lukka commented on #192
Build all target is present and works on VS2017 15.7. Closing this issue, feel free to reopen this or a new one if needed.

[2018-06-28 20:03] #192 closed

[2018-06-29 02:07] lukka commented on #285
Closing issue, thanks for your support @smlehbleh !

[2018-06-29 02:07] #285 closed

[2018-07-03 12:03] boskars opened #306 "VS 15.8 prev 3 reports missing rsync during header download"
**During download of headers following is reported, although rsync is installed on the remote system:**

![billede](https://user-images.githubusercontent.com/25032095/42218319-76ed5d8a-7ec8-11e8-90a5-8b638baeacbf.png)

**vslinux_header_update_log.txt contains:**

liblinux.IO.RsyncException: Could not start the 'rsync' command on the remote host, please install it using your system package manager.

[2018-07-03 19:05] lukka commented on #306
Is rsync command is avail in the PATH environment variable?
Could you please provide both the PATH and the location of the rsync command?
Are you using the root user in the VS's Connection Manager too?

[2018-07-06 20:29] lukka commented on #306
@boskars Could you please provide these information:
 - What is the target system?
 - Is the provided rsync executable supporting daemon mode?

[2018-07-09 07:10] boskars commented on #306
@lukka , my target system is:

http://variwiki.com/index.php?title=DART-6UL_Yocto&release=RELEASE_MORTY_V1.0_DART-6UL

I can start rsync in daemon mode as shown here:

root@imx6ul-var-dart:~# rsync --daemon
root@imx6ul-var-dart:~# cat /var/run/rsyncd.pid
490

[2018-07-09 16:35] AliAskari commented on #300
Are there any updates on this issue? I have the latest version of Visual Studio Preview installed. I would love to test report possible issues. If there is a way to get your latest day builds that would also be amazing.

[2018-07-09 17:36] AliAskari opened #307 "Option to delete CMake cache folder on the remote machine?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

For Windows CMake projects I get 4 options in the CMake menu after creating the cache, see below:

![image](https://user-images.githubusercontent.com/4864412/42466168-2620fce6-837c-11e8-8b89-88aa8b5bca49.png)

however when I switch the configuration to build on Linux I only h

[2018-07-10 06:00] deiruch commented on #231
At least for me, it doesn't work in 15.7.4. The errors do not show up in the Error List, and clicking error messages doesn't jump to the correct source file. Here's a snippet of the build output:

[code]

[2018-07-10 08:42] deiruch commented on #111
Related to #231 ?

[2018-07-10 08:49] deiruch opened #308 "Configure tasks.vs.json to copy remote build output back to local machine"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
I would like to configure a remote build task in tasks.vs.json to copy build output from the remote machine to my local machine. Alternatively, custom post-build steps that are run locally would also work.

* Expected results
Add support for a tasks.vs.json property called "co

[2018-07-10 21:01] itodirel commented on #201
Hi @MikeGitb, we were planning this feature for Dev15 but we couldn't do it for vcxproj and CMake, only for one, and decided to punt the feature to Dev16. We are planning to do it in Dev16,

[2018-07-10 21:08] MikeGitb commented on #201
@itodirel: Thanks, great to hear!

[2018-07-13 21:46] lukka commented on #300
@AliAskari yes, you are right, headers files from the remote machine are copied over locally on the VS machine in order to have full Intellisense support. Please report back any feedback or suggestion, thanks!

[2018-07-13 21:46] #300 closed

[2018-07-14 03:17] AliAskari commented on #300
@lukka I just tried it and I can't see any difference with the previous version. Intellisense is still not working.

It would be awesome if you could add a simple "hello world" sample project in this repo that everyone could use as reference and report bugs/errors.

[2018-07-14 09:54] RGBradford opened #309 "Unexpected GDB output from command "-environment -cd...."
When debugging a project with a non-default output directory, I get an error dialog with the following error:

Unable to start debugging. Unexpected GDB output from command "-environment -cd. …". No such file or directory.

Visual Studio Professional Version 15.7.5, Ubuntu 18.04 LTS

Steps to re-create:

1. Start Visual Studio
2. Select **File**, followed by **New Project**.
3. In the **New Projec

[2018-07-16 10:47] volzb commented on #274
hi i have zip installed but getting the same issues. is there anything else I can check?

[2018-07-16 14:53] paulmaybee commented on #309
It looks like RemoteOutDir is not tracking your project output directory change. If you manually change Working Directory (under the Debugging section) to "$(RemoteRootDir)\bin\$(Platform)\$(Configuration)\" then you should be able to debug.

[2018-07-16 23:37] HenriSocha commented on #99
I found and am fixing a variation of this issue. In my case, I am referring to `<RemoteProjectDir>` which is used by `<RemoteBuildOutputs>` and other items.
If you look in the .vcxproj file you see:
`<PropertyGroup>` ...
`<RemoteBuildOutputs>$(RemoteProjectDir)...</RemoteBuildOutputs>`
...
`<RemoteProjectDir>$(RemoteRootDir)/.../$(ProjectName)</RemoteProjectDir>`
... `</PropertyGroup>`
All the ...

[2018-07-17 08:54] RGBradford commented on #309
Changing the **Debugging** **Working Directory** to `$(RemoteRootDir)\bin\$(Platform)\$(Configuration)` provided a work around to this issue.
@paulmaybee I think Markdown processing is replacing the combination `\$` with `$` in your workaround recommendation.

[2018-07-17 13:45] dimsedane opened #310 "Remote Headers Intellisense"
I am  playing around with GTK on a raspberry pi. I have installed the gtkmm dev library on the device and the code in the screenshot does work, but Intellisense does not, despite having downloaded the headers:

![billede](https://user-images.githubusercontent.com/617529/42821068-02cc1b06-89d8-11e8-905d-e7ed71e1b78b.png)

I have previously had issues with the fact that my user folder contains a spa

[2018-07-17 16:04] martinkalkhofer commented on #300
I'm running into the same issue using 15.8pre4. Intellisense isn't working.

[2018-07-18 02:57] necktwi opened #311 "Encountered "CMake scanning exception Path must be rooted" while VS generating CMake cache."
I have created a samba share of my Linux C++ project, mapped it to a network drive (Z:) and opened the "Z:\\RemoteCMakeProject\\CMakeLists.txt" with the Visual Studio so that sources don't have to be copied to remote Linux machine. So I have set "remoteCopySources": false in CMakeSettings.json

On generating CMake cache to refresh, CMake generator says:
...
...
1> -- Generating done
1> -- Build fi

[2018-07-18 14:53] deiruch commented on #231
It appears that the parser currently only supports errors and warnings that include a column marker:

Not yet supported:
[code]

Supported:
[code]

[2018-07-19 15:01] CodyPannell commented on #142
@lukka I'm also having this issue, I have SSH and SFTP running but they're running through dropbear. Is VS2017 incompatible with dropbear?

[2018-07-19 18:27] rchiodo commented on #311
What you're attempting is not supported. It's confused over whether the cmake is local or remote. It's attempting to take your remote path and make it relative to your build root.

[2018-07-23 02:46] ysiw commented on #281
same issue found for mac host

[2018-07-24 08:41] itodirel commented on #310
Could you tell me where is the location of gtkmm.h? And if you click Explore, in the UI, is the header there?

[2018-07-24 08:51] dimsedane commented on #310
Yes, the header is at usr\include\glibmm-2.4

And it is there when using the Explore button.

To include it at build/link time, I use `pkg-config gtkmm-3.0 --cflags --libs` is there additional project setup needed for intellisense?

[2018-07-24 16:50] necktwi opened #312 "CMake remote project is not taking the input arguments specified in launch.vs.json"
* A brief description
I am trying to debug a remote Linux CMake project. I have specified the command line input arguments for the application in `launch.vs.json` as shown below

[code]
* Expected results
Program should receive input arguments

* Actual results (with build output window contents if applicable)
The program doesn't receive input arguments

* VC++ version:
Visual C++ 2017 00369-60000

[2018-07-24 17:48] AliAskari opened #313 "How to configure different build and debug machines?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

I am building my project on machine A, but I'm trying to debug it on machine B. in `launch.vs.json`  of the project I am using machine's B name under the `remoteMachineName` section but I am getting the following error:

![image](https://user-images.githubusercontent.com/4864

[2018-07-24 17:50] paulmaybee commented on #312
I am not able to reproduce your problem. Did you select "ferryfair" as the startup item before you launched the debugger? Can you attach a trivial repro case?

[2018-07-24 17:55] paulmaybee commented on #313
the -environment-cd command is passed the value from the "cwd" property in your launch.vs.json file. Normally it looks something like: "cwd": "${debugInfo.remoteWorkspaceRoot}"
If you are not debugging on the build machine (A) then you will need to change "cwd" to reference a valid location on machine B. Also you will need to manually copy your output binary to machine B and make sure "program" re

[2018-07-24 18:00] AliAskari commented on #313
Yeah, this I understand and I have already set my postbuild to do it for me.

Yeah, that was it. I manually changed `"cwd"` to point to the right path and it's now working without any issues. Thanks!

[2018-07-24 18:02] AliAskari commented on #300
@lukka Do you have any updates on this issue?

[2018-07-24 18:22] martinkalkhofer commented on #313
What I miss is the possibility to do the copy job to B with a task in tasks.vs.json which can be referenced from the launch.json as a "prelaunch task". Copying with a postbuild step would lead to a build error if debug machine is not running.

I know that VSCode has this feature. It would be important to have something similar in Visual Studio.

[2018-07-25 00:28] #292 closed, assigned to lukka, itodirel

[2018-07-25 18:02] necktwi commented on #312
Oops! Didn't know VS generates another target apart to the ones specified in CMake.

[2018-07-25 18:02] #312 closed

[2018-07-25 18:22] 23pret opened #314 "linker error"
I am getting the following linker error:

Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets(341,5): error : Packet is too big. Maximum packet size is 68536 bytes.

Does anyone know what this error means?

here is the full error log:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\VC\VCTarget

[2018-07-26 15:42] deximy opened #315 "How can I use third-party SDK when developing?"
I'm trying to write a project with a third-party SDK. It's a cross platform project.
On windows, what I need to do is just set Additional Include Directoris in C/C++ and Additional Dependencies in Linker and it works fine.
However, when I tried to transform the project to Linux and set AID and AD to compile, VS told me error " No such file or directory" on the line of the "#include".
Wouldn't VS c

[2018-07-26 19:25] jambagigirish opened #316 "Linux.targets(341,5): error : Packet is too big"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description-
Linking error of Packet is too big

* Expected results-
linking successful and project is built succesfully
* Actual results (with build output window contents if applicable)
Other small project build perfectly fine- But this project has 1600 source code files - Applications.

[2018-07-26 20:59] 23pret commented on #314
here is the full error log:

1>Validating architecture
1>Starting remote build
1>Compiling sources:
1>Linking objects
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets(341,5): error : Packet is too big. Maximum packet size is 68536 bytes.
1>Done building project "Applications.vcxproj" -- FAILED.

[2018-07-26 22:06] lukka commented on #316
Duplicate of #314

[2018-07-26 22:06] #316 closed

[2018-07-26 22:07] lukka commented on #314
@23pret  which version of VS are you using?

[2018-07-27 01:48] yuehuang010 commented on #287
Hello, here is a quick update.  I had to redesign the way P2P are handled for remote Linux.  Before the model was child project provide local path to parent project, then the parent project would translate it to remote path.  However, remote build takes a project centric model and assumes every project is leveled.  Thus the prior logic is wrong.
With the up-coming 15.8 Preview 5, the new model wil

[2018-07-28 09:38] xcyl opened #317 "vs2017 build linux project use cmake-Input string was not in a correct format."
1> /usr/bin/cmake -G "Unix Makefiles"  -DCMAKE_BUILD_TYPE="Debug" "/var/tmp/src/4d72ccab-fac1-1530-8b99-ef6315149803/Linux-Debug/CMakeLists.txt";
1> -- Configuring done
1> -- Generating done
1> -- Build files have been written to: /var/tmp/build/4d72ccab-fac1-1530-8b99-ef6315149803/build/Linux-Debug
1> Starting CMake target info extraction ...
1> Target info extraction done.
1> Input string was no

[2018-07-29 09:18] necktwi commented on #297
[code]
I hope this is the same issue I encountered. The workaround mentioned at [#288](https://github.com/Microsoft/VSLinux/issues/288) didn't work.

[2018-07-29 10:29] Necktwi opened #318 "CMakeListst.txt add_subdirectory that is not a sub directory of the project"
In my CMakeLists.txt I did
[code]
* Expected results
A reference of sub project in the SolutionExplorer's file system tree

* Actual results
No reference of sub project in the SolutionExplorer's file system tree

* VC++ version:
Visual C++ 2017 00369-60000-00001-AA086,
VisualStudio.15.Release/15.7.5+27703.2042
Linux: 4.9.78-v7 armv7l GNU/Linux,
gcc (Ubuntu/Linaro 5.4.0-6ubuntu1\~16.04.10) 5.4.0 20

[2018-07-30 13:54] jambagigirish commented on #314
After running the diagnostic
Task "Ld"
1>    Task Parameter:ProjectDir=C:\ViewStore\workspace\project1\Config_Files\Linux_workspace\
1>    Task Parameter:ProjectFileName=Applications.vcxproj
1>    Task Parameter:RemoteProjectDir=/home/user1/project/project1/Source/Applications
1>    Task Parameter:IntermediateDir=~/project/project1/temp/Applications/Release/
1>    Task Parameter:RemoteTarget=18245

[2018-07-30 18:33] lukka commented on #317
@xcyl could you provide us a repro? We need a small project to build and reprocude that behavior. Have you tried on VS preview 15.8 preview 5?

[2018-07-30 18:34] lukka commented on #318
@necktwi could you provide us a screenshot of the solution explorer? have you tried with VS 15.8 preview?

[2018-07-30 18:54] lukka commented on #297
@necktwi could you please provide a small project (i.e. cmakelists.txt and source code) to repro what you are seeing?

[2018-07-30 20:48] 23pret commented on #314
As a test ,we reduced  the length of the g++ linker command to less then 68K characters long and it fixed the issue.  But unfortunately our project is huge and the command length is currently three times longer.

Is there a configuration parameter for this somewhere in visualstudio to change 68536 limit???

[2018-07-31 11:15] necktwi commented on #297
I was able to repro in VS 15.8.0 Preview 5.0.

[2018-07-31 12:51] necktwi commented on #318
I did try VS 15.8.0 preview 5.0
![se](https://user-images.githubusercontent.com/2793912/43460521-798d1512-94ee-11e8-95da-7ef256269064.png)

[2018-07-31 16:28] xcyl commented on #317
@lukka yes, I tried VS preview 15.8 preview 5,  they have the same problem.
You can try CentOS Linux release 7.3.1611, even the "hello world" program will have this problem.

[2018-07-31 16:42] SamuelHenderson opened #319 "cannot step into shared object library using gdbserver"
* A brief description
I'm using gdbserver, because the remote linux machine I am connecting does not have gdb installed (it only has gdbserver).
If I add a shared object library project to my solution and put some breakpoints in it's code and some breakpoints in the application I'm debugging... When I start debugging, the breakpoints in the application code are hit and I can step through applicati

[2018-07-31 18:00] lukka commented on #318
@necktwi The solution explorer is showing the content of the files in the subtree of the folder you opened.
My suggestion is to have a root folder that contains your CMakeLists.txt file that does include all the project you need, and these must be in the subdirectories of the root dir. Regarding external project, you do not need to include them by add_subdirectory.
I would strongly suggest to use

[2018-07-31 18:28] necktwi commented on #318
But putting a dependency inside the project makes it impractical for the other internal projects to include the same dependency. A dependency doesn't always have to be an external project it could be some another internal project.

[2018-07-31 18:38] paulmaybee commented on #319
Looks like a bug in setting the solib-search-path. To work around it, instead of setting the "Additional Symbol Search Paths" property you can put the command:
`set solib-search-path C:/temp/termsim_hello_world/Test/bin/x64/Debug`
into the "Additional Debugger Commands" property.
For breakpoints to bind correctly you will also need to point to your non-project source in the "Additional Sources Fil

[2018-07-31 20:47] SamuelHenderson commented on #319
Thanks paulmaybee!  This works 👍 .  However, my actual Visual Studio Solution I'm working with has 15 shared object library projects ... I guess I'll need to map each project path  for the Sources File Path Map.

[2018-07-31 20:52] paulmaybee commented on #319
I believe that if they are all under a common solution you can do something like:
C:\temp\mySolution=/home/Iotsys/projects

This will work as long as the source paths under "mySolution" on the windows machine matches the souce paths under "projects" on the linux side. Which they usually would for a normal solution.

[2018-07-31 20:54] lukka commented on #318
@necktwi Could you provide a small repro of the depending and dependant projects in a zip file attached to this issue? thanks

[2018-08-01 10:57] dt-karl-kuhn commented on #287
Hi @yuehuang010, I have just installed 15.8 Preview 5 and it had broken my build because of this issue. There is no clear documentation on how the remote paths should be set up if using a slightly more complex project/folder hierarchy.

e.g. My folder hierachy on linux should be

[code]

So I want to build everything in ProjectToBuildFolder which includes sources and headers in the shared folders.

[2018-08-01 13:26] SamuelHenderson commented on #319
Excellent.  Thank you very much again.

 I guess the bug with 'Additional Symbol Search Paths' will be resolved in a future update?

[2018-08-01 14:51] 23pret commented on #314
hi - any suggestion how to fix this one?

[2018-08-01 15:32] PureRockets commented on #121
This issue is still active in VS 2017, it should not have been closed.

[2018-08-01 22:31] itodirel commented on #314
I think this is a bug on our side and we need to fix it

[2018-08-01 22:59] paulmaybee commented on #121
This bug in cause by linking on 32-bit machines with the -z,now flag and then debugging with gdb. To work around it change your project property value for Linker->Advanced->"Enable Immediate Function Binding" to "No".

[2018-08-02 03:17] lukka commented on #317
@xcyl how did you got cmake 3.11.4 on CentOS 7.3? The yum package manager is reporting cmake 2.8 available only.

Please try with our [prebuilt binary of cmake for Linux](https://github.com/Microsoft/CMake/releases) and report back the result, thanks!

[2018-08-02 03:56] 23pret commented on #314
Yes,  Our project has 3k+ files and we were able to build directly on linux but not using VS.

[2018-08-02 15:41] syalanurag1991 commented on #174
Hi guys, I am getting a similar issue here. Was trying to build an Android-based dll for a Unity Project. The project uses OpenCV libraries. @rodrigo2019, were you able to solve this?

[2018-08-02 16:25] rodrigo2019 commented on #174
@syalanurag1991  I started to use android studio and it worked fine

[2018-08-02 16:38] syalanurag1991 commented on #174
@rodrigo2019 I am really inexperienced in Android Studio. Do you have like a tutorial for this exact thing?

One thing that I noticed was, a precompiled version of OpenCV for Android works fine. But I need bgsegm from the opencv contrib repo. So I have no choice but to compile it myself.

I am building a dynamic shared library for Android-based Unity applications that would use opencv natively.

[2018-08-03 18:22] BenArtes opened #320 "VS 15.7.6 can't Generate CMake cache, possible symlink issue"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
I'm trying to import a Robot Operating System (ROS) project from a Ubuntu 16.04 VM. After cloning the Linux project onto the windows machine and configuring the Remote in Connection Manager I can see the /usr folder has been copied onto the windows machine but not the files in

[2018-08-03 19:50] lukka commented on #318
@necktwi  thanks for the repro.
Right now CMake VS for Linux support requries you to have all source files under the subtree where CMakeLists.txt is at the root of it.

I would suggest you to resolve external project references by using FIND_PACKAGE, and please avoid using ADD_SUBDIRECTORY and then you add a parent directory, as that is not how CMake is supposed to work.

In your particular case y

[2018-08-03 19:51] lukka commented on #317
@xcyl I just used CentOS 7.3 with our prebuilt cmake and it worked with the "hello world" project.

[2018-08-04 12:32] necktwi commented on #318
Yes to build on travis-ci is bit of a pain but just a couple of lines as [here](https://github.com/necktwi/LiSpScPaRo/blob/50518394ed29171b69ed13b5af0639a6c041b7ef/.travis.yml#L46) should do the trick.

[2018-08-06 16:47] conwayk opened #321 "Natvis DisplayString Missing, Tooltip Refresh Not Working"
I'm having an issue where Natvis DisplayStrings are not working when using VS2017 to debug a Linux project.

Essentially I'm having the same issues as described in issues #112 and #222 although both these issues say they have been fixed.

Here is some very simple sample code I am trying:
`class Rectangle { public: int height; int width; };

int main()
{
  Rectangle square;
  square.height = 5;
  s

[2018-08-06 18:24] paulmaybee commented on #321
This is a bug in the VS Linux support. There is no project property to allow the user to turn on the default display of "DisplayString" elements. Until it gets fixed you can hack around the problem by taking advantage of another bug: replace the default stl visualizer file in Properties->Debugging->Visualization File (**$(LinuxNatvisPath)\stl.natvis**) with the string (**$(LinuxNatvisPath)\stl.nat

[2018-08-06 21:27] lukka commented on #320
@BenArtes  thanks for the report. Please could tell us which project you cloned? We need the git repo url.

[2018-08-06 21:36] BenArtes commented on #320
Sorry for not including that; I'd been hoping this was a known issue.

Tomorrow I'll spin up a fresh Ubuntu 16.04 VM with fresh installs of ROS etc and make a github repo for a basic ROS hello world (as described in [A Gentle Introduction to ROS](https://cse.sc.edu/~jokane/agitr/agitr-letter.pdf)).

Would a link to that repo be sufficient? Should I include links / instructions for basic ROS instal

[2018-08-07 09:48] TanLingxiao commented on #86
There may be no problems. Please open the linux console instead of windows ,you can see the result. (Debug -> Linux Console)

[2018-08-07 09:49] TanLingxiao commented on #86
![q rz ng tjvs8umqduyw](https://user-images.githubusercontent.com/8078355/43768527-2698fcbe-9a6a-11e8-89fe-6a3aee3cf5f6.png)

[2018-08-07 12:38] JulienTheron commented on #287
Thanks @yuehuang010, the issue is fixed in 15.8 Preview 5!

[2018-08-07 17:00] lukka commented on #287
Thanks for reporting it! Closing the issue.

[2018-08-07 17:00] #287 closed

[2018-08-07 17:02] lukka commented on #320
@BenArtes yes, that should be fine. Is the symlink already on the remote target? Or is the symlink expected to be copied over from Windows to Linux by mean of rsync? The former should not be a problem the latter needs investigation if it is possible and how.

[2018-08-07 23:46] lukka commented on #300
@AliAskari could you please elaborate what is not working?
Note that the current preview of Visual Studio downloads the headers file from the remote machine onto the Windows box by means of rsync, and those files will be used for Intellisense on VS.
This is currently working only for the standard headers (e.g. /usr/include), i.e. if you have a headers installed at /anything/else it would not curre

[2018-08-07 23:53] AliAskari commented on #300
@lukka I see. Well, my header files are actually under `/something/else`, so no wonder it's not working. Do you have any plans to support this feature?

[2018-08-08 13:25] Berrysoft commented on #284
It succeed in Ubuntu 16.04, but after upgraded to 18.04 it failed.

Zip exists.

vs version: 15.7.6

[2018-08-08 16:36] BenArtes commented on #320
Sorry for the delay, and I solved the symlink issue and found what I believe are the core issues with ROS.

First: [My Test Repo](https://github.com/BenArtes/catkin_vstest_ws) - I've included the normally .gitignored devel and build directories which should be deleted before attempting to build. This project was located `~/catkin_vstest_ws` and contains a package `hello` with node `hello` that sho

[2018-08-08 18:44] itodirel commented on #284
can you attach the log?

[2018-08-08 20:18] lukka commented on #52
Closing as no activity since more than 1 year. Feel free to reopen it if you believe it is useful to keep track of it, thanks.

[2018-08-08 20:18] #52 closed

[2018-08-08 20:18] lukka commented on #85
Closing as no activity since more than 1 year. Feel free to reopen it if you believe it is useful to keep track of it, thanks.

[2018-08-08 20:18] #85 closed

[2018-08-08 20:19] lukka commented on #6
Closing as no activity since more than 1 year. Feel free to reopen it if you believe it is useful to keep track of it, thanks.

[2018-08-08 20:19] #6 closed

[2018-08-08 20:28] TheLastRar commented on #25
The only project I use this on is x86 (outside constraint), I would rather be able to build and debug on an x64 machine without having to use the workaround posted above

[2018-08-10 09:24] avalon1610 opened #322 "Debugging with cross-platfrom device without ssh"
Our embedded device does not have ssh access for some security reason. how can I debug with it?

- write source code on windows (VS2017)
- build app use cross-platform g++ (Build machine, Linux, x64)
- run app on embedded device (Target embedded device, armv7)

Because device can not be accessed via ssh, I can not set it as a remote build machine.
I tried set Debugging Mode to gdbserver,  it seems

[2018-08-10 15:14] paulmaybee commented on #322
To debug on a remote device without SSH try these steps:
1. start gdbserver on the device listening on some port (e.g. 12345)
2. In VS open a folder (File->Open->Folder) containing your sources and binary.
3. In the solution explorer enable "Show all files" at the top of the explorer.
4. Find your binary (e.g. a.out) and right click on it. Select "Debug and Launch Settings".
5. From the popup sele

[2018-08-11 00:30] lukka commented on #73
Closing as no activity since long time. Feel free to reopen this or a new issue item, thanks!

[2018-08-11 00:30] #73 closed

[2018-08-13 00:55] avalon1610 commented on #322
Thanks for the reply.
I tried this solution, it show me an error said:

here is my launch.vs.json
[code]

by the way, there is a red squiggle under `cppdbg` says:

Does this have any effect?

[2018-08-13 03:15] jainyzau commented on #132
@lukka Hello, I still have this problem, would you please help me? Thank you.

My environment is:
CentOS 7.5 x86_64,
Visual Studio 2017 Community 15.7.6
Visual C++ for Linux Development 1.0.9

I have checked the sftp in sshd_config, and it's enabled I think.

[code]
Where I can get more logs for this error? I chcked `/var/log/secure`, and it seems good.

[code]

[2018-08-13 03:53] jainyzau commented on #132
@lukka Sorry for disturbing. No need to investigate it now. It's caused by one of our system setting. I don't know the reason at this moment, but when I comment out our specified setting in .bashrc, it works.

[2018-08-14 00:44] lukka commented on #132
@jainyzau thanks for the report.
Could you please advice what is the settings in .bashrc that interfere with the copy of the sources?
By the way, could you please switch to 'rsync' as source copy method, instead of "sftp"?
Thanks for your support!

[2018-08-14 11:31] stanthomas commented on #162
@lukka
I do not agree with your perfunctory closing of this issue. Regardless of the merit of the issue raised, there is an outstanding action against the development team (@itodirel) and you should report on that first. Either 'adressed in release xx.xx by *change detail*' **or** 'will not be actioned because *reason*'. The passage of time is irrelevant; it is quite possible that others with a si

[2018-08-14 11:36] stanthomas commented on #25
@lukka
I do not agree with your perfunctory closing of this issue. @robotdad placed this on your *todo* list and you should report on that first. Either 'adressed in release xx.xx by *change detail*' **or** 'will not be actioned because *reason*'. The passage of time is irrelevant; it is quite possible that others have found this topic and concluded that a resolution is on its way.

[2018-08-14 11:41] stanthomas commented on #6
@lukka
I do not agree with your perfunctory closing of this issue. There is an outstanding action against the development team and you should report on that first. Either 'adressed in release xx.xx by *change detail*' **or** 'will not be actioned because *reason*'. The passage of time is irrelevant.

In my case, the issue is somewhat moot since I have now moved on to C++17 but I still believe that

[2018-08-14 11:58] stanthomas commented on #29
To mark the second anniversary and to pre-empt @lukka closing the issue thru lack of activity, I will observe that this is still a constant irritation and major time waster.

Case 1, where the affected headers are within the current VS project or solution, seems reasonably straightforward and would address 99.9% of cases in the development cycle.
Case 2 is certainly more difficult but if we can as

[2018-08-15 19:55] jhattonKv opened #323 "Can't download Qt headers for IntelliSense"
When I try to download headers from a raspberry pi running raspbian pixel it always fails on unzipping the phonon folder in QT4 with an access denied error.

"An error has occured. Access to the path 'C:\Users\jhatton\AppData\Local\Microsoft\Linux\Header Cache\1.0\-1040798696\usr\include\qt4\phonon\phonon' is denied.. Please see C:\Users\jhatton\AppData\Local\Temp\vslinux_header_update_log.txt for

[2018-08-15 21:54] itodirel commented on #6
This is not quite the same scenario as Windows. On Windows we control the compiler, we can set the defaults. On Linux, that depends the machine the project is connecting to. Ideally, and something I wanted to do, is to detect the minimum supported language standard given the compiler set in the project, and dynamically provide it in the Property Pages. So you won't be able to set C++17 if your com

[2018-08-15 22:11] itodirel commented on #29
We have an internally tracked feature that we are planning (but not confirmed) for Dev16 to address this

[2018-08-15 22:11] itodirel commented on #29
We have are tracking this internally, and are planning in a future release

[2018-08-15 22:12] itodirel commented on #162
@lukka can we reproduce this, is it a bug?

[2018-08-16 06:47] lukka commented on #323
@jhattonKv could you please report that content of the log file? Thanks a lot.

[2018-08-16 10:54] stanthomas commented on #6
`gcc --version` , run when the remote connection is created. Command line option support is well documented so a simple lookup table. No need to go overboard checking for feature matching.

It would be useful to check other pre-requisites as well since some have tried to run on WSL without first installing GDB.

And a *refresh* button in the remote connection manager as a shortcut for deleting and

[2018-08-16 12:55] jhattonKv commented on #323
@lukka I have updated the original comment with the content of the log file

[2018-08-16 18:57] duncangravill opened #324 "Configure GDB to ignore 'raise.c not found' exception"
I'm working on a solution that consists of a .net core console app interoperating with a VCLinux shared object project.

When the .net core console app project is set as the startup project the solution runs as expected and the shared object file produced by the VCLinux project runs smoothly. However when the VCLinux project is setup as the startup project, so that it can be debugged and developed

[2018-08-17 17:36] ashokbruno commented on #226
I am running 15.8 with Windows 10 1803 and am seeing this issue.

[2018-08-17 19:24] jessebenson opened #325 "Relative Additional Include Directories are not handled correctly"
**Description**
If both the AdditionalIncludeDirectories and ClCompile/ClInclude contain relative paths, the remote build fails.  Setup:

src/ProjectA/ProjectA.vcxproj
src/ProjectA/main.cpp
src/common/helper.h
src/common/helper.cpp

src/ProjectA/ProjectA.vcxproj:
[code]

This generates the following layout on the remote:
~/projects/ProjectA/ProjectA/main.cpp
~/projects/ProjectA/common/helper.cpp
~

[2018-08-20 15:52] fpGHwd commented on #86
I'll try this.

[2018-08-20 17:44] #324 closed

[2018-08-20 17:50] duncangravill commented on #324
The exception was actually a DllNotFoundException being thrown from PInvoke, the error message just seemed really strange to me and not relevant to the cause, and the call stack led me to believe the exception was originating from a dotnet background thread, which could potentially be ignored.

It seems I was off track, sorry for the confusion.

[2018-08-21 23:57] lukka commented on #323
it looks like

`C:\Users\jhatton\AppData\Local\Microsoft\Linux\Header Cache\1.0-1040798696\usr\include\qt4\phonon\phonon
`
is missing a separator as in :

`C:\Users\jhatton\AppData\Local\Microsoft\Linux\Header Cache\1.0\-1040798696\usr\include\qt4\phonon\phonon`

[2018-08-23 07:11] xiaol-luo commented on #317
I use visual studio 2017 15.9.0 preview 1.0 and in centos7.3.1611 I have tried cmake 3.9.0 cmake 3.12 cmake 3.11 . they all meet the same problem showed above:

error message :
1> Copying files to remote machine...
1> rsync -t --delete --delete-excluded -v -r --exclude=.vs --exclude=.git --exclude=.vs --exclude=.git  /E/git_dir/test/ rsync://root@localhost:49938/temp
1> sending incremental file li

[2018-08-23 09:17] ozzynator opened #326 "Deleting a remote connection that was used in a project leads to unexpected behaviour"
Hello,
When I try to build, VS for Linux asks me to provide an SSH connection. I have Ubuntu bash for Windows running with ssh enabled, so I enter "localhost" with respective username and password. Visual studio connects to the ubuntu bash and syncs intellisense data and some things.
Then, the following comes up:

1>------ Build started: Project: myproject, Configuration: Debug x64 ------
1>Valida

[2018-08-24 07:50] ozzynator commented on #326
I deleted the file
C:\Users\<User>\Documents\Visual Studio 2017\Default.rdp
which included the line
full address:s:192.168.178.43
but with no effect.

In the project settings, I found the entry
Remote Build Machine set to -373503931;192.168.178.43 (username=, port=22, authentication=Password)
Removing this resulted in Visual Studio filling it up automatically with
localhost (username=<TheUserNameI

[2018-08-26 15:28] xXxSiMoNxXx commented on #226
Me too, I run 15.8.1 and see it suddenly. Can't do remote debugging.

This is the error:
error MSB4044: The "Execute" task was not given a value for the required parameter "RemoteProjectDir".

[2018-08-27 01:50] conwayk opened #327 "Python Pretty-Printing when attaching with Linux makefile vcxproj"
I've tried to use Python Pretty-Printing with a Linux makefile vcxproj. It seems to work when doing a debug launch but not when attaching. If I try directly on the Linux machine, pretty printing works for both debug and attach.

Is there a way to enable Python pretty-printing when attaching using a Linux makefil vcxproj? There is a blog post about this at [Attach to Process improvements](https://b

[2018-08-27 11:41] xcyl commented on #317
@xiaol-luo update your ssh-server

[2018-08-27 15:46] paulmaybee commented on #327
You can enable pretty-printing using the command windows (View->Other Windows->Command Window). Just enter
`debug.miexec -enable-pretty-printing`

[2018-08-28 04:05] conwayk commented on #327
Thanks! This worked with a minor modification of using debug.midebugexec rather than debug.miexec.

Is there any way to automate it, perhaps with Microsoft.MIEngine.Options.xml? I added this file with the following contents to my project but it doesn't seem to execute automatically.

`<?xml version="1.0" encoding="utf-8"?>
<SupplementalLaunchOptions>
    <AttachOptions>
      <AttachOptionsForConn

[2018-08-28 12:53] menting311 commented on #226
I am also seeing this all of the sudden on 15.8.1 and 15.9 p1 so it is probably a setting on the project that was updated and is causing the issue.
It started for me after I did a "clean" on the project, not sure if that is related or not.

error MSB4044: The "Execute" task was not given a value for the required parameter "RemoteProjectDir".

[2018-08-28 13:42] menting311 commented on #226
I was able to find a workaround. Initially I tried the workaround above with the PreBuilEvent target but that didn't work. My issue was from duruing the build itslef so I had to find the "Build" event in the below file and then copy that to my project file and update the remote build directory.

C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\VC\VCTargets\Application

[2018-08-28 17:36] paulmaybee commented on #327
That options file looks like it should work. Do you have the file placed in the solution directory?

[2018-08-29 05:26] theRealRed commented on #317
I meet the same issue just as mentioned here with centos 7.3.1611 and cmake 3.11.4.
Is there any way to fix it please? @xcyl  @lukka

[2018-08-30 05:55] cxh852456 opened #328 "Memory Window read memory failed when debug"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

**When i debug a test case, i found that it is valid in variants window but not valid in memory window**

* Expected results

**In the Memory window i can see the same result with the variants windows**

* Actual results (with build output window contents if applicable)

**no

[2018-08-30 19:10] lukka commented on #306
Problem should be fixed, it will be in the next Visual Studio Preview release.
Please let us know, thanks!

[2018-08-30 22:08] paulmaybee commented on #328
I am not able to reproduce your problem. Does this happen on every project? Do you have a small repro project that you can share?

[2018-08-31 00:56] cxh852456 commented on #328
it is a sample in code of follow link

https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore

this problem happen every time in this project, other projects is testing, if i have some progress i will tell u

[2018-08-31 19:30] paulmaybee commented on #328
Still not able to duplicate using the Linux sample from https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World/Linux_OSX.

You seems to be using the Windows sample and somehow building it for Linux. Are you defining "_WIN32" for your Linux build? Is that what you intended?

Perhaps if you told me how you built the sample code I could reproduce your behavior.

[2018-09-01 22:30] PrecisionWaveRF commented on #306
I have the same issue with rsync on VS 2017 enterprise 15.8.2
rsync is correctly installed and running on the target machine but VS can not "start the command"

[2018-09-04 21:27] devinvisible commented on #306
I'm also seeing the same issue described above.

[code]
[code]
[code]

[2018-09-05 15:57] martinky commented on #310
I have the same issue on VS 15.8.2 with Qt headers.

The Qt headers were successfully copied from the remote machine to the local HeaderCache, which I verified by looking into the cache directory. For example, the `QCoreApplication` header clearly exists in this directory on my machine: `C:\Users\Martin\AppData\Local\Microsoft\Linux\HeaderCache\1.0\-1055062414\usr\include\arm-linux-gnueabihf\qt5\Q

[2018-09-05 19:48] lukka commented on #306
Please note that the next version of Visual Studio Preview will be 15.9 Preview 3. No public ETA yet.

[2018-09-05 21:31] lukka commented on #317
@xcyl @theRealRed could you please try with the [prebuilt binary of CMake for Linux](https://github.com/Microsoft/CMake/releases) and report back the result, thanks!

[2018-09-05 23:04] paulmaybee commented on #327
Hmm. Ok, this is what I have done and it works, even when the solution open contains a Makefile project.

1. Opened a solution in VS.
2. Copied your xml from above into Microsoft.MIEngine.Options.xml in c:\users\me\Repos\ConsoleApplication1 (the solution directory)
3. Started ConsoleApplication1.out running on the target linux machine
4. Opened the Debug>Attach to Process dialog and selected Conso

[2018-09-06 06:35] huang-tianwen commented on #290
@teknos293 i am facing similar problem, downloaded the header files but intellisense still give me error cannot open source file cstdio. but can compile. Using Visual Studio Community 2017 version 15.8.2

[2018-09-06 07:02] boskars commented on #306
Currently the next version for us in the outside world is 15.9 Prev 2, will this fix in the version after the next version?

[2018-09-06 22:03] conwayk commented on #327
Hi @paulmaybee , actually it was my mistake, I was putting the xml file in the project folder location, not the solution folder location. When I was following the steps you did I realized the mistake. It works now! And the log command is very useful especially for debugging the pretty printers! Thanks!

[2018-09-06 22:03] #327 closed

[2018-09-08 06:02] alex4998 commented on #306
Is there a workaround until the fix is released? Will the fix work for

Linux OpenWrt 4.14.68 #0 SMP Fri Sep 7 15:21:24 2018 i686 GNU/Linux

[2018-09-08 07:27] AliAskari opened #329 "Visual Studio freezes when Locals and Autos windows are open"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

If the scope of the debugger changes to a file with a significant number of locals, the locals and autos debug windows do not update and Visual Studio just freezes and doesn't show the variables in the locals and autos windows. I remember having this issue 2 years ago and I t

[2018-09-08 13:10] mseklertt commented on #226
Started happening for me since yesterday I upgraded to 15.8.3. Exactly the same error.

[2018-09-09 06:39] doingnz opened #330 "Handling of cmd.exe in VS2017 vs. VSCode?"
* A brief description
I am trying to add support for nanoFramework to use these tools to cross compile to embedded systems, starting with Espressif ESP32.

CMake/Ninja generate `build.ninja` and `rules.ninja` under VSCode and VS2017 (15.8.x) that are the same. VSCode will successfully build the project to completion. VS2017 compiles all the src files, but fails near the end of the build process wh

[2018-09-09 09:46] xXxSiMoNxXx commented on #226
@lukka
Can you address please to the issue ?

[2018-09-09 12:27] doingnz commented on #330
I have made a custom build of CMake 3.12 (master) and then searched and replaced 'cmd.exe' with 'C:\\Windows\\System32\\cmd.exe` and then every thing works as expected for nanoFramework builds under VS2017 with CMake.

The files that need to be updated:

## Source\cmGlobalNinjaGenerator.cxx
[code]

### Source\cmLocalNinjaGenerator.cxx
[code]
### Source\cmLocalUnixMakefileGenerator3.cxx
[code]

[2018-09-09 13:52] doingnz commented on #330
As an example, one can use something along the lines of:

[code]
The other three would be similar.

This tries to find `COMSPEC` environment variable. If that is not define, then search the `PATH` for cmd.exe. Otherwise just use `cmd.exe`, including in situations when an exception is thrown.

[2018-09-09 19:20] ConductedForce opened #331 "Issues debugging embedded ARM device"
I've been following [this tutorial](https://blogs.msdn.microsoft.com/vcblog/2018/01/10/debugging-an-embedded-arm-device-in-visual-studio/) on the Microsoft blogs for debugging and embedded ARM device.

I've gotten to the end but I'm having two issues. The first is that the `tasks.vs.json` doesn't run when I build the Makefile or run the debug. It should copy the BIN file to the drive letter, but i

[2018-09-10 05:54] lukka commented on #278
@PrecisionWaveRF I am really interested into understanding what is the root cause of this problem.  Unfortunately I have not been able to reproduce the problem at all. Could you please contact us at vcpplinux-support at microsoft to verify how could we setup an exact repro of this scenario, thanks!

[2018-09-10 15:53] paulmaybee commented on #329
Can you generate a gdb log file for your failure case? In the Command Window enter
`debug.midebuglog /On:some-file-name
`
Then run your repro case. Then enter
`debug.midebuglog /Off
`

[2018-09-10 17:36] HymanZHAN commented on #298
Same problem here. Using VS2017 15.8.3 with Linux Makefile Project.

![image](https://user-images.githubusercontent.com/26806995/45313959-6391ea00-b4fe-11e8-85c0-e62ea8621e87.png)

[2018-09-10 19:43] lukka commented on #330
@doingnz  I think you are cross compiling using the Windows's workload of CMake. If this is the case, could you please open a ticket on [devcom](https://developercommunity.visualstudio.com/
) ?

[2018-09-10 19:43] #330 closed

[2018-09-10 21:04] paulmaybee commented on #331
Can you generate a gdb log file for your failure case? In the Command Window enter
`debug.midebuglog /On:some-file-name`
Then run your repro case. Then enter
`debug.midebuglog /Off`

[2018-09-10 21:35] paulmaybee commented on #331
Also, the task is run manually from the context menu in the solution explorer. Its output will appear in the output window's Build pane. For example:

[2018-09-10 23:53] ConductedForce commented on #331
I may have figured it out. When I have a breakpoint set before running the debugger, it ignores it. But if I set a breakpoint while debugging, it stops the program at that spot. Is this normal behavior? It also doesn't let me stop the program on the led assignment variable (switching to 1 or 0, see repro output).

I did see how to run the task now, thanks on that.

Here's the repro case:
[code]

I

[2018-09-10 23:57] ConductedForce commented on #331
The program itself runs fine on the board, I just have unexpected behavior for debugging. In the tutorial article also, the last screenshot at the end of the page shows them being able to see into the memory. My [view](https://cdn.discordapp.com/attachments/264162717240131595/488860241534910475/unknown.png) does not go as deep.

[2018-09-11 08:53] theRealRed commented on #317
@lukka I tried cmake-3.11.18033000-MSVC_2-Linux-x86_64.sh, not work, same exception throwed.
@xcyl I check the current ssh-server, it's openssh-server.x86_64, version 6.6.1p1-33.el7_3.  I'd update it to a later version and try again.

[2018-09-11 15:04] paulmaybee commented on #331
From what I can see of the text on the far right in your autos window screenshot it looks like the expression evaluation is complaining about a lack of debugging information. Have you tried this again after ensuring that your app is compiled with "-g"?

[2018-09-11 19:20] ConductedForce commented on #331
Here's the lines that have the `-g` in them. I also figured out that changing the `-Os` to `-Og` in the makefile makes the compiler more supportive of debugging. It still doesn't let me see the led variables.

[code]

[2018-09-11 19:31] paulmaybee commented on #331
I think your problem may be the "-g1". Try removing it. From the gcc docs:

[2018-09-11 19:58] ConductedForce commented on #331
That was it. I can see everything now. That'll be something to note for mbed-generated projects. Thanks for your help!

[2018-09-12 00:36] #331 closed

[2018-09-12 07:58] xXxSiMoNxXx commented on #226
Thanks ! Worked for me.
They need to fix it as is, we need to open a bug for that because it is the same for all the 15.8 releases so far.

[2018-09-12 11:29] mseklertt commented on #226
I opened a bug, but someone "smart" closed it. I ma trying to reopen, but if I can't do it, then I will open a new ticket. They do need to fix this.

[2018-09-12 14:33] AliAskari opened #332 "Intellisense doesn't work as expected in Visual Studio Linux Makefile project"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

I have the following issues with my Visual Studio Linux Makefile projects:

- I don't see any database in my project/solution folder:
As far as I know Visual Studio should generate a database, a `.vs` folder, and store the intellisesne related information in a database but I

[2018-09-12 14:36] AliAskari commented on #329
@paulmaybee Visual Studio freezes when I reproduce this issue and I cannot run any commands after reproducing the issue. Is there any other way to run these commands outside of Visual Studio?

[2018-09-12 14:53] paulmaybee commented on #329
If you kill VS when it freezes then the log file should be present and contain everything generated up until the freeze occurred.

[2018-09-13 12:02] mseklertt commented on #226
The problem is gone in new version 15.8.4.

[2018-09-16 07:10] xXxSiMoNxXx commented on #226
Still breaks for me after I do "clean", this is without your workaround and on the new version 15.8.4.

[2018-09-17 15:32] FDCTLC opened #333 "[Debugging] Array size limited to 50 (default or custom natvis)"
* A brief description
Expanded vectors are limited to 50 elements regardless to the natvis configuration
* Expected results
Full vector expansion as in VC++
* Actual results (with build output window contents if applicable)
![image](https://user-images.githubusercontent.com/42431314/45632126-e5ed5180-ba9c-11e8-9ed0-db5c1db2b8ce.png)
![image](https://user-images.githubusercontent.com/42431314/45632

[2018-09-17 16:51] paulmaybee commented on #322
Sorry for the long break. Are you still having this issue? What version of VS2017 are you running? Do you have the Visual C++ for Linux Development installed?

[2018-09-17 17:03] paulmaybee commented on #321
Fixed in the next major release of VS.

[2018-09-17 17:53] #286 closed

[2018-09-17 17:55] #265 closed

[2018-09-17 17:56] #263 closed

[2018-09-17 17:57] #262 closed

[2018-09-17 21:40] paulmaybee commented on #222
Fixed in the next major release of VS.

[2018-09-17 22:03] paulmaybee commented on #232
Mapping sources properly when attaching is now possible. With VS 15.7 preview 1 and later you can specify a SourceMap in the optional Microsoft.MIEngine.Options.xml configuration file (see https://blogs.msdn.microsoft.com/vcblog/2018/03/13/linux-c-workload-improvements-to-the-project-system-linux-console-window-rsync-and-attach-to-process/).

Something like:

[code]

Where the **EditorPath** point

[2018-09-17 22:11] #206 closed

[2018-09-17 22:19] paulmaybee commented on #205
Fix is available in VS 15.8.

[2018-09-17 22:20] #194 closed

[2018-09-18 03:31] SamuelHenderson opened #334 "Question: Targeting 'Remote Build Machine' in 'Pre-Build' event"
* A brief description

Is there a way to pass the 'Remote Build Machine' setting to a script that is run as a 'Pre-Build Event'?

I work in a team with several other developers on a fairly large and complex solution that contains many interdependent libraries.  The problem is that some of our library projects require header files from our other library projects, but due to the build order they may

[2018-09-18 17:33] paulmaybee commented on #319
Fixed in the next major release of VS

[2018-09-18 17:36] huang-tianwen opened #335 "Include remote source file into compilation"
* A brief description
I am building a project which need to use dlib library, in dlib, they ask us to extract their library and add dlib/all/source.cpp to our project. (in normal windows c++ project, i just need to add existing item and add that file into my project).

http://dlib.net/compile.html
Compiling C++ Examples Without CMake
In most cases, to use this library all you have to do is extract

[2018-09-19 04:04] Berrysoft opened #336 "VS IntelliSense doesn't give correct __cplusplus"
VS 15.8.4 with WSL(Ubuntu 18.04, gcc 8.1, cmake 3.12):

The IntelliSense doesn't give correct value of __cplusplus. Even after I set the language version to C++17(I've tried MSBuild and CMake), the value is still `201406L`, and I get error when using `std::string_view` because it requires `__cplusplus >= 201703L`.

[2018-09-19 15:09] heppth commented on #325
I have the same problem. Please see [at stackoverflow](https://stackoverflow.com/questions/52381645/visual-studio-15-8-uses-wrong-include-paths-for-cross-compiling-g-on-linux?noredirect=1#comment91722493_52381645)

[2018-09-20 21:45] lukka commented on #334
@SamuelHenderson  yes, you could leverage that environment variable indeed.

[2018-09-20 21:45] #334 closed

[2018-09-22 07:10] huang-tianwen opened #337 "Preprocessor Definitions in Linked static library not working"
Please use the following bug reporting template to help produce actionable and reproducible issues:

main.cpp
`#include <dlib/image_processing/frontal_face_detector.h>
#include <dlib/image_processing/render_face_detections.h>
#include <dlib/image_processing.h>
#include <dlib/gui_widgets.h>
#include <dlib/image_io.h>
#include <dlib/opencv/to_open_cv.h>
#include <dlib/opencv/cv_image.h>

#include <c

[2018-09-22 21:57] mqudsi opened #338 "ResolveRemoteDir fails incorrectly"
Using Visual Studio 15.9.0 Preview 2 connecting to a Debian 9.3 (stretch) host over ssh with private key authentication, I'm able to connect to the remote host OK (except for #306), however upon attempting to debug the `ResolveRemoteDir` step fails with error

The directory exists:

[code]

I have tried using an absolute path instead, but the result is the same.

Is #306 responsible for this as we

[2018-09-23 13:48] mqudsi opened #339 "ENOTTY when using embedded Linux Console Window"
Attempting to use VSLinux to debug applications that attempt to introspect stdin causes `ENOTTY` to be emitted by the remote linux kernel.

It should be reproducible with just this code sample:

[code]

The `tcgetpgrp(3)` call fails, `errno` is set to `ENOTTY`.

Is it possible to make debugging an application via the Linux Console Window transparent to such terminal-related kernel calls?

[2018-09-24 20:01] lukka commented on #339
@mqudsi thanks for the report. We need to investigate on why the remote process does not have an allocated tty. Currently, when debugging, VS redirects the output of the debuggee using gdb redirection to another shell create for that purpose only, which has a pty allocated. It might be we have to reconsider this choice.

[2018-09-24 20:49] mqudsi commented on #339
Personally, I wouldn't rely on gdb to get the pty. It should be fairly straightforward to create a launcher that waits for gdb to connect then `exec`s the target, then VS can start an SSH session, run that launcher, and attach gdb (so all debugging would use gdb attach instead of having gdb launch the target). That way you're guaranteed a native pty for the app and don't have to trust gdb to do th

[2018-09-25 05:29] haoyixin commented on #317
@theRealRed what's the result?

[2018-09-25 05:54] haoyixin commented on #317
@lukka it's still not working with your prebuilt cmake and newest sshd in latest vs.

[2018-09-26 10:13] lethe555 opened #340 "how to ssh to remote host through a jumphost"
* A brief description
   my pc -> jumphost -> dev linux
 how to create a connection to  dev linux ?

[2018-09-26 18:31] mqudsi opened #341 "Could not start rsync command on the remote host"
On Visual Studio 15.9 Preview 2, I have a cmake project connecting to an Ubuntu 18.04 LTS hyper-v instance, which was working fine.

After using `cmake` locally (under WSL) in a `build` subdirectory of the project root, VS now fails to remotely rsync, with the following message:

(Is there a way to increase the verbosity of these messages?)

`rsync` is installed and invokable on the remote host.

[2018-09-27 16:56] SamuelHenderson opened #342 "Clean Solution/Project not removing source files if 'Remote Build Root Directory' is not under /home/<user>/"
* A brief description
Using a Linux Console Application project called 'MyProject' as an example:

I have 'Remote Build Root Directory' set to /data/src and when I click "Solution->Clean Solution" (or "Project Only->Clean Only MyProject") the output window reports that the operation succeeded with 0 warnings and 0 errors ... Yet the Project directory and source still exist in /data/src

I've given

[2018-09-27 18:46] lukka commented on #341
@mqudsi the problem must be that you need to kill rsync on the WSL instance (e.g. pkill rsync).
The root cause is that our logic of finding a spare tcp port is faulty on WSL (as cat /proc/net/tcp would tell you all port are free, but that's not true), and that in some cases we do not terminate the remote rsync process. We are working a better experience about this.

[2018-09-27 18:51] lukka commented on #340
@lethe555 you should create a ssh tunnel between jumphost and your dev Linux box, then you connect to the jumphost from VS.

[2018-09-27 21:14] mqudsi commented on #341
@lukka I don't think WSL is a factor here, as this is running in Visual Studio under Windows and the remote instance VSLinux is configured to use is a Hyper-V Ubuntu instance.

The "cmake under WSL" referenced in OP is an "out-of-band" operation that I manually performed that should have no bearing on any of the steps before or after.

[2018-09-30 16:55] mqudsi opened #343 "rsync can't handle WSL symlinks"
In my source directory is a symlink'd directory created from within WSL. When VSLinux executes its rsync port, it barfs when attempting to synchronize that path with the following error:

The following debug info was obtained from within WSL:
[code]

[2018-09-30 16:56] mqudsi commented on #341
Your suggested workaround (`sudo killall -9 rsync`) did the trick, but to emphasize, this was on a Real Linux (TM) remote host, so it would seem that the problem is with general free port detection under Linux and not just under WSL.

Thank you for the workaround!

[2018-10-02 01:13] mqudsi commented on #341
I presume you mean when this error is encountered and not normally?

[2018-10-04 01:49] therealwolf42 commented on #298
Have the same problem. What worked is to copy & paste the files from:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\VC\Linux\include\usr` into `C:\Users\therealwolf42\AppData\Local\Microsoft\Linux\HeaderCache\1.0\<randomnumber>\usr`

I also copied over the lib folder, where the usr folder is. So I guess these folders aren't correctly copied AND/OR deleted.

[2018-10-04 03:04] lukka commented on #298
@therealwolf42  do you have the `iostream `file on the remote Linux box? Could you please check where it is on the remote LInux machine, where it is the same file on the Windows machine under the HeaderCache directory? Thanks.

[2018-10-04 12:44] therealwolf42 opened #344 "SFTP: Error occurred during copy: The session is not open. (Channel was closed.)"
I've been trying to get VS Linux with WSL to run. But RSYNC doesn't work (getting same error as here: https://developercommunity.visualstudio.com/content/problem/277250/get-error-when-cmake-and-rsync-to-a-remote-docker.html) and the fix was to change rsync to `sftp`.

Now, this copies the data to the remote folder, but with a big project, it stops after roughly a minute. The error message changes

[2018-10-04 12:53] boskars commented on #344
The solution may be here: see #208 and ssh configuration parameter: ClientAliveInterval

[2018-10-04 13:19] therealwolf42 commented on #344
@boskars
I've changed the ClientAliveInterval on the sshd and ssh config to 0, but I still get the timeout - this time later though.

[code]

[2018-10-04 22:10] mqudsi commented on #341
Just experienced this again (Debian remote host), here's the output of `cat /proc/net/tcp` when that happens:

[code]

`sudo killall -9 rsync` took care of it.

[2018-10-04 23:14] mqudsi opened #345 "After some point, build hangs"
Using Visual Studio 15.9 Preview 3, after some point the VSLinux build command hangs devenv.exe, and no output is posted to the cmake, build, or debug windows. After a timeout (~10 seconds?), an error message is displayed "build failed, continue debug?" and nothing you do will get build working again.

Must `sudo killall -9 rsync` on the remote host, kill and restart `devenv.exe` locally in order

[2018-10-04 23:46] mqudsi opened #346 "Adding remote FreeBSD host fails with password-based authentication"
Under Visual Studio 15.9 Preview 3, adding a 64-bit FreeBSD 11.2 host fails with password-based authentication. I can SSH into the remote host from WSL just fine.

Adding the host via private-key-based authentication works.

[2018-10-05 16:54] mqudsi commented on #345
All of my problems went away when I created a new Fedora Server 28 virtual machine as the remote build host with a copy of cmake installed from git and all other requirements (rsync, gdb, g++, gcc, etc) installed via yum.

But I both Ubuntu and Debian gave me endless problems.

[2018-10-05 17:25] illikovegae opened #347 "gdb debugger behavior not consistant remote versus local"
Hi,

I'm evaluating VS2017 and I'm having an issue when debugging a simple C program using dlopen().
Running the software on linux works, it loads the python shared library.
Debugging with gdb works, same result.
Debugging from VS2017 exits the process at dlopen().

Here is the source:

[code]

Here are the commands sent by vs2017 to compile this file:

[code]

Here is my linux gdb session: you ca

[2018-10-05 17:36] paulmaybee commented on #347
Can you collect VS's gdb log? In the Command WIndow enter:
`Debug.MIDebugLog /on:some-file-name
`
Then run your test case. Then enter:
`Debug.MIDebugLog /off`
The file "some-file-name" should now contains the log of the interactions between VS and gdb.

[2018-10-06 03:44] JulyLeaver commented on #298
(C:\Users\Juliver\AppData\Local\Microsoft\Linux)
It was good to delete the folder.
(I hope you have a backup.)

[2018-10-06 03:52] mqudsi opened #348 "FreeBSD: could not start rsync command on remote host"
Is there some way to enable command-level debug logging where each command executed remotely over ssh on the remote build server and the output/error is logged?

Before I stumbled across the fact that RHEL/Fedora remote hosts seem to work problem-free, I was experimenting with different remote build servers and tried out FreeBSD (which is my personal favorite *nix in terms of stability, sanity, si

[2018-10-06 09:46] illikovegae commented on #347
Hi Paul, thanks for looking into this.
[debug.log](https://github.com/Microsoft/VSLinux/files/2452908/debug.log)

Here is the debug file.

[2018-10-08 15:05] paulmaybee commented on #347
This appears to be a VS bug that occurs when stepping over a line that causes an solib to load. The debugger stops to examine the file loaded and then just continues execution rather than finishing the step operation. The workaround is to place a breakpoint after the call to dlopen so that your process will not just continue to completion.

[2018-10-08 15:12] paulmaybee commented on #347
I have opened an issue with the MIEngine: https://github.com/Microsoft/MIEngine/issues/763

[2018-10-08 15:32] illikovegae commented on #347
Thanks for having a look. You are right, if the breakpoint is after dlopen(), process continues.

[2018-10-08 15:32] #347 closed

[2018-10-10 04:48] leiyu1980 opened #349 "openmp support?"
hi
How do I enable openmp support?

[2018-10-12 01:04] itodirel commented on #26
We've finished the first part of this work, during build connections will be reused and kept open, such that typically only one is being made.

[2018-10-12 14:42] 10manjunath opened #350 "How to run 7zip on Win and Linux platforms with the same C++ code?"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description:
I would like to run a cross platform application like 7zip to compress files on windows and linux with the same C++ code. I selected project type as Cross Platform -> Linux. With the starter code that i have attached, it is not generating any output on my windows when i build

[2018-10-12 23:14] itodirel commented on #350
You will have to use two different projects, one for Linux and one for Windows, you can structure this with Shared Projects such that the code is shared across both. Another option is to use CMake, with CMake you can have one single CMake project, then switch between Linux and Windows. With vcxproj/MSBUILD you have to have 2, one for each.

[2018-10-13 02:00] devinvisible commented on #306
Visual Studio Preview 15.9 Preview 3 is out. I didn't see this issue mentioned in the release notes. Did this make the cut?

[2018-10-13 12:41] leiyu1980 commented on #349
thinke you！

[2018-10-13 12:42] #349 closed

[2018-10-13 12:43] leiyu1980 commented on #349
other：Add -fopenmp to your Linker  (Project>Configuration Properties>Linker>All Options>Additional Options: -fopenmp)

[2018-10-14 10:00] nunoplopes opened #351 ""CMake 3.8.x or above is not available", though it is"
I'm using VS 15.8.7 cmake open folder + Linux remote build.
However it is not working and I get the error: "Error occurred during copy: CMake 3.8.x or above is not available on the remote system".

Logging in on the remote server, /var/log/secure shows the login being successful:
[code]

The CMakeSettings.json file has the following line:
"cmakeExecutable": "/usr/bin/cmake",

and running that on t

[2018-10-15 12:58] IakovK commented on #132
I have the same problem.
Visual Studio Prof 15.7.6 against opensuse Leap 42.3.
Do the same as the start message described and receive the same result.
With putty all works, sftp works too (from putty package).
sshd log shows following for putty:
Oct 15 15:54:46 atlas-suse sshd[19393]: Connection from 192.168.0.6 port 60584 on 192.168.0.7 port 22
Oct 15 15:54:51 atlas-suse sshd[19393]: Postponed ke

[2018-10-15 21:52] IakovK commented on #132
I set sshd log level to maximum (DEBUG3) and here is the result:
Oct 16 00:45:43 atlas-suse sshd[22091]: Connection from 192.168.0.5 port 51097 on 192.168.0.7 port 22
Oct 16 00:45:43 atlas-suse sshd[22091]: debug1: Client protocol version 2.0; client software version Ssh.SshClient.0.0.1
Oct 16 00:45:43 atlas-suse sshd[22091]: debug1: no match: Ssh.SshClient.0.0.1
Oct 16 00:45:43 atlas-suse sshd[22

[2018-10-17 20:02] MaxDZ8 commented on #28
Hello, after my positive experience with VS for Pis, I had the naughty idea of... trying to remote debug & build Omega2.

They're basically access point chips running OpenWRT/BusyBox/ash. After inserting IP and login credentials and pushing the Connect button, it tries to do something for a few seconds and then it gives up, highlighting in red the IP.

I figured this might be related. Time to go w

[2018-10-19 23:09] phoenixchinar opened #352 "Replication of Prepared Transactions in TransactionDB WriteCommitted"
I am using rocksdb::TransactionDB with WRITE_COMMITTED policy for my datastore. I am using GetUpdatesSince API for replication between a master and slave. What it looks like is that transactions that are not yet committed, the information is not getting returned using GetUpdatesSince. Due to this even though a transaction has been prepared, it cannot be seen on the slave.

This creates challenges

[2018-10-20 18:32] #352 closed

[2018-10-20 18:32] phoenixchinar commented on #352
Incorrectly opened the issue against Microsoft/VSLinux. Closing the issue here.

[2018-10-22 12:47] jonathan-daniel commented on #132
Same issue, all ssh clients work except visual studio

[2018-10-22 15:11] IakovK commented on #132
I have resolved my issue but with some trickery:
1. by careful examining Visual Studio linux extension I found that it used something like ssh.net (in liblinux module). It is sort of confirmed in the ThirdPartyNotices.txt file. So, I tried to make the connection using that package, to the same host using the same credentials.
I got an exception.
I don't remember exact message, but it is something

[2018-10-23 18:01] margaretharp commented on #93
I am using Visual Studio 2017 version 15.8.7 with the Linux workload on a Windows 10 (Version 1703) PC.  My sources are in a C: folder which is mapped to a mount point on my VMWare Linux virtual machine, so I've edited CMakeSettings.json to not copy the sources to the remote machine.  I downloaded the required MS CMake 3.8 (which supports server).  Opening the root folder which contains the base C

[2018-10-23 22:20] IakovK opened #353 "Problem with rsync when generating CMake cache"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
I am having a problem when trying to play with CMake project for Linux. The project (super simple) is attached.
* Expected results
Everything is done without errors.
* Actual results (with build output window contents if applicable)
1> Copying files to remote machine...
1> rsy

[2018-10-26 07:18] raimand13 commented on #142
I have same issue too. but i get ssh and sftp logs from /var/log/auth.log :
-----------------
Oct 26 08:57:09 PC-Ubuntu systemd-logind[728]: New session 11 of user myuser.
Oct 26 08:57:09 PC-Ubuntu sshd[2862]: Connection from 192.168.56.1 port 25107 on 192.168.56.3 port 22
Oct 26 08:57:10 PC-Ubuntu sshd[2860]: User child is on pid 2888
Oct 26 08:57:10 PC-Ubuntu sshd[2862]: Accepted password for my

[2018-10-26 07:48] yutiny opened #354 "How to avoid the errors in error list?"
I create ConsoleApplication1, connect to a debian 9.5 server, also download the remote linux header by click update.
Here's the problem, how to avoid errors in error list.
![picture](http://www.yutiny.com/images/2018-10-26.jpg)

[2018-10-26 11:50] raimand13 commented on #142
I finally find out what was problem!!! i change debug level in sshd_config to DEGUG3 and also change SFTP degug level too in sshd_config like this '/usr/lib/openssh/sftp-server -l DEBUG3'. VS2017 run a few commands and then close the connection because OS arch is not match to 'x86_64' or 'amd64'.

VS 2017 SSH commands on connecting for Linux Remote Debugger

1. Login to SSH with user and passsword

[2018-11-01 21:38] JulienTheron opened #355 "IntelliSense broken in Visual Studio 2017 15.9"
Hi,

* A brief description
When specifying additional include directories on Linux projects, IntelliSense can no longer find included files. This works in 15.8.
* Expected results
We can specify local include directories for IntelliSense to work.
* Actual results (with build output window contents if applicable)
IntelliSense is not helping and Visual Studio looks worse than Notepad++.
* VC++ versi

[2018-11-03 01:36] ToM-MaS commented on #351
Same here, I'm trying to connect to my raspberry pi 3 with VS Community 2017 V15.8.9.
The VS SSH connection is succesfully established!

In the current raspbian repository (stretch), only cmake 3.7.2 is available.
So I've installed cmake from the future repository (buster):

1. added "deb http://raspbian.raspberrypi.org/raspbian/ buster main" to "/etc/apt/sources.list"

2. added (set-up/reduce rep

[2018-11-08 13:57] nohajc commented on #290
@itodirel I am not sure what was fixed. The need to explicitly add copied headers to "include search path" or the inability to use the bundled headers instead?

I would very much appreciate to have both options. The predefined directory mentioned by @cwm262 works for me (in 15.5) will I be able to still somehow use it in the more recent Visual Studio versions?

Thanks

[2018-11-08 19:09] JulienTheron commented on #355
Tested again with Preview 5, same issue.

[2018-11-12 01:51] PBW99 commented on #121
I fixed this problem by deleting ".vs" directory then reopen solution.

[2018-11-13 16:17] alessandrofigueiredo opened #356 "Compilation error c++ - i386 architecture of input file `/home/alessandro/projects/Inicializa/obj/x86/Debug/main.o' is incompatible with i386:x86-64 output"
I'm trying to use a 32 bit .so lib in my c++ application inside a 64 bit Ubuntu 18.04.
But when I changed my application to compile in a 32 bit architecture to load the .so lib properly,
I get several errors when a try to compile the application in visual studio.
I've already changed my linux config according the issue #25 and set the flag -m32 in command line arguments with no sucess results.

[2018-11-13 16:21] paulmaybee commented on #356
What are the errors you are getting? Do you have a log?

[2018-11-13 20:00] AntonioSanta opened #357 "error in /usr/include/c++/7.3.0/arm-oe-linux-gnueabi/bits/os_defines.h"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
get errors on include files included automatically by Visual studio

* Expected results
should compile as with an older version of Visual studio it compiles and works correctly
or at least should allow change the versions of includes 7.3.0 to something else.

* Actual results

[2018-11-13 21:34] aWeinzierl commented on #351
Same problem with ubuntu WSL:

1> Error occurred during copy: CMake 3.8.x or above is not available on the remote system. See https://aka.ms/linuxcmakeconfig for more info

[code]

[2018-11-13 22:57] aWeinzierl commented on #353
[15.9 was supposed to resolve this problem](https://developercommunity.visualstudio.com/content/problem/277250/get-error-when-cmake-and-rsync-to-a-remote-docker.html), but it did not for me:

1> Error while copying. Please see https://aka.ms/AA23jat for troubleshooting.

[2018-11-14 12:40] alessandrofigueiredo commented on #356
I'm getting two errors:
1 - E1696 - Severity	 Code	Description	Project	File	Line	Suppression State
Error (active)	E1696	cannot open source file "gnu/stubs-32.h"	Inicializa	C:\Users\alessandrofigueiredo\AppData\Local\Microsoft\Linux\HeaderCache\1.0\177825111\usr\include\x86_64-linux-gnu\gnu\stubs.h, Idon't know why is searching in my local machine.

2 - The one that was in the title of this issue,

[2018-11-14 21:29] itodirel commented on #300
@AliAskari you can specify that in the Additional Include Directories and it will be copied and set for IntelliSense; we will detect it is a remote directory, copy it to Windows and automatically set IntelliSense

[2018-11-15 00:30] AliAskari commented on #300
@itodirel Is this Additional Include directory a new option? Should I set it in CMakeSettings.json?

[2018-11-15 01:04] lukka commented on #351
@aWeinzierl  you are correct, the cmake must be correctly specified in the cmake attribute of the json file, it does not search on the $PATH at all.

Please open a suggestion at [DevComm](https://developercommunity.visualstudio.com/)!

[2018-11-15 01:04] #351 closed

[2018-11-16 12:35] aWeinzierl commented on #351
I did: https://developercommunity.visualstudio.com/idea/383719/cmake-search-for-the-cmake-executeable-in-path.html

[2018-11-16 20:50] rynpc commented on #355
I wish I would have read about this issue before updating to 15.9. This has chewed up an entire day at work trying to find a resolution.

[2018-11-17 01:31] rynpc commented on #355
I do have my copy sources set to no. reason for this is because I am mounted to a docker container. If I unmount and set to yes it may resolve the specific error, but I am left with the problem of changes on the remote not reflecting back. In our dev environment this is a problem.

[2018-11-18 12:51] nunoplopes commented on #351
I've tried both:
```"cmakeExecutable": "/usr/bin",```

and
```"cmakeExecutable": "/usr/bin/cmake",```

And I still get the same error message. @lukka Can you please reopen this bug report?  There *is* a bug.

[2018-11-18 12:59] aWeinzierl commented on #351
if `whereis cmake` lists `/usr/bin/cmake` the second version should be correct.

[2018-11-21 06:16] mostevercxz commented on #231
I came into this issue today, and found a simple solution which redirects the stdout and stderr of gcc and then uses `sed` to replace gcc output to visual-studio-supported output.

I tested under linux using the following command:
[code]

And here is my `CMakeSettings.json` file in the cmake project directory on Windows:
[code]

[2018-11-22 10:29] Pitt14 commented on #353
In 15.9.2 the problem is still Present :(

[2018-11-23 10:50] nunoplopes opened #358 ""CMake 3.8.x or above is not available", though it is"
(I can't reopen #351, so opening a new bug report, since there *is* a bug here)

I'm using VS 15.8.7 cmake open folder + Linux remote build.
However it is not working and I get the error: "Error occurred during copy: CMake 3.8.x or above is not available on the remote system".

Logging in on the remote server, /var/log/secure shows the login being successful:
[code]

The CMakeSettings.json file ha

[2018-11-27 01:17] itodirel commented on #26
currently we are not planning more improvements here, but I can see this something we invest more in the future

[2018-11-27 01:17] #26 closed

[2018-11-27 01:19] itodirel commented on #88
Not able to reproduce on our side, closing tentatively, if this is still an issue please re-activate and we'll take a look with new information.

[2018-11-27 01:19] #88 closed

[2018-11-27 01:20] itodirel commented on #90
tentatively closing, can reopen if we want to do something here

[2018-11-27 01:20] #90 closed

[2018-11-27 01:36] #157 closed

[2018-11-27 01:38] #205 closed

[2018-11-27 01:39] itodirel commented on #239
@paulmaybee are there any updates on it? can we close it?

[2018-11-27 01:40] itodirel commented on #211
we are not planning to do anything with this in the near future, but we copied it to the backlog

[2018-11-27 01:40] #211 closed

[2018-11-27 01:41] itodirel commented on #225
Hi, we think this is currently fixed, but please provide a project to verify or if you think this is not an issue, please close

[2018-11-27 01:42] itodirel commented on #237
Hi, we support copying arbitrary files to arbitrary locations, and they won't be deleted during clean, please let us know if that works for you

[2018-11-27 01:45] itodirel commented on #250
Hi, we added support to disambiguate the connection in CMake projects, it is coming in 16.0 Preview 2.

[2018-11-27 01:46] itodirel commented on #279
hi, we added enhanced logging for this and also rsync support, please let us know if you still have an issue, and I'd happily reactivate and look into it, we are trying to get the issue list number down, so tentatively closing as fixed

[2018-11-27 01:46] #279 closed

[2018-11-27 01:52] itodirel commented on #310
I think we now have support for doing this, let me try it and write something up

[2018-11-27 01:54] itodirel commented on #306
Hi, we have seen an issue like that before, is it possible you're antivirus blocks it?

[2018-11-27 01:54] itodirel commented on #307
we are planning to adding this support in 16.0 Preview 2

[2018-11-27 01:57] itodirel commented on #293
Hi @mprevot, sorry for the confusion, please use **Remote Build**, that will execute these commands on the remote machine if that is desired. **Build** will execute them locally.

But to understand your issue more, since you mentioned cross, are you trying to run make on Windows, locally?

[2018-11-27 02:01] itodirel commented on #245
Hi, we do not support it, but, Putty should. So something that can be done is to connect over serial with Putty, then tunnel that and connect to the tunnel from VS. Please let me know if this is something you can try, and I can provide more info.

[2018-11-27 02:06] itodirel commented on #294
Hi, we need to investigate this, but usually, copies can be slow for various reasons. One thing I'd like to ask, could you debug directly on the container, with gdb mode, so that you do not need to copy the file back? Is the reason for the copy debugging?

We also have knobs in the Property Pages that can disable any copy, let me know if you want to know how.

[2018-11-27 02:39] AliAskari commented on #341
I have also had this issue multiple times. On both a real Linux box and a VM. Killing the rsync has always fixed it.

[2018-11-27 15:43] paulmaybee commented on #239
This is still an active issue.

[2018-11-28 07:57] oelison commented on #355
Hi all,
Nearly the same error when switching to Configtype as Makefile.
Linux.Makefile.Targets(x,y): error MSB4044:

[2018-11-28 18:02] lukka commented on #358
@nunoplopes the problem is that our cmake identification version fails because the output of cmake says "cmake**3**", while we expect it to be just "cmake" (no trailing 3).
We could certainly fix that on a future version of VS.

As a workaround, please install this [cmake package](https://github.com/Microsoft/CMake/releases/tag/untagged-fb9b4dd1072bc49c0ba9), or grab the cmake source and build it

[2018-11-28 18:02] #358 closed

[2018-11-28 20:06] itodirel commented on #245
Hi, let me know if you made this work or if you need help, this should in theory work, but if you want me to try first, I can do that

[2018-11-28 22:01] itodirel commented on #168
@Stardidi Hi, is this still a problem? is there a repro we can use?

[2018-11-28 23:18] meisterm commented on #355
Havin' the same issue. Is there a workaround available?

[2018-11-29 00:51] eroller opened #359 "slow rsync.exe"
Have you benchmarked rsync.exe shipped with VSLinux? In my hands it seems to be about 4 times slower than mingw64's scp and about 10 times slower than rsync over ssh on WSL.

My CMakeSettings.json contains:
"remoteCopySourcesConcurrentCopies": "10"
but this doesn't seem to have any effect. Does this setting apply to rsync? I only ever see one rsync process running under Task Manager.

My repo is a

[2018-11-29 01:59] itodirel commented on #170
Hi, we are not able to reproduce, please let me know if there are any issues here, and I'd happily reactivate and look into it, we are trying to get the issue list number down, so tentatively closing

[2018-11-29 01:59] #170 closed

[2018-11-29 11:41] boskars commented on #306
It can write the c_defines.txt, c_includes.txt, cpp_defines.txt etc and create the whole empty folder structure for the header files.
I do not think the antivirus is causing this, at least I do not get any reports from the antivirus, Microsoft Defender.

[2018-11-29 14:55] rynpc commented on #355
Want to share this issue with everyone, because it may end up containing the work around. [issues 310](https://github.com/Microsoft/VSLinux/issues/310)  I guess we will see after the doc is published.

[2018-11-29 14:59] JulienTheron commented on #355
The current issue is not related to remote headers, but local ones. It may not end up with the same fix/workaround.

[2018-11-29 19:11] lukka commented on #359
@eroller
 - "remoteCopySourcesConcurrentCopies" is only for sftp.
 - for rsync you could play with the rsyncCommandArg to make the transfer faster in your scenario. What are you currently passing in?
 - could you explain in detail the scenarios where you run the benchmarks?

[2018-11-29 19:19] lukka commented on #353
@aWeinzierl  @Pitt14  it is possible that you have on the remote target a process (rsync) listening on the same port that is being tried by the rsync spawn by VS. Could you please ssh onto the remote machine and kill the process (e.g. 'pkill rsync' using the same user account you set up in VS) and retry again?
Please open this bug on the[ Developer Community](lopercommunity.visualstudio.com/) foru

[2018-11-29 20:58] eroller commented on #359
I tried first with the following rsync args (note: VSLinux automatically adds `-v -r --exclude=.vs --exclude=.git`) :
`-t --delete --delete-excluded -v -r --exclude=.vs --exclude=.git`

I also tried adding -W which seemed to slow it down from 15 minutes to about 20 minutes.

The scenarios where I run my benchmarks:
*3 GB repo with ~18000 files
* Transfer is from a Windows 10 x64 (build 1809) machi

[2018-11-30 17:34] mprevot commented on #293
@itodirel I'll give a try to remote build indeed, however, this seems over complicated since I'm coding in Windows, and building in WSL (locally).

Maybe a `bash make ###` should do the trick.

[2018-11-30 20:51] IakovK commented on #353
I tried to do that with my test project:
1. opened project, got the error message;
2. killed rsync via ssh;
3. clicked Generate at the top of the window.
result: the same error message.

[2018-11-30 21:16] IakovK commented on #353
Please open this bug on the Developer Community forum, thanks!
Opened: https://developercommunity.visualstudio.com/content/problem/396347/problem-with-rsync-when-generating-cmake-cache.html.

[2018-12-02 12:41] neverchanje commented on #196
I used `chsh -s /bin/bash` to change the default shell from zsh to bash, and this issues fixed too. My host platform is ubuntu 18.04, VS version is Professional 2017, 15.9.3.

[2018-12-06 15:35] VMinute commented on #250
Just a quick and nasty workaround, if someone may need it while waiting for 16.0 Preview 2 (I do).
I need to connect to multiple containers running on my machine, so I have many connections all named 127.0.0.1. I notice that VS seems to consider names always as strings (makes sense) so 127.0.0.1 is not the same as 127.0.0.01 (and so on), in this way you can have multiple connections to the same IP

[2018-12-11 00:15] itodirel commented on #34
fixed and it should be available in 16 Preview 2

[2018-12-11 00:16] itodirel commented on #92
fixed and it will be available in 16.0 Preview 2

[2018-12-11 00:19] itodirel commented on #125
we added support for ARM64 a while back, let me know if it works for you now

[2018-12-11 00:35] itodirel commented on #151
I verified that this currently works and it should be fixed, please let us know if you still have issues

[2018-12-11 00:35] #151 closed

[2018-12-11 00:38] itodirel commented on #166
@paulmaybee is this something that works now?

[2018-12-11 00:41] itodirel commented on #168
I'm not able to reproduce so closing, if it's still an issue please feel free to reopen

[2018-12-11 00:41] #168 closed

[2018-12-11 00:45] itodirel commented on #185
thank you for reporting this, this is now fixed and will be available in 16.0 Preview 2

[2018-12-11 00:47] itodirel commented on #204
hi, I'm closing this due to inactivity, if this is still an issue for you please let us know

[2018-12-11 00:47] #204 closed

[2018-12-11 08:46] Stardidi commented on #168
Unfortunately the setup I had is no longer available, nor am I working on this at the moment, so I cannot provide a repro.

However, because of I'm currently not using VSLinux it's also not a problem for me anymore.

[2018-12-11 23:32] iwubcode commented on #225
Thanks!  I will close for now but will reopen if I see any issues.

[2018-12-12 11:37] boskars commented on #306
There is still same problem with empty folders in VS2019 prev 1.1

[2018-12-13 18:51] eroller opened #360 "Line endings being mixed up"
This isn't necessarily a feature request for VSLinux, but since the goal is to support development targeting Linux platforms it would make sense to tackle this feature request in Visual Studio:

https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/4160768-save-text-files-with-the-newline-convention-presen?page=2&per_page=20

Any chance someone from the VSLinux team could walk

[2018-12-14 09:54] Chronodt commented on #233
Still seeing this problem on VS 15.8.9 as well. Need to either manually link with Project Only->Link only on the main executable or trivially modify a single file in the main project so it recompiles as well and then links

[2018-12-14 22:17] itodirel commented on #360
thank you for the feedback, I pinged Mark

[2018-12-14 22:19] itodirel commented on #355
Could you tell me if this is in a Linux Makefile project? We just made a fix that fixed this issue the fix will be in 16 Preview 2.

[2018-12-15 09:32] Chronodt commented on #355
I had the same problem, but we weren't using a makefile, but an ordinary Linux project. Had to downgrade to 15.8.9 because it was unusable

[2018-12-16 12:54] Berrysoft commented on #336
Visual Studio 2019 Preview 1.1, MSBuild project for Linux, even after I set the C++ standard to C++17, the value of __cplusplus is still 199711L and _MSVC_LANG is 201402L. Therefore, I can't get correct Intelliense for <filesystem>.

[2018-12-17 16:08] JulienTheron commented on #355
@itodirel This is in a VS C++ Linux project (.cxproj). I don't know if this issue occurs with Makefile projects.

[2018-12-18 03:47] chrishoen commented on #355
I found this workaround:

Specify "include" in the project properties -> Configuration Properties -> VC++ Directories -> Include Directories.

The project builds and intellisense works.

[2018-12-19 22:50] TerryFogg opened #361 "embedded arm development - gdb doesn't connect to openocd and returns monitor errors"
Visual Studio 15.9.4
openocd 0.10.0
STM32F769I-DISCO board.

Cannot start debug session, error "monitor\" command not supported by this target.\n"

I have captured the following log of the debug session.
I get the error "monitor\" command not supported by this target.\n"

This is the same error you get at the gdb command line if you type "monitor" without first submitting the following command
"ta

[2018-12-20 06:56] evakili commented on #142
Also my problem is solved but in different way!

I have set the calendar of Windows to some local calendar (Persian Sonar Calendar: هجری شمسی). By changing it back to Gregorian calendar the problem is removed.

[2018-12-24 09:11] YihaoPeng commented on #196
Fixed by `chsh -s /bin/bash`.
My default terminal is `zsh` before the fix.

[2018-12-25 18:46] svenbieg commented on #170
You have to add "Iprojects/$(SolutionName)/$(ProjectName)" to the command line options. Then You can include files relative to the project-directory using brackets " and slashes /, no back-slashes. The solution-directory is not working, by the way.

[2018-12-25 18:59] svenbieg commented on #170
The command line option "-iquote projects/.." does work! But only with quotes " and slashes /!

[2018-12-25 20:03] svenbieg commented on #195
You should use quotes "" for include-files in Your project, this works for me. I only get problems with IntelliSense when using shared-item-projects. I'm still looking for a solution. The GCC-compiler finds my "pch.h", IntelliSense does not.

[2019-01-03 09:52] ravichandhraRean commented on #92
When will be 16.0 Preview released.

[2019-01-03 10:08] ravichandhraRean commented on #34
When will be 16 Preview 2 available

[2019-01-03 14:41] fvannee commented on #195
I'm still experiencing the same issue with the latest version - has there been any update on this?
Using "" or <> doesn't make a difference. It really seems to be related to the fact that Intellisense (target extraction) thinks the header files are on top-level (which is why #include <a1.h> works) rather than on subdirectory level. It seems to completely disregard the target_include_directories co

[2019-01-03 15:40] svenbieg commented on #195
I've found a workaround for this. You have to add $(SolutionDir) and $(ProjectDir) to $(IncludePath) instead of $(AdditionalIncludeDirectories), then IntelliSense recognises the project-files!

[2019-01-03 16:47] fvannee commented on #195
It's not possible to change IncludePath directly for CMake projects, right?
Because these only have the CMake files and one small CMakeSettings.json.
Or is there another way to change this variable?
I tried it with specifying a CppProperties.json but that one also seems to
be completely ignored.

On Thu, Jan 3, 2019, 16:40 Sven Bieg <notifications@github.com wrote:

[2019-01-03 18:53] itodirel commented on #195
Hi, there was a bug in this that we just fixed, target_include_directories will absolutely work with the bug fix, it was a bug that it didn't work before, currently we are expecting a full remote path in there, could you tell me if you use relative paths?

[2019-01-03 18:57] itodirel commented on #174
Hi, we are aware of this bug and we are planning a fix for it soon

[2019-01-03 18:57] itodirel commented on #183
that is a good suggestion, and these should indeed be cleaned

[2019-01-03 19:00] itodirel commented on #216
thanks, we're looking into it, @ramoneeza can you share your project with us?

[2019-01-03 19:06] fvannee commented on #195
Yes, relative, as in the example from my first post - the target include
directory includes .. - its parent directory.
target_include_directories(a1 INTERFACE ..)

So, that's why further includes to that library are done as a1/a1.h (dir
name from the parent plus header file name)

-Floris

On Thu, Jan 3, 2019, 19:54 Ion Todirel <notifications@github.com wrote:

[2019-01-03 22:32] itodirel commented on #236
Hi, could you tell us how and commands you would execute with the custom build tool?

[2019-01-03 22:35] itodirel commented on #280
Hi, we are interested in supporting other shells, but we likely won't be supporting PowerShell, do you have bash on your system, even if not default? if so, that is something we can make work

[2019-01-04 09:37] fvannee commented on #195
Does 'just fixed' mean that it's in any (preview) release already or that it's still in testing?
In case it's useful - attached is a minimal example that shows the issue. For a local (Windows) config, Intellisense works fine. For a remote Linux config, the include in main.cpp is not recognized by Intellisense. It builds fine in either case.
[CMakeProject1.zip](https://github.com/Microsoft/VSLinux/

[2019-01-04 11:56] MathiasMagnus commented on #280
Yes, bash is installed. It's not a problem if the infrastructure depends on a package, I just don't like changing the default shell for remote dev and back again after I'm done.

[2019-01-04 23:32] lukka commented on #278
@pvanoppen2 in the next preview of VS 2019 (preview 2) the start of the debugger in gdb mode is more resilient to timing issue. We do not have a fix for the current release VS 2017. Please open a reqquest on [DevComm](https://developercommunity.visualstudio.com) to prioritize a possible backport.

[2019-01-09 19:54] jarlostensen commented on #142
FWIW: I had a general issue with VS2017's connection to the linux subsystem failing the auth and followed these instructions which fixed it for me; https://superuser.com/questions/1111591/how-can-i-ssh-into-bash-on-ubuntu-on-windows-10

[2019-01-15 08:41] itodirel commented on #355
hi, this issue is fixed and will be available in 16 Preview 2, which is due to release soon

[2019-01-15 08:46] itodirel commented on #353
@lukka @elizabethmorrow can you take a look?

[2019-01-15 08:47] itodirel commented on #357
we are aware of this issue and working on a fix, but the fix might take a while because of the complexity of the fix

[2019-01-15 08:48] itodirel commented on #361
@yuehuang010 could you take a look?

[2019-01-15 08:52] itodirel commented on #359
that is quite significant, thanks for the numbers, @lukka @elizabethmorrow can you look into this?

[2019-01-15 08:52] TerryFogg commented on #361
I re-read my issue, and I see I didn't mention I was using Visual Studio 2017 edition with a CMake project and a launch.vs.json file

[2019-01-15 08:53] TerryFogg commented on #361
Of course, this may not be the correct place to raise this issue?

[2019-01-15 08:53] itodirel commented on #350
@10manjunath sorry for the delay, yes, please give a day or so, I'll try to get that tomorrow

[2019-01-15 08:57] itodirel commented on #306
we are aware of this issue and are investigating

[2019-01-15 08:58] itodirel commented on #338
no, I don't think that is related, we are investigating

[2019-01-15 08:58] itodirel commented on #338
@elizabethmorrow can you take a look?

[2019-01-15 09:01] itodirel commented on #293
I see, I can try that and report back, I think you need to do bash -c make or something like that

[2019-01-15 09:03] itodirel commented on #284
Hi, I believe this should be now fixed in the latest release, can you try it?

[2019-01-15 09:04] itodirel commented on #305
we're looking into it, thank you for the report

[2019-01-15 09:08] itodirel commented on #278
Hi, if this is still a issue, please reopen, closing this in an effort to get our issue list down

[2019-01-15 09:11] itodirel commented on #307
Hi, it should be in the next 1 month, but we can't say for sure. Sorry regarding the delay, we are trying to get to all the issues as soon as we can and are ramping up on that.

[2019-01-15 09:12] itodirel commented on #333
@paulmaybee any comment on this?

[2019-01-15 09:12] itodirel commented on #340
@lethe555 if the tunnel @lukka mentioned above works for you, we can give you details on how to set it up

[2019-01-15 09:13] itodirel commented on #345
@lukka @elizabethmorrow can you investigate?

[2019-01-15 09:14] itodirel commented on #346
Hi, out FreeBSD support is limited, but connecting and building should be fine

[2019-01-15 09:15] itodirel commented on #342
@elizabethmorrow can you take a look? Maybe Felix has some ideas

[2019-01-15 09:17] itodirel commented on #335
we support remote pre build steps, you could in theory write a shell scripts that extracts the library, and run it as part of the build step, but you'll have to do your own incremental support, let me know if that is something you're willing to try and we can provide more details

[2019-01-15 09:18] itodirel commented on #341
@elizabethmorrow you had a fix for this, can you take a look if it's the same thing?

[2019-01-15 16:03] paulmaybee commented on #361
can you attach you launch.vs.json?

[2019-01-15 17:57] mqudsi commented on #346
Is this a recent development? I was completely unable to get anywhere with FreeBSD.

See also #348 and the solution I uploaded.

[2019-01-15 20:52] lukka commented on #228
Closing the issue as no repro provided. Please feel free to open a new report on [Developer Community forum](developercommunity.visualstudio.com/
), thanks!

[2019-01-15 20:52] #228 closed

[2019-01-16 23:33] yuehuang010 commented on #361
If you started the server manually first, then try using starting GDB.  Does that help?

[2019-01-17 01:49] lukka commented on #353
Closing as the issue is now present at Developer Community forums.

[2019-01-17 01:49] #353 closed

[2019-01-17 07:32] itodirel commented on #288
reopening to very this is not a issue

[2019-01-18 09:01] itodirel commented on #304
@tawe141 as Luca suggested, is that something you could use? for the relative paths issue, using #325 to track since it's the same underlying issue

[2019-01-18 09:02] itodirel commented on #277
@yuehuang010 any updates?

[2019-01-18 09:05] itodirel commented on #229
same underlying issue as #66

[2019-01-18 09:06] itodirel commented on #66
this is still a bug but will use #325

[2019-01-18 09:08] itodirel commented on #240
this is a relative paths issue, same as #325

[2019-01-18 09:09] itodirel commented on #250
@VMinute thank you for your patience with us

[2019-01-18 09:10] itodirel commented on #244
could you use remote build events to do the additional copying?

[2019-01-18 09:12] itodirel commented on #247
this seems part a bug, that we should fix, and part an optimization that we could make; I'm not sure about cleaning having a different behavior, but maybe we could add a knob for that

[2019-01-18 09:13] itodirel commented on #229
same issue as #325

[2019-01-19 00:14] yuehuang010 commented on #277
Someone broke our internal tests.
<_<

2>    Target "_CopySources" skipped, due to false condition; ('$(RequireRemoteConnection)' == 'true' and '$(ResolvedRemoteTarget)' != '') was evaluated as ('' == 'true' and '' != '').
"_CopySources" is used to passed ProjectPublicIncludePath and RemoteIncludePath over P2P Recipe.

[2019-01-19 00:18] yuehuang010 commented on #277
+ @elizabethmorrow

[2019-01-19 00:49] yuehuang010 commented on #277
I downloaded the sample app.  There are few additional issues.
1) Public Project Include Paths should work "include", To workaround, you change it to "./include".
2) libSharedLibrary.so isn't passed to ld from P2P.  New bug: Remove the $(_LinkImportLibraryTemp) in the condition as it is always empty.  [VSINSTALLDIR]MSBuild\Microsoft\VC\v160\Application Type\Linux\1.0\Linux.targets:
Before:
```<_Li

[2019-01-21 14:19] fvannee commented on #195
@itodirel any update on when it'll be available?

[2019-01-23 00:38] tvkit commented on #39
Frustrating this trivial addition isn't available especially after two years

Why not just post the source code for the extension so the community can pick up where MS left off.

[2019-01-23 01:41] lukka commented on #39
@tvkit please create the two suggestions on [Developer Community forum](https://developercommunity.visualstudio.com/), thanks for your feedback.

[2019-01-23 04:51] tvkit commented on #39
Thanks for the reply, @lukka, but I'm not gonna waste my time with Microsoft's antiquated support paradigm.  If the issues raised here are ignored by Microsoft's product managers then why does this repo exist?

Anyway, here's a way to get around the neglected deficiency...

Given the $PATH:  (_a raspian target_)

`/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/g

[2019-01-23 23:36] thomas-dee commented on #132
If anyone stumbles across that issue again:

`Subsystem sftp /usr/lib/openssh/sftp-server` **did not work** for me but
`Subsystem sftp internal-sftp` **did work**.

[2019-01-24 01:51] lukka commented on #360
Closing as the relative suggestion has been created already.

[2019-01-24 01:51] #360 closed

[2019-01-24 08:37] sameerppradhan commented on #119
Hi,
I am still getting the error for Tizen sample apps project. The error as below while running/debugging.

pkg api_version: 4
=thread-selected,id="1"
Loaded '[vdso]'. Cannot find or open the symbol file.
Loaded 'linux-gate.so.1'. Cannot find or open the symbol file.
The thread 0x1 has exited with code 0 (0x0).
The program 'sdb.exe' has exited with code 0 (0x0).

[2019-01-24 16:47] paulmaybee commented on #119
Please collect and attach a log of the gdb session according to the instructions here: https://github.com/Microsoft/MIEngine/wiki/Logging

[2019-01-24 23:35] pvanoppen2 opened #362 "How to build a library with dependent library?"
I have a Linux project set up that builds a static library: libcompat.a which holds (among others) setproctitle.o
A second Linux library (libcommon-daemon-lib) should include some new objects files (log.o and ctl.o) and the complete content of the generated libcompat.a

Using ar it would look something like :
`ar cr .libs/libcommon-daemon-lib.a log.o ctl.o  .libs/libcompat.a/setproctitle.o ... `

[2019-01-25 19:47] pvanoppen2 commented on #362
It appears that references to Linux targets have a problem. When I add a reference to a library it claims a Microsoft.VisualStudio.ProjectSystem.References.UnresolvedBuildDependencyProjectReference" reference could not be resolved. , even though the library builds successful on the remote target.
![image](https://user-images.githubusercontent.com/36933398/51769074-e1fabd00-2096-11e9-8a96-a43e5ac2f

[2019-01-25 20:19] pvanoppen2 commented on #362
This issue was presumable fixed some time ago, but appears in my 15.9.5 Version of Visual Studio.
[https://developercommunity.visualstudio.com/content/problem/196761/linux-c-project-doesnt-allow-to-specify-path-to-a.html](url)

[2019-01-26 01:50] yuehuang010 commented on #362
I am not able to repro the issue.  Could you share your sample?
![image](https://user-images.githubusercontent.com/19828377/51781144-8f86c400-20c9-11e9-8d23-bac3362b4245.png)

[2019-01-28 22:15] JulienTheron commented on #355
Tested and working in 16 Preview 2. Thanks!

[2019-01-28 22:15] #355 closed

[2019-01-28 23:33] MichaelKv commented on #266
Hi. You have added a "bug" label after almost a year of investigations. Is there any hope it would be possible to be able to build more or less complex solutions with Visual Studio on Linux? My directory structure looks like this:
src
--ComminInclude
--Dll1
----Win
----Lin
--Devices
----Dll2
------Win
------Lin
etc.
In my case only, say, Dll1 directory structure is preserved. Dll2, etc. sources ar

[2019-01-29 01:16] MichaelKv commented on #266
Please, also note, if I set a file c:\mike\src\Devices\Dll2\Lin\source1.cpp to copy to home/mike/src/Devices/Dll2/Lin/source1.cpp on the remote Linux machine in its VS properties it will be copied correctly but the Linux compiler will try to compile home/mike/src/source1.cpp as you will see from the error message "file not found".
Please, tell something about the problems of this issue. I really n

[2019-01-29 14:32] patrikhuber commented on #353
I have the same problem, none of the suggested workarounds (e.g. `pkill rsync`) really works. I'm on the latest VS 2019 Preview. Really sad that every time I try this, for the last year or two, there's still something that doesn't work out-of-the-box yet.

[2019-01-29 16:52] IakovK commented on #353
I wonder why can't they just revert that feature to the state when it worked? Don't they use version control systems?

@patrikhuber
Really sad that every time I try this, for the last year or two, there's still something that doesn't work out-of-the-box yet. And the displayed errors make it nigh impossible to try and find out what's going on without spending hours on it.
I sort of agree: It seems

[2019-01-29 21:52] patrikhuber commented on #353
@IakovK To be fair this feature is evolving a lot, and in principle improving quite a lot. The problem I'd say is that there's so many things that can go wrong along the way. Maybe I've just been unfortunate. I'd love to use VS & direct CMake integration & WSL and it's awesome what MS is doing in that direction. I just wish the testing was a bit better, and the error messages were better, so you c

[2019-01-29 22:20] IakovK commented on #353
@patrikhuber
I don't know in which direction it is evolving. What is improving if the feature doesn't work? In first version it was poor (good for first version), but it worked. Good promise. In next update it just stopped working. Evolved. Now, given the Microsoft's attitude, I am afraid to install any updates: Who knows, maybe they are evolving it in such a direction that breaks what always work

[2019-01-29 22:37] lukka commented on #266
@MichaelKv the flattening of the project is done by design. You should only use Project to Project references in them, avoiding hardcoded paths.

If my comment is not helpful, my suggestion is to open a feedback item on [Developer Community forum](https://developercommunity.visualstudio.com). I understand that requesting to open another ticket is not pleasant, but this github repository predates t

[2019-01-29 23:31] MichaelKv commented on #266
Your comment is helpful -- I am aware of the situation now, thank you. Though, I do not understand it. VS has supported directory structures of projects source code for decades and it supports them now but in Windows builds only. Every single Linux build system is capable to deal with source code directory structures too. Also having in mind that VSLinux has special controls that allow setting up

[2019-01-29 23:34] MichaelKv commented on #266
It looks like the angle brackets do not work for quotation here, sorry for bad formatting.

[2019-01-30 02:28] MichaelKv opened #363 "Does adding the reference to a project add this project to the linker input?"
Hello. Given the projects A and B where A depends on B and requires B as the linker input if I add B as the reference for A it will automatically link B to A for Windows builds. This approach does not work for Linux builds and I have to set B as the linker input for A manually in Library Dependencies and Additional Library Directories. Is it the supposed/intentional behavior or a bug?

Thank you.

[2019-01-30 03:47] lukka commented on #266
@MichaelKv  If you have a solution with several projects, they are copied on the building machine (server side) just underneath the build root, such as:

    buildroot:
      - project1
      - project 2
      - and so forth.

This independently of where the .vcxprj projects are located on the windows machine.
By using "project to project" references you should not incur in any problem with hardco

[2019-01-30 17:54] MichaelKv commented on #266
I was unable to find out a "Report new problem" button as described here  https://developercommunity.visualstudio.com/content/problem/post.html?space=8
Please, feel free to close the issue.

[2019-01-30 18:47] yuehuang010 commented on #266
@MichaelKv can you look at the sample from #277.  Change the project from shared object to library, then update the public include path to "./include".

[2019-01-30 18:52] yuehuang010 commented on #363
@MichaelKv , using Project to Project reference should work.  Which version of VS are you using?
You shouldn't need to do "Path Math" between projects.  The Project Reference should take care of that for you.  To share include files between projects, use the "Public Project Include Path" variable under C/C++.  The build will handle the path translation for you.

If you are still having trouble ple

[2019-01-30 18:54] yuehuang010 commented on #354
The error are coming from IntelliSense.  You can turn it off by selecting "Build" instead of "Build+IntelliSense"

[2019-01-30 19:17] pvanoppen2 commented on #362
I created a libA, that generates a static library (liblibA.a), leaving most settings as default.
Next a sandbox project (also with most settings left as default) with a simple main() is able to include (and use) the method declared in the references libA.
However the liblldpctl project, which tries to include the same libA, indicates a warning sign at the library
Reference.
![image](https://user-i

[2019-01-30 19:38] yuehuang010 commented on #325
Hi, we recently discovered that a bug that in Additional Include Directory "include" fails but "./include" succeeds.  See if that helps your case.
If still has issues, can you share a sample of your project?
Thanks

[2019-01-30 20:10] MichaelKv commented on #363
Well, the example is trivial but as you wish. Here is the concrete example that does not work for me in VS2017 or VS2019. Please, see the attached archive. BTW, you might probably ask the VS guys to add -fPIC option automatically.
The solution attached fails to compile with the following error message:
1>Starting remote build
1>Compiling sources:
1>a.cpp
1>Linking objects
1>C:\MKS\tmp\Solution1\Pr

[2019-01-30 20:23] MichaelKv commented on #266
I do not have problems with includes. I do know about the quirks with paths and I can work around them. Frankly speaking, I have invented a workaround for this very problem too yesterday. It is ugly, inconvenient but it works for me.

[2019-01-30 20:48] MichaelKv commented on #363
I do not see my attachment. If you need it please, feel free to ask me to resend it by email.

[2019-01-30 23:23] pvanoppen2 commented on #362
To be more specific,  the reason that you could not reproduce the issue was that you included the library into an **application**... The question however was, how to include a (static) library into a **library**.
So in stead of your console application, create a libConsole project and set the Configuration Type to **Static library (.a)** . I did that for libSandbox (see picture) and you can see th

[2019-01-30 23:23] lukka commented on #266
@MichaelKv closing this issue as request, but feel free to provide any suggestion or a bug report on the Developer Community forum. You could submit it by using Visual Studio by clicking the small icon with a baloon (hovering it says "Send Feedback") near the quick launch box:
![image](https://user-images.githubusercontent.com/681992/52019468-aac74a00-24a2-11e9-8771-3e036c6f2d99.png)

Thanks for y

[2019-02-01 00:49] yuehuang010 commented on #363
I can't see your attached sample.  If you can't upload them here, the you can email to your sample to VC++ Linux Support <vcpplinux-support@microsoft.com>.

[2019-02-01 01:07] MichaelKv commented on #363
Done. Please, see Solution1.zip.

[2019-02-01 01:08] MichaelKv commented on #363
Only x64 Debug configuration was configured.

[2019-02-01 11:30] Sam13 opened #364 "Specify remote connection settings programatically (MsBuild)"
For build automation I'd like to provide remote connection settings programatically.
Preferred way would be MsBuild parameters.

Is this already possible? I did not find any information about that

I'm currently trying to achieve that functionality by copying a predefined _store.xml_ to _%APPDATA%..\Local\Microsoft\Linux\User Data\3.0\store.xml_.
This does not work, I always get the error  _Could

[2019-02-01 12:38] Sam13 opened #365 "Include C++ Linux development in VS build tools"
It would be nice to have this VS extension also available in Visual Studio Build Tools...

[2019-02-01 17:43] pvanoppen2 commented on #362
Well, the work around is, to duplicate the source files of the nested library, which is not as elegant.  Are nested libraries supposed to work, or is it a feature that just is not supported?
In other words, I could not create a Sandbox Application that includes/ references libSandbox.

If it is a bug (then it should be possible to create a static library with a reference to another library), could

[2019-02-01 20:14] lukka commented on #365
@Sam13 thanks for the suggestion. Please go ahead and submit a suggestion request at [Developer Community forum](https://developercommunity.visualstudio.com/), where you could "Suggest a Feature".

[2019-02-01 20:14] #365 closed

[2019-02-01 20:20] lukka commented on #364
@Sam13 thanks for the request. If it is possible my suggestion is to use Visual Studio to setup the credentials, hopefully you need to do this only once.
It is not possible to setup those programmatically, my advice would be to submit a request for a command line utility for doing so (on [DevComm](https://developercommunity.visualstudio.com)).
Your assumption is right, you cannot copy the file to

[2019-02-04 09:41] Sam13 commented on #364
@lukka that's very sad.
I'm running Visual Studio inside Docker, so I'm not aware of how to run the GUI and set those options there.

This small missing feature makes the whole cross compilation process unusable to run in a docker based CI environment.

If I would write such a command line utility myself can you give me a starting point on which methods / classes / assemblies provide the functiona

[2019-02-04 09:49] Sam13 commented on #365
Feature request posted

[2019-02-05 21:12] itodirel commented on #364
we support specifying the remote machine in the command line to MSBUILD if you already added the credentials to Connection Manager, with /p:RemoteTarget=, however we do not allow adding credentials to Connection Manager programatically, there is a way to do it but it isn't documented, if you're blocked I'd be happy yo tell you offline, please mail us at vcpplinux-support@microsoft.com

[2019-02-06 11:24] fvannee commented on #195
I just tried my previously attached example (CMakeProject1.zip) with the latest release of VS 2019 Preview 2.1. It has definitely not been fixed - the problem is exactly the same as with any other release of VS.

[2019-02-06 11:26] fvannee commented on #195
@itodirel  if not fixing the issue, can you at least remove the 'fixed' label from the issue on github, as it has not been fixed yet?

[2019-02-06 13:20] Sam13 commented on #364
@itodirel Many thanks for your kind offer.
In meantime I figured out something myself. I'll get back to you if I need more support...

[2019-02-06 20:52] dedmen commented on #359
Just my observation as additional info:

Just looking at my project's rsync I'm getting a steady transfer at EXACTLY 2MB/s.
Wheras a SFTP transfer of a sample file transfers with 4.6MB/s (4.8MB/s is my theoretical max upload speed)

[2019-02-18 10:44] boskars commented on #306
Apperently this problem does not have a high priority, there is still same problem in VS2019 prev 3
I am glad I still have v15.7.4 where intellisense is working for me.

[2019-03-03 19:26] JomaCorpFX commented on #310
Taken from https://developercommunity.visualstudio.com/content/problem/300362/linux-cmake-intellisense-headercache-not-downloadi.html

Since 'rsync' doesn't work for me, I found out you can revert to the previous .zip via sftp method by:

**1.** Select your connection
Update from Tools->Options->Cross Platform->Connection Manager->Remote Headers Intellisense Manager.
Next click on Explore button.

[2019-03-04 05:43] xcyl commented on #353
I have the same problem. VS 2019 Preview 4.

[2019-03-04 07:21] IakovK commented on #353
For the reason stated above I am not going even to try VS 2019. Enough.

[2019-03-05 07:17] xcyl commented on #353
@lukka I have the same problem. VS 2019 Preview 4.

[2019-03-09 16:10] JrIndie commented on #174
Hello.  I am getting this error too.

MVSC2017 - 15.9.8
ubuntu 18.04

gcc --version
gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2019-03-11 08:52] fabianoliver opened #367 "GDB fails to start, VS crashes - "channel has not been opened" from shellexec"
Hi,

I was just testing Linux support on a CMake project, and successfully compiled the application on the "remote" machine via VS. However, debugging fails. When trying to debug, I'm getting the following build output:

Which is followed by an error popup in VS,

Visual Studio either completely freezes afterwards, or (more commonly) just crashes.

Maybe irrelevant, but also - the first time I'm t

[2019-03-14 15:23] orioha opened #368 "Visual studio integration question"
Using open folder in vs2017 having launch.vs.json

Not using cmake . Just trying something simple

debugInfo.remoteMachineId is translated to the /s parameter in shellexec.exe

How can i know what number to choose?

Writing the hostname doesnot work

Linux cross compiler settings are set

[2019-03-14 15:33] orioha commented on #368
I think the Problem is shellexec /s translated to a string (hostname) instead of a number

[2019-03-14 17:29] zbagz opened #369 "Files not being copied remotely"
Files are not being copied to the remote machine on a makefile linux project.

This is happening on VisualStudio.16.Preview/16.0.0-pre.4.2+28711.60 and Visual C++ for Linux Development   1.0.9.28711.

However, the same project synchronizes just fine when running on VisualStudio.15.Release/15.9.9+28307.518 and Visual C++ for Linux Development   1.0.9.28218.

Still... I cannot use Visual Studio 15 s

[2019-03-15 15:10] orioha commented on #243
Shellexec s parameter is a problem for me too . Cannot understand what number it is waiting for

[2019-03-19 03:45] itodirel commented on #18
copied to internal work item, and closing this, we are planning get to this in the Dev16 time frame

[2019-03-19 03:45] #18 closed

[2019-03-19 03:46] itodirel commented on #19
copied to internal work item for tracking, closing this, not sure when we can get to this, possibly during Update 1 time frame

[2019-03-19 03:46] #19 closed

[2019-03-19 03:47] itodirel commented on #34
hi, that is available now https://visualstudio.microsoft.com/vs/preview/

[2019-03-19 03:47] #34 closed

[2019-03-19 03:50] itodirel commented on #39
we are not planning to get to this soon, closing and copying the work item to internal database, we'll update this when done, as a workaround you can login as root

[2019-03-19 03:50] #39 closed

[2019-03-19 03:52] itodirel commented on #57
we are planning to have this in the Update 1 time frame, this is tracked internally, and this is a feature, closing in an effort to reduce the number of issues

[2019-03-19 03:52] #57 closed

[2019-03-19 03:53] itodirel commented on #186
plans to add keyboard authentication sometime during Dev16 time frame, no more info beyond that, we are tracking it internally, in an effort to reduce our issue list, closing

[2019-03-19 03:53] #186 closed

[2019-03-19 03:54] itodirel commented on #62
copied internal backlog, no plans for this, if that changes, I'll update this

[2019-03-19 03:54] #62 closed

[2019-03-19 03:55] itodirel commented on #92
it is currently out https://visualstudio.microsoft.com/vs/preview/

[2019-03-19 03:55] #92 closed

[2019-03-19 03:55] itodirel commented on #173
suggestion copied to backlog

[2019-03-19 03:55] #173 closed

[2019-03-19 03:58] itodirel commented on #252
we are tackling this separately, copied to backlog

[2019-03-19 03:58] #252 closed

[2019-03-19 03:59] #245 closed

[2019-03-19 04:00] itodirel commented on #250
closed as fixed, no plans in backporting

[2019-03-19 04:00] #250 closed

[2019-03-19 04:01] itodirel commented on #276
copied to backlog

[2019-03-19 04:01] #276 closed

[2019-03-19 04:02] itodirel commented on #307
this is now fixed, please install latest preview from here: https://visualstudio.microsoft.com/vs/preview/

[2019-03-19 04:02] #307 closed

[2019-03-19 04:02] #232 closed

[2019-03-19 04:05] itodirel commented on #328
closed, please reactivate with more info @cxh852456

[2019-03-19 04:05] #328 closed

[2019-03-19 04:07] itodirel commented on #326
if you specifically set the machine in Property Pages, the project is tied to that, that is by design

we're planning an experience where connections are named, and defaults can be selected, closed as is by design, the experience for named/default connections is in our backlog

[2019-03-19 04:07] #326 closed

[2019-03-19 04:12] itodirel commented on #306
we've seen this problem when rsync processes would not be correctly closed, we believe this should be fixed now, please install the latest VS preview from here https://visualstudio.microsoft.com/vs/preview/

[2019-03-19 04:14] itodirel commented on #319
@SamuelHenderson please let us know if this problem is now gone for you, and reopen otherwise

[2019-03-19 04:14] #319 closed

[2019-03-19 04:17] itodirel commented on #236
copied to backlog

[2019-03-19 04:17] #236 closed

[2019-03-19 04:18] itodirel commented on #271
using #325 for tracking, same underlying issue

[2019-03-19 04:18] #271 closed

[2019-03-19 04:20] #185 closed

[2019-03-19 04:21] itodirel commented on #237
to what I was mentioning before, you can disable source copy in Copy Source, and for each source file you can specify its location on the remote machine

[2019-03-19 04:22] itodirel commented on #294
let us know if this is still a problem

[2019-03-19 04:22] #294 closed

[2019-03-19 04:26] itodirel commented on #284
@Berrysoft could you provide us with a repro? please open a separate issue for the problem you are seeing

[2019-03-19 04:26] #284 closed

[2019-03-19 04:29] #278 closed

[2019-03-19 04:29] itodirel commented on #321
@conwayk please let us know if this isn't working for you

[2019-03-19 04:29] #321 closed

[2019-03-19 04:31] itodirel commented on #304
closed as duplicate and using 325 for tracking

[2019-03-19 04:31] #304 closed

[2019-03-19 04:32] itodirel commented on #293
closed, please let me know if that worked for you