[2017-07-10 10:52] #156 closed

[2017-07-10 19:39] SamuelHenderson opened #157 "How can I automatically copy content files to remote output directory?"
* Brief description:
I have a image file "texture.png" that is in my Visual Studio Project folder. In texture.png's "Properties" panel of the 'Solution Explorer' I have the following properties set:

[code]
I have 'Copy Remotely' and 'Copy to Output Directory' set to 'Yes' in the 'Copy Sources'  Property Page of texture.png (I accessed this by right clicking the file and selecting properties).

*

[2017-07-10 20:20] SamuelHenderson commented on #157
I should also note that I am interested in any work-arounds (like build events) that can be used to counter this problem.

[2017-07-11 14:18] SamuelHenderson commented on #153
Hi!  I ran into a similar problem when trying to link against SDL2.  I had my 'Library Dependencies' in Project Settings->Linker->Input set to:
`-lSDL2;-lSDL2_image;-lSDL2_mixer;-lSDL2_net;-lSDL2_ttf`

Visual Studio adds the '-l' automatically apparently so changing the dependencies to:
`SDL2;SDL2_image;SDL2_mixer;SDL2_net;SDL2_ttf`
Allowed the linking to complete.

Another thing to check is that

[2017-07-12 14:51] braindeaddeveloper opened #158 "VS2017(15.2) hangs forever while debugging a linux process over ssh after an idle period"
* A brief description:
VS2017(15.2) hangs forever while debugging a linux process over ssh after an idle period.  This was also the case with 15 and 15.1.

* Expected results
Should not hang forever ... should be able to return to an idle session.

* Actual results (with build output window contents if applicable)
After an idle period in an active debugging sessions (i.e. no keyboard input) VS jus

[2017-07-12 16:26] #113 closed

[2017-07-12 16:27] #109 closed

[2017-07-12 16:36] ohanson511 commented on #93
@sensed adding the linux toolset to an existing vcprojx and making it multiplatform sounds extremely interesting.  Do you mind sharing with us how you did this ? From current documentation I only know how to create a new linux project and would love to implement your solution instead.

[2017-07-13 05:29] wtof1996 commented on #157
I have the same problem, but I found my files in the remote project directory( ~/projects/$(ProjectName)/).
So you need copy them manually in  Build Events (You can see some remote events, choose the one you want):

[code]

[2017-07-13 06:24] boskars commented on #158
I have reported same issue to Microsoft.

[2017-07-13 14:35] aygkhn opened #159 "Permission denied error messages."
Hi when i compile my program always i get this message. Please help me.

Messages:

  Linking objects
1>    Invoking ld
1>    g++ -o "/home/svtu/projects/ConsoleApplication7/bin/x86/Debug/ConsoleApplication7.out" -Wl,--no-undefined -Wl,-L/usr/local/lib -Wl,-L/home/svtu/workspace/SVTU_V3.0/Lib -Wl,-L/usr/lib -Wl,-z,norelro -lpthread -lrt -lmbusmaster -lmysqlclient -lsybdb
1>     /home/svtu/projects

[2017-07-13 21:37] Tuebel commented on #137
I can only observe this behaviour when using subdirectories in the projects folder.
If all the sources and headers are stored in the root folder of the shared items project everything works as expected.

[2017-07-17 17:24] zimmermegan commented on #142
I also had the same issue, I could SSH in fine and dandy, but VSLinux for Visual Studio 2017 wouldn't connect. After [this fix](https://social.msdn.microsoft.com/Forums/vstudio/en-US/69075cf3-a1b7-4c4c-bbac-807e46426dc8/unable-to-add-ssh-connection-to-remote-system-in-visual-studio-2017?forum=vsdebug) and moving to the Visual Studio 2015 version and it worked (Still doesn't work on 2017).

[2017-07-20 08:35] braindeaddeveloper commented on #158
I have to add this is getting REALLY intrusive now ... I delayed just long enough to take a 5 min phone call during a remote debugging session (forgetting to terminate the session) and now VS2017 15.2 is completely dead with no way to bring it back so now I have to terminate the process ... this is REALLY BAD.

[2017-07-24 02:37] pps83 opened #160 "bash: -c: command not found"
When I compile I get occasionally `bash: -c: command not found`. Sometimes it works, sometimes fails and I see that nonsense in the log (see highlighted text):

1>  Task "Compile"
1>    Starting remote build
1>    Compiling sources:
1>    Invoking g++
1>     -c "/home/pps/projects/test-proxy/proxy.cpp" -g2 -gdwarf-2 -o "/home/pps/projects/test-proxy/obj/x64/Debug/proxy.o" -Wall -Wswitch -W"no-depr

[2017-07-24 02:49] pps83 opened #161 "Warnings / errors should be converted to cl-style"
when a warning or an error is reports it should be converted to CL-style so that F4 or double click on that line would work. You'd need to match remote and local file name. Also, I think it should also work for remote files we well: if VS wants to open some stdio.h or any other header, it should fetch that file from remote and show it as readonly (I don't know if it already does that when debuggin

[2017-07-24 04:52] pps83 opened #162 "Fix Linux Console Window buffer size"
Please, don't set retarded 10K limits on output buffer that shows in "Linux Console Window".
I just run a test for 45 minutes that logs a line each second and sure enough I wasted time waiting for the test to end, because I was naive thinking that in 2017 it should be technically possible to store a couple of megs of output

[2017-07-24 05:03] pps83 commented on #160
looks like Ctrl+F7 (compile a file) triggers this bug. Vs2015 plugin and VS2017 have the same problem

[2017-07-24 05:23] pps83 opened #163 "Recreate project directory if it doesn't exist"
My test program create lots of log file and I simply remove entire tree on my remote linux. Now I cannot build or run this project on VS. What a fail!

![image](https://user-images.githubusercontent.com/1614246/28509213-71294aea-6ff5-11e7-96a6-c2beeb18d65b.png)

[2017-07-24 05:29] pps83 commented on #163
No matter what I tried, I couldn't fix it. Appears VS-Linux was trying to be smart and refused to update src file as it wasn't modified.
I tried to switch different machines etc... perhaps when I switch to another linux machine it will also fail thinking that file is up to date even if it wasn't uploaded that server previously.

[2017-07-24 16:43] stanthomas commented on #163
See #100

[2017-07-24 16:46] stanthomas commented on #162
Err, why not redirect output to a file? You surely can't read that much information as is shoots by in a console window.

[2017-07-24 16:50] stanthomas commented on #161
Dble-click on a compiler message line in the output window goes to the corresponding line in the source file in the project. No need to convert g++ error messages. And not desireable either 'cos VC++ is a different compiler.

[2017-07-24 16:52] stanthomas commented on #160
Long standing issue, see #5 .

[2017-07-26 10:01] pps83 commented on #162
VS debug output has not limits (at least Ive never seen it). Same for the console output from remote process. There is no need to limit it, or at least keep full output log in Debug IntDir just like regular VS does.

[2017-07-26 10:11] pps83 commented on #161
To me as a user of VSLinux these are obvious things that would make the product better. Some compilers even have an option to report warnings in cl-compatible way. If a compiler cannot do that, then VSLinux can do that so freaking easily to avoid that discussion. When I did quick hack like that 10 years ago to build Symbian from VS I've done that path conversion + warning style and right away it w

[2017-07-26 16:46] dgrunwald commented on #158
Is there a NAT between your computer and the Linux server?
I've had NATs terminate SSH connections that were idle for 5 minutes. As a workaround, enable SSH keep-alive (in Putty: Connection > Seconds between keepalives).

[2017-07-27 08:48] braindeaddeveloper commented on #158
Hi dgrunwald ... there's no NAT and I didn't realise VSLinux uses putty ? How does putty come into the mix ?
thanks

[2017-07-27 09:30] dgrunwald commented on #158
Putty is just the SSH client I'm typically using.
You [used to be able to use the SSH client of your choice](https://blogs.msdn.microsoft.com/vcblog/2015/11/18/announcing-the-vs-gdb-debugger-extension/); I'm not sure when that option disappeared or how to configure the built-in SSH client it's now using.

[2017-07-28 15:49] braindeaddeveloper opened #164 "If a VSLinux project files are on a remote and copy files is switched off then a clean build removes ALL files including the project and solution"
If a VSLinux project files are on a remote file location and copy files is switched off (in situ builds) then a clean build removes ALL files including the project and solution files.  Actually it deleted the top level folder and not just those files specified in :

Project->Properties->General->Extensions to Delete on Clean

I don't expect a clean to ever delete its own solution project source an

[2017-07-31 08:30] braindeaddeveloper commented on #5
This is still happening in VS2017 build 15.2 is this likely to be fixed anytime soon ? ... I have a colleague that is about to dump VS2017 entirely over this

[2017-08-01 11:54] imazahar opened #165 "iOS Project Binaries location"
* Where can I find binaries of my iOS project ?

* In case of linux project I can find it's binaries in respective folder which is release folder in my case. But I am not able to find the binaries of iOS project in iOS project release folder after doing iOS project compilation. It's binaries are only available on Mac machine. I followed : https://docs.microsoft.com/en-us/visualstudio/cross-platfor

[2017-08-01 23:25] dpodder opened #166 "Extension Settings tool window options in the IDE's debugging view are ignored"
When debugging a Linux binary over SSH using Visual Studio C++/Linux integration, the "Exception Settings" tool is accessible and lets you toggle settings to automatically break on certain kinds of C++ exceptions. Regardless of what's selected, however, the settings are ignored; C++ exceptions don't trigger any breakpoints.

![image](https://user-images.githubusercontent.com/2354388/28851205-e8d84

[2017-08-02 03:28] 0x79696e67 commented on #132
I have similar issue. PuTTY works fine.
Target OS: Ubuntu 14.04.5 LTS
SSH Server: OpenSSH_6.6.1p1 Ubuntu-2ubuntu2.8, OpenSSL 1.0.1f 6 Jan 2014
VS info:
Microsoft Visual Studio Enterprise 2017
Version 15.2 (26430.16) Release
VisualStudio.15.Release/15.2.0+26430.16
Microsoft .NET Framework
Version 4.7.02046
Visual C++ 2017   00369-90000-00000-AA724
Visual C++ for Linux Development 1.0.6

devenv_exe_

[2017-08-04 16:24] braindeaddeveloper commented on #160
Guys ! anyone there looking at this ???? An update would be polite !! its a real pain and colleagues are beginning to ask why one bothers to soldier on with VSLinux.

[2017-08-04 20:13] ldcsaa opened #167 "compile SINGLE source file probem !!"
1. When I use ’Build‘ (F7) button to build project, that's OK.
2. But  when I use 'Compile' (Ctrl+F7) button to compile a single source file, then output error, means compiler not fount. like this:

1>  Copying sources remotely to '192.168.56.13'
1>  Starting remote build
1>  Compiling sources:
1>  FuncHelper.cpp
1>  bash: -c: command not found
1>
1>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.

[2017-08-06 12:53] stanthomas commented on #167
See #5 and #160

[2017-08-07 14:28] Stardidi opened #168 "False-positive on successful build"
When compiling my project using VS for Linux, it reports a successful build. However, checking the folder on my remote machine, no executable was produced. Running the actual linker command on that machine also produces an error that VS does not show.

My actual solution configuration is wrong, in that the library file is missing, so I would expect compilation to fail, and it does. However, VS rep

[2017-08-07 15:38] braindeaddeveloper opened #169 "Visual Studio team absent from VSLinux for 2 months"
Is there any one there listening to us ?
No one appears to have responded in nearly 2 months.
Please confirm we aren't all wasting our time.

ever hopeful but somewhat doubtful

[2017-08-08 13:46] stanthomas commented on #169
A bit mean; I think 6 weeks would be a fairer estimate. But I'd agree, feedback from the VCLinux team is in short supply. I don't know if it's the same people but the VS group does seem to be dipping their toe in all sorts of waters, MinGW and Cygwin anyone?, and perhaps spreading themselves a little too thinly. There was a suggestion that VCLinux might be open-sourced. That would be an interestin

[2017-08-08 14:24] braindeaddeveloper commented on #169
I was working from the basis of the last comment which was a question from robotdad on 14th June which yesterday was 54 days on ... so that's 7.714 weeks ... 2 months would have been 6 days more so you are correct I was 0.857 weeks out.  I stand corrected ... thanks Stan ! ... :-)

[2017-08-08 14:33] braindeaddeveloper commented on #169
I wish you were correct but there are some major issues that prevent it being used in an "industrial" environment which aren't being attended to or the user base being kept informed of the progress .. one I can think of has been an issue for over a year the last comment from ito being this is major I must fix it .........
Command lines (project properties c++ command line) aren't being correctly p

[2017-08-09 23:27] itodirel commented on #167
we don't currently support single file compile, I'm going to tag it with bug for fixing that

[2017-08-09 23:28] itodirel commented on #166
we don't currently support the Exceptions window, @paulmaybee any ideas what it would take for that to work and whether gdb supports it?

[2017-08-09 23:31] itodirel commented on #165
The iOS MDD experience is not related to the Visual C++ for Linux development feature. I'm going to forward this issue to the iOS tools team and close this specific one.

Note: you could technically use the Linux tooling to do Mac builds. For example you could have a Makefile invoking your iOS build on the Mac. If you need information on how to set this up, please write us an email, or myself at i

[2017-08-09 23:31] #165 closed

[2017-08-09 23:33] itodirel commented on #164
sorry about that, we recently fixed that bug, the fix will be available in Visual Studio 15.4 Preview 2

[2017-08-09 23:35] itodirel commented on #163
This error comes from debugging, specifically, it is saying that your are trying to debug a program (file) that does not exist on the Linux system, so I'm not sure I understand the comment about creating the directory, that won't solve the problem here.

Could you tell me how your build is configured? Is it a Makefile?

[2017-08-09 23:38] itodirel commented on #161
What problem are your running into specially? Just to clarify, we do parse GCC/clang errors, and are populating the Error List with local paths and line numbers, do you see that not working for you?

[2017-08-09 23:39] itodirel commented on #160
closing as a duplicate of 167

[2017-08-09 23:39] itodirel commented on #160
I tagged 167 as a bug

[2017-08-09 23:39] #160 closed

[2017-08-09 23:41] itodirel commented on #159
What user do you use for connecting to the remote machine? Can you confirm this is the same user as "svtu"? What are the permissions for /home/svtu/projects/ConsoleApplication7/obj/x86/Debug/Action.o? If you can do a ls -l on the file, when logged in with the same user used to connect to the remote machine.

[2017-08-09 23:53] itodirel commented on #169
Sorry about that, we had some people in vacation and some of us were busy landing another (exciting) feature pertaining to Linux. We are getting on top of it, and won't let issues getting out of hand nor stale.

Regarding "_Command lines (project properties c++ command line) aren't being correctly passed to gcc and include paths aren't being passed correctly either_", I looked for a issue for this

[2017-08-09 23:56] itodirel commented on #162
Thanks for the suggestion, easy to fix, we'll change the default to something more sensible and provide an override for users. The current buffer is larger than 10k.

[2017-08-09 23:58] itodirel commented on #158
I believe we recently fixed this problem, adding Paul @paulmaybee for instructions on how to set the logging for debugging. To make sure this is fixed we will need the MIEngine log, Paul can tell you how to get it.

Regarding Putty, I can confirm we are not using it internally.

[2017-08-10 00:00] itodirel commented on #157
this is a bug that we recently fixed, the fix will be available in 15.4 Preview 2, the workaround is to copy it in a Build Event

[2017-08-10 00:03] itodirel commented on #154
The simples way is to change the ApplicationType and ApplicationTypeRevision to Linux like this (in your vcxproj file):

 <ApplicationType>Linux</ApplicationType>
 <ApplicationTypeRevision>1.0</ApplicationTypeRevision>

But you'll likely need more changes, depending on how your project is structured. If it's possible for you to get us access to your project, we can tell you specifics. Otherwise, t

[2017-08-10 00:22] itodirel commented on #153
Can you get me the command line that works, and the one that doesn't from the build ouput, and we can help you configure it correctly.

You have the following options here:

Linker - General - Additional Library Directories - this adds paths with -L to the linker command line near the beginning of the command line.
Linker - Input - Library Dependencies - this adds the file names with -l at the ver

[2017-08-10 00:23] itodirel commented on #147
labeled as a bug, we will investigate and fix

[2017-08-10 00:25] itodirel commented on #145
As mentioned by Alexander, you can create a tunnel yourself and connect the two networks, this is a suggestion that I think we are not planning on getting to soon.

[2017-08-10 00:48] itodirel commented on #146
we don't currently upload dependencies, we expect to find them on the remote Linux system, and we expect them to be expressed in terms of remote paths

[2017-08-10 00:53] itodirel commented on #144
@paulmaybee any idea?

[2017-08-10 00:53] itodirel commented on #144
@Raffa50 can you share your Ubuntu version?

[2017-08-10 00:55] itodirel commented on #142
this seems like a problem with your Linux system, I know that the Windows team owning WSL had fixed a bug here, but I'm not sure if it is this one; @robotdad any ideas?

[2017-08-10 08:55] braindeaddeveloper commented on #169
example includes not being forwarded from VSL to GCC

from proj / props / c/c++ / command line

"/path to gcc/gcc" -W"switch" -W"no-deprecated-declarations" -W"empty-body" -W"conversion" -W"return-type" -W"parentheses" -W"no-pointer-sign" -W"no-format" -W"uninitialized" -W"unreachable-code" -W"unused-function" -W"unused-value" -W"unused-variable" -std=c++11 -Wall -fno-strict-aliasing -I "/path to

[2017-08-10 08:56] braindeaddeveloper commented on #169
Sorry ... will log an issue on this last

[2017-08-10 09:00] braindeaddeveloper commented on #169
Hey I forgot to say guy(s) ... welcome back !!! :-)

[2017-08-10 10:05] braindeaddeveloper commented on #163
Is this related to #164 ?

[2017-08-10 10:08] stanthomas commented on #5
Consolidate on #167 as single file compile bug.

[2017-08-10 10:08] #5 closed

[2017-08-11 04:32] pps83 commented on #162
In my case it was exactly 10K. Regular dev console in VS has no limits IMO, or at least I've never hit

[2017-08-11 04:35] pps83 commented on #161
I do not use error list. I use regular build output which seems to have original unmodified output from linux build. What VS-Linux should do is parse the output and replace paths with local paths (as long as these are part of the project) and change warnings/errors to CL style, this way when you hit F4 you can cycle through your errors/warnings.

[2017-08-11 09:19] braindeaddeveloper opened #170 "Include paths not being passed from VSLinux to remote build"
I am getting repeated failures to find include files in various VSLinux projects.

An example of this :

From project / properties / c/c++ / command line

"/path to gcc/gcc" -W"switch" -W"no-deprecated-declarations" -W"empty-body" -W"conversion" -W"return-type" -W"parentheses" -W"no-pointer-sign" -W"no-format" -W"uninitialized" -W"unreachable-code" -W"unused-function" -W"unused-value" -W"unused-va

[2017-08-11 09:27] braindeaddeveloper opened #171 "Remote file system getting locked when multiple projects have different mappings to same remote share"
If a solution has multiple projects and

If the project file(s) refers to:
\\someremotelinuxmachine\pathtosources\project
But the source files added are to the same location but mapped via a drive:
u:\pathtosources\project

Visual studio randomly locks the directories/files and is unable to load them.  This also prevents explorer from accessing these directories/files.

When Visual Studio is close

[2017-08-11 09:36] stanthomas commented on #161
I don't normally continue discussions with people who are offensive but, since Ion has joined, let me re-iterate: In VS2017+VCLinux 1.0.6, double-click on a compiler error message in the Output/Build window opens the offending source file and goes to the relevent line in the VS IDE.
And, since you seem to believe that just because you can't get to something work it doesn't work for everyone else,

[2017-08-11 11:32] GoodJoey commented on #119
hi, robotdad, i come across with the same issue, any update on this issue?  thanks.

[2017-08-14 14:25] zimmermegan commented on #142
Considering that it works fine with 2015 and not 2017, I don't think its a problem with my Linux system. I've opted to migrate all the code backwards to vs2015 rather than wrestle any longer with 2017

[2017-08-15 11:30] stanthomas commented on #161
@pps83 - your response now should be take the same test program and post the contents of the output window to illustrate your claim together with details of all the software you are using.

@itodirel - here's the build log from the output window in 15.3 / 1.0.7

[code]

Verbosity is still at the default of minimal. You'll see that the error message from `gcc` appears verbatim and later the message

[2017-08-15 22:15] robotdad commented on #67
@damienhocking which version of Ubuntu is this? Are you still seeing this issue in 2017?

[2017-08-15 22:37] robotdad commented on #95
Did you export the key you are using from Putty?

[2017-08-15 22:43] damienhocking commented on #67
Oops, I forgot to close this.  As of a couple of months ago this works.  Closing now, my apologies.

[2017-08-15 22:43] #67 closed

[2017-08-15 22:45] robotdad commented on #103
Have you been able to connect from other SSH clients?

[2017-08-15 22:45] damienhocking commented on #67
BTW it was an update to the Linux component that fixed it, it works on any gdbserver that I've used now.

[2017-08-15 22:57] robotdad commented on #115
This is something we are looking at to copy the includes per remote system locally so they can be referred more easily.

[2017-08-15 23:08] robotdad commented on #126
Do you have your headers copied locally and referenced within the makefile project?

[2017-08-15 23:12] robotdad commented on #136
The QT include paths you set are local on the Windows machine?

[2017-08-16 01:00] dixonqmg commented on #126
Yes of course

Sent from my iPhone

[2017-08-16 10:43] boskars commented on #126
You can get information on which include folders gcc is using and in which order, both for C and C++.  In my configuration they are different so ideally the $(ISenseIncludePath) should be available both for C and C++.

Include search directories: C plus plus

**root@imx6ul-var-dart:~/sr/bin# echo | gcc -xc++ -Wp,-v -**
ignoring duplicate directory "/usr/lib/gcc/arm-poky-linux-gnueabi/5.2.0/include

[2017-08-16 12:07] boskars commented on #158
Is there a way to get this fix for a test.  I have been waiting for this fix for many months...

[2017-08-16 14:25] paulmaybee commented on #158
See https://github.com/Microsoft/MIEngine/wiki/Logging for MIEngine logging instructions.

[2017-08-16 14:35] paulmaybee commented on #128
Are you still having this problem? What does happen when you try to launch the debugger? Can you get a debugger log (see https://github.com/Microsoft/MIEngine/wiki/Logging)?

[2017-08-16 14:42] paulmaybee commented on #119
We are working on getting the Linux Console to work when in gdb mode. The solution will then be to use gdb mode for debugging on these machines..

[2017-08-16 14:47] paulmaybee commented on #102
Rrom the VS  command window (View->Other Windows->Command Window) you can execute any gdb command. Use
  Debug.MIDebugExec <gdb-command>
For example
     Debug.MIDebugExec handle SIG32 nostop

[2017-08-16 14:51] paulmaybee commented on #101
Are you still having this problem? Have you upgraded to VC++ for Linux 1.0.7? Or VS2017? Have you tried running in gdb mode?

[2017-08-16 14:53] paulmaybee commented on #97
Are you still having this problem? Have you upgraded to VC++ for Linux 1.0.7?

[2017-08-16 20:16] robotdad commented on #107
So it looks like you've figured out a way to use the Linux project system with MinGW. That isn't something we've tried, nor is it something we are looking to support in this way. Since you reported this there has been work in other areas that you can use MinGW with Visual Studio. I suggest you take a look at this post on [using MinGW and Cygwin with open folder](https://blogs.msdn.microsoft.com/vc

[2017-08-16 20:18] robotdad commented on #118
We still haven't done anything in this area yet. It's on my plate to come up with something here regarding architecture interactions between app target, build target and deploy target. I hope to have something written up in the next week or two and will share here to get feedback.

[2017-08-16 20:27] robotdad commented on #169
As Ion mentioned there's been a ton of activity that hasn't surfaced yet. That combined with summer vacations isn't a great excuse, but it's the truth. It's also true that we shouldn't have been as absent as we have. We're working to rectify that so you'll be seeing more of us around here.

[2017-08-16 20:28] stanthomas commented on #119
If, as seems to be the case, the issue is related to newer versions of `gdbserver` then "these machines" are pretty soon going to be every Linux distro. Are you giving up on gdbserver?

And do you have any timescale in mind? Will it be possible to get the fix before VS 15.4 is released?

[2017-08-16 20:28] robotdad commented on #168
@itodirel do you have a repro you can use to dig into this, or already understand the root cause?

[2017-08-16 20:54] robotdad commented on #119
We're not giving up on gdbserver, it's still important. What we're finding is that the gdb client we build and distribute for talking with gdbserver seems to not always be compatible. We're often advising people to switch to gdb mode which is more compatible because it uses the gdb client on the target. Then we run into our linux console doesn't work with that... Once we fix that we intend to swit

[2017-08-16 21:00] robotdad commented on #149
@super-kevin 15.3 has the fix for this and is released now. Please let us know if you see this again.

[2017-08-16 21:00] #149 closed

[2017-08-16 21:18] robotdad commented on #23
Doing this consistently across multiple linux distros and package managers does not seem worth investing in given the other work we have.

[2017-08-16 21:18] #23 closed

[2017-08-16 21:22] robotdad commented on #83
This is coming for cmake in 15.4 preview 1.

[2017-08-16 21:23] robotdad commented on #135
@mvacha are you still running into this?

[2017-08-16 21:36] robotdad commented on #68
@lukka made some fixes in this area recently, tagging him to investigate.

[2017-08-17 06:27] boskars commented on #158
[db_log.txt](https://github.com/Microsoft/VSLinux/files/1230289/db_log.txt)
I have attached the log that I sent to Marc in start of July.  Is it possible for me to test the fix?

[2017-08-17 13:18] dixonqmg commented on #126
Intellisense is using the correct includes. It doesn’t have correct built-ins defined for them, that’s my problem.

[2017-08-17 18:03] robotdad commented on #126
I think I've got what I need to try to reproduce this and figure out what's going on. I'm not going to be able to look at it until Monday though.

[2017-08-18 02:16] pps83 commented on #161
Sorry for delay. I actually use "Normal" verbosity level and now I see that these same errors are showed one more time using CL style at the bottom:

[code]

It looks like build output contains duplicated error messages in my case, doesn't look like g++ does that.
Here's actual output when I login over ssh adn run that same command manually:

[code]

I'm fairly sure that when I run it with my big

[2017-08-18 20:58] yosoymin commented on #13
I'm having issues using project references in Linux projects. I have 2 projects, one executable (.out) depending on another library (.a) project, but I can see a warrning icon in the reference of my executable project to the library. If I see the properties of the reference, there is a message in the Full Path field that says: "The "Microsoft.VisualStudio.ProjectSystem.References.UnresolvedBuildDe

[2017-08-19 03:11] chinanrui commented on #86
@raphaelts3 good for me, thanks

[2017-08-21 22:55] itodirel commented on #88
Do you see the dialog responsive after about 30 seconds? Can you confirm that SFTP is enabled?

Are you setting up a proxy or doing anything different when using Putty?

[2017-08-21 22:57] itodirel commented on #91
we fixed this bug and the fix will be available in the Preview 2 of Visual Studio 2017

[2017-08-21 23:03] itodirel commented on #76
@bikeaccdnt, the fix that I mentioned is now available in Preview 1 of Visual Studio 2017

[2017-08-21 23:07] itodirel commented on #76
@jarekSig sorry, I still wasn't able to reproduce the issue and still investigating, are you still able to reproduce it on the latest version of Visual Studio?

[2017-08-21 23:11] itodirel commented on #80
@kaiscode the Additional Include Directories is a semicolon separated list, so to add the two directories, you'll have to have something like this: /usr/lib/x86_64-linux-gnu/glib-2.0/include;/usr/include/glib-2.0

Additionally, you want to make sure in Property Pages that you're setting the Additional Include Directories for the active configuration and platform. At the top of the Property Pages,

[2017-08-21 23:16] itodirel commented on #111
We fixed this recently and the fix will be available in Preview 2 of Visual Studio 2017

[2017-08-21 23:18] itodirel commented on #111
@eiva is the error parsing the only problem preventing you from using our tools on your code base? We would be interested to hear from you on your experiences with Visual Studio Linux Makefile projects and existing code bases.

[2017-08-21 23:18] itodirel commented on #111
https://github.com/Microsoft/VSLinux/issues/91

[2017-08-21 23:19] itodirel commented on #111
Duplicate issue is #91

[2017-08-21 23:29] itodirel commented on #114
I would personally recommend not using non standard lamguage extensions, GCC, Clang or Visual C++ ones, but sometimes they are necessary.

One way you can fix your code, if you want to use the extension, is to effectively turn off IntelliSense for that line, you can do so like this:

[code]

This will make the line invisible to IntelliSense, but not to build.

[2017-08-21 23:33] itodirel commented on #120
We fixed this bug and the fix will be available in Preview 2 of Visual Studio 2017

[2017-08-21 23:34] itodirel commented on #120
See related #91 and #111

[2017-08-21 23:40] itodirel commented on #94
@afshinpir  can you confirm this is still not working for you?

[2017-08-21 23:43] itodirel commented on #127
Automatically copying headers and providing good IntelliSense beyond the C++/C standard libraries is something that we know that we absolutely need to improve. But it's a bit of work, we have it planned in the near future so I'm going to tag it with _feature_. In mean time, you can copy those headers locally and point IntelliSense to them, that should work as a temporary work around.

[2017-08-21 23:45] itodirel commented on #130
@byzeagle is this causing any problems in the context of the Linux extension, beyond the warning?

[2017-08-21 23:54] itodirel commented on #170
@braindeaddeveloper

Regarding the Command Line observation, I want to note that what you see in the Property Pages in the Command Line section, it's an approximation of the actually command line, the reason for that being extra code that we run only during the build and the Property Pages doesn't have access to. For the most part, the discrepancy will only be duplicates and de-duplication.

Regar

[2017-08-21 23:58] itodirel commented on #167
this is a relatively easy fix, I'm going to see if we can make a fix shortly

[2017-08-22 03:20] ldcsaa opened #172 "Please support "-L" and "-I" options"
I not found "-L" and "-I" options setting in the project properties page.
so I add them to the "Additional Options" text box in "Command Line" page of "C/C++" & "Linker" menu, like this:
    `-I/dependency/include -L/dependency/lib `
But the "-L" option does not work currectly, because the "-L" option is added to the END of command line.
For example: I want to use my self's static lib /dependency/

[2017-08-22 03:33] ldcsaa opened #173 "Could the VSLinux plugin provides "Generate Makefile" feature"
"Generate Makefile" automaticly, is very helpful, and reduce workload greatly to developers.

[2017-08-22 09:04] byzeagle commented on #130
No, just the warning "sudo: unable to resolve host {}" if the computer name is not added to /etc/hosts file after fresh installation.

[2017-08-22 22:14] #107 closed

[2017-08-22 22:28] robotdad commented on #154
Let us know if you need any more help on this

[2017-08-22 22:28] #154 closed

[2017-08-22 22:30] robotdad commented on #150
15.3 has been released now. Please let us know if this isn't working for you.

[2017-08-22 22:30] #150 closed

[2017-08-22 22:32] robotdad commented on #146
Please let us know if @itodirel reply didn't answer your question

[2017-08-22 22:32] #146 closed

[2017-08-22 22:34] robotdad commented on #143
Please reopen if you can collect logs for this error, we're interested in taking a look.

[2017-08-22 22:34] #143 closed

[2017-08-22 22:42] robotdad commented on #140
@AvantsGit that is not the same issue.. Can you please open a new issue with details about what project type you are using where you experience this problem?

[2017-08-22 22:42] robotdad commented on #140
@Ayyappatheegala if this is still an issue please reopen with the details @paulmaybee requested

[2017-08-22 22:42] #140 closed

[2017-08-23 00:27] itodirel commented on #91
If you need help finding the Visual Studio version having this fix, or have any other feedback, please let us know

[2017-08-23 00:27] #91 closed

[2017-08-23 00:27] itodirel commented on #120
Fixed

[2017-08-23 00:27] #120 closed

[2017-08-23 00:33] itodirel commented on #111
Closing as fixed.

[2017-08-23 00:33] #111 closed

[2017-08-23 00:49] itodirel commented on #29
We are planning on fixing the IntelliSense and header copying experience first then revisit this problem.

[2017-08-23 00:51] itodirel commented on #167
@ldcsaa @stanthomas @braindeaddeveloper hey guys, this is now fixed, and the fix will be available in Visual Studio 2017 Preview 2, internally called 15.4 Preview 2

[2017-08-23 01:08] bobroberts177 opened #174 "Including <random> causes 617+ IntelliSense errors"
* A brief description

Including `<random>` causes 617+ IntelliSense errors

* Expected results

It should cause no IntelliSense errors.

* Actual results (with build output window contents if applicable)

Errors are of the form:

    Error (active)	E2778	builtin function is not available because vector types are not supported	Project1	c:\Program Files (x86)\Microsoft Visual Studio\2017\Community\

[2017-08-23 03:15] ReneHerrero commented on #80
Noticed something odd with the Additional Include Directories:
If you put: $(ProjectDir)include -> no I flag gets added
But if you put just: include -> the I flag does get added

This obviously only works for directories within the project.
Hope it helps,

[2017-08-23 09:25] stanthomas commented on #172
Ion describes the various ways to specify libraries here: #153

[2017-08-23 13:46] braindeaddeveloper commented on #170
Wow ... Ion ... I have been using VS since the early 90's from 1.52 and on NT 3.51 ... the above is like what you suggest to an intern or graduate.  If you are saying what appears in the properties -> Configuration -> C++ -> Command Line has no direct relationship to the Command Line actually used (ignoring uniqueness and ordering) then I am worried .... to be precise ... my
-I some path
entries i

[2017-08-23 13:52] braindeaddeveloper commented on #141
I tried this but then ended up with a broken solution See #171 thanks

[2017-08-23 15:39] kaiscode commented on #80
@itodirel I was using a semicolon separated list when adding multiple directories.  If I weren't, I wouldn't see it work for glib-2.00 and not glib-2.0 (only difference was adding another character).  As I said, there must be some caching going on somewhere, but I don't have the tools to debug that.  I was on the properties page for the active configuration and platform.

It has been quite a while

[2017-08-24 11:48] maulwurf567 commented on #101
I have exactly the same problem. I have a slightly different demo program:

    #include <iostream>
    #include <string>

    using namespace std;

    int main() {

	    int a = 1;
	    int b = 2;
	    int c = a + b;
	    float d = (float)c;
	    printf("Hello World!");
	   return 0;

    }

It runs fine with or without breakpoints. I can even step over the lines where a,b,c,d are defined. But a

[2017-08-24 13:06] boskars commented on #101
My experience is that if I use "Debugging mode:gdbserver" then I can not step over library calls. It makes the debugger give an illegal instruction error.  Also sometimes step over/into my functions gives same error or the connection is just lost, which means that the this mode is not useable for me.

If I use "Debugging mode:gdb" then stepping over/into is no longer a problem.  However, if the de

[2017-08-24 22:46] itodirel commented on #172
Thank you much @stanthomas, pasting the reply from  #153

Can you get me the command line that works, and the one that doesn't from the build ouput, and we can help you configure it correctly.

You have the following options here:

Linker - General - Additional Library Directories - this adds paths with -L to the linker command line near the beginning of the command line.
 Linker - Input - Library

[2017-08-24 22:55] itodirel commented on #170
@braindeaddeveloper, apologies, I'm just trying to cover all the bases. Can you verify one more thing, when you modify the values in Property Pages, is the Active Configuration and Platform selected? In the Property Pages it should say "Active" at the top. Sometimes the configuration or platform can switch from the Active one, so if you add any settings it will effectively not be applied to build

[2017-08-24 22:58] itodirel commented on #163
It could be related, indeed. That bug with removing the directory is now fixed.

[2017-08-24 23:01] itodirel commented on #161
@pps83 do you see the errors duplicated in the Error List as well?

[2017-08-24 23:03] itodirel commented on #114
Please let us know if you have more questions or it doesn't work for you

[2017-08-24 23:03] #114 closed

[2017-08-24 23:10] stanthomas commented on #161
I do (15.3.1 / 1.0.7).
And Ctrl+Shift+F12 scrolls thru the errors, moving the cursor to the corresponding source file/line. F4 opens the Properties window.

[2017-08-25 00:36] itodirel commented on #83
As Marc mentioned, both of those are coming in Preview 2

[2017-08-25 00:36] #83 closed

[2017-08-25 00:39] itodirel commented on #96
We weren't passing -tty to gdb when running it, I think that was the underlying cause, currently we're almost done with making the Linux console working in gdb mode, and we are passing tty to gdb; @lukka FYI, can you include this scenario in your testing on gdb with Linux Console?

[2017-08-25 05:13] AliAskari commented on #96
@itodirel Cool. Is there a way to test your daily builds?

[2017-08-25 09:08] braindeaddeveloper commented on #170
Hi Ion
Yes ... the active configuration has the include paths set in property pages but the command line executed doesn't.
BTW As I was aware the Active indication is only a reference to the underlying configuration.  So Active(XYZ) points to XYZ. So its XYZ that is the configuration and you can modify those without them being active as in All Configurations or Multiple Configurations.

I have to

[2017-08-25 12:37] boskars opened #175 "Copying of files fails in 15.4 preview 1"
I have just installed 15.4 preview 1 and all my projects fails during copying of files:

1>  Copying file 'C:\Users\xxxxxxx' to '/home/root/projects/xxxxxxx'
1>  Copying file 'C:\Users\xxxxxxx' to '/home/root/projects/xxxxxxx'
1>  C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets(87,5): error : The specified path,

[2017-08-25 20:03] ldcsaa commented on #172
I had tried your suggest, but did not work well ...

the generated cmd line:

`-o"D:\MyWork\Linux\MyWork\TestLinux\bin\x64\Debug\TestLinux.out" "3600000" -Wl,-z,relro -Wl,-z,noexecstack -Wl,--no-undefined "g++" -l"rt" -l"pthread" -l"jemalloc" -Wl,-L"../HP-Socket/dependent/lib" -Wl,-z,now `

and the link result:

[code]

[2017-08-26 00:34] itodirel commented on #170
Is `-I "/path to curl/curl/include/"` specifically, exactly what you're adding to the Configuration Properties - C/C++ - Command Line? I'm not able to reproduce it on 15.2, on the exact same build that you're using (26430.16). Can you try reproducing outside your project, with a simple (new) Console Application project, and see if it's specific with the project that you're using or there is someth

[2017-08-26 01:08] itodirel commented on #153
Closing the issue due to inactivity, if this is still a problem, please reactive and we can further explore and investigate the issue.

[2017-08-26 01:08] #153 closed

[2017-08-28 11:17] Phi-Li commented on #129
Same issue when I try the example program in [Visual C++ for Linux Development | Visual C++ Team Blog](https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/#consolewindow).
I've tried to toggle the Linux Console Windows in edit/debug state as mentioned above but it behaves the same.
- Visual Studio 2017 Version 15.3.2
- Ubuntu 14.04.5 (Bash On Windows)
- gdbserver 7.7.

[2017-08-28 14:23] svobodb commented on #119
I'm observing the same ill gdbserver debugging behavior ("Cannot insert breakpoint -1") with gcc 6.3.0 and gdb/gdbserver 7.12.0 on new machine. However gdbserver debugging on old machine with gcc 4.7.2 and gdb/gdbserver 7.4.1 still works fine. "gdb" mode works fine on both machines, unfortunately debugging in "gdb" mode fails when redirecting stdout while "gdbserver" allows the redirecting (OT: pl

[2017-08-28 14:50] samsinsane opened #176 "Output directory errors"
* A brief description
Changing the output directory to anything (and deleting the default folder) will result in an error.

* Expected results
Changing the output directory should work.

* Actual results (with build output window contents if applicable)
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.Common.targets(54,5): err

[2017-08-28 17:57] lukka commented on #175
@boskars Could you please check the length of the local file path (including file name)? If you move your project files to c:\temp\ directory (hence having a shorter path) does it help?

[2017-08-29 07:13] boskars commented on #175
@lukka It helps moving it to c:\tmp folder.  The deepest path names are appr 60-70 chars using this location.  So it is far from 248 chars.  Thanks for your suggestion.

[2017-08-29 07:13] #175 closed

[2017-08-29 22:12] yuehuang010 commented on #176
Hi, does the issue still repro after a Rebuild?  @lukka

[2017-08-29 22:16] yuehuang010 commented on #95
Please confirm if you are using OpenSSH formatted keys.
Please create a new issue if it is still a problem.

[2017-08-29 22:16] #95 closed

[2017-08-29 23:35] OtherCrashOverride commented on #169
The obvious solution is to open source the project instead of providing an "issues only" repo.  When there is no timely response to issues and developers can not "help themselves" with source code, the only remaining option is to find an alternative.

I reported #141 in May.  At the time of this writing its now the end of August (3 months).  The lack of network support and lack of AArch64 support

[2017-08-29 23:54] pieandcakes commented on #166
this is possible with gdb catchpoints. https://sourceware.org/gdb/onlinedocs/gdb/Set-Catchpoints.html#Set-Catchpoints . It doesn't look like there is a good way to do this through MI though.

[2017-08-29 23:59] pieandcakes commented on #166
created an issue at: https://github.com/Microsoft/MIEngine/issues/644

[2017-08-30 02:02] samsinsane commented on #176
Yes.

I was able to test this with VS2015 with VSLinux 1.0.7, it works fine. It doesn't appear to generate the `.recipe` files at all and has no issues connecting and building the projects.

[2017-08-30 04:40] ilnurkh commented on #95
If I remember correctly, I tried to use putty key. There I can find instruction for generating keys in correct format.

[2017-09-02 09:32] zdenko-s opened #177 "Authentication failure but Putty connects"
Hi,
I am using VS2017 15.1(26403.7). I have OpenSuse Enterprise server. Firewall is off and SSH server runs. I am able to connect using Putty.
When I try to connect using **Linux connection manager** I get error "Authentication failure. Please make sure user name and password are correct". This text is shown when I hoover with mouse over user name or password text boxes (which have red rectangle).

[2017-09-03 15:39] c0deguru opened #178 "Missing Linker Dependencies"
I mentioned this issue in the main VS Developer Community over 4 months ago, but I thought I'd post it here as it is still unresolved, and I'm pretty sure it should be fairly trivial to fix.

From a fresh slate, create a brand new VSLinux C++ console project in Visual Studio and build it - all is fine. Now, modify main.cpp to extern an undefined function, and call it from main. Build again, and yo

[2017-09-05 20:06] paulmaybee commented on #134
This bug should be fixed by the change to support the Linux Console Window when running in gdb debugging mode.

[2017-09-05 20:12] #102 closed

[2017-09-05 22:11] robotdad commented on #177
What version of OpenSUSE Enterprise are you using? Is sftp installed on the target machine?

[2017-09-05 22:47] itodirel commented on #170
Tentatively closing due to inactivity. If this still reproduces for you, please reactivate and provide us with the repro steps.

[2017-09-05 22:49] itodirel commented on #172
Could you gives us the command line that's supposed to be passed to the compiler?

[2017-09-05 22:52] itodirel commented on #96
@lukka

[2017-09-05 22:56] lukka commented on #129
In _gdbserver_ mode using stdin from debuggee application is working Visual Studio 2017 15.3.3.

For _gdb_ mode (note that it is different than _gdbserver_ mode), the fix will be part of Update 5.

[2017-09-05 22:59] lukka commented on #96
Duplicate of #129

[2017-09-05 22:59] #96 closed

[2017-09-05 23:04] lukka commented on #158
Visual Studio does not hang anymore when the ssh debugging session is terminated by the remote party.
Fix will be available in Visual Studio 15 Update 5.

[2017-09-05 23:04] #158 closed

[2017-09-05 23:07] lukka commented on #101
@boskars your issue is a duplicated #158 , which has been fixed.

[2017-09-05 23:11] lukka commented on #134
fixed in #158 , the fix will be avail in VS2017 Update 5

[2017-09-05 23:11] #134 closed

[2017-09-06 10:11] braindeaddeveloper commented on #170
Hi Ion
I cannot use VSLinux anymore due to this ... none of my projects (and I have upgraded to 15.3) pass ANY include file paths to the remote build apart from the pointless path to the windows folders : -I "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\Linux\include\usr\local\include"

I cannot send any more than I have without risking being expelled from the company as it is a corporat

[2017-09-06 10:12] braindeaddeveloper commented on #170
I don't think it right you closed this ....

[2017-09-06 10:16] braindeaddeveloper commented on #170
Hi Ion

added comments I cannot reactivate please do so as I cannot use VSLinux at all and the same with 15.3

thanks

regardz
mark

On 5 Sep 2017, at 23:47, Ion Todirel <notifications@github.com<mailto:notifications@github.com>> wrote:

Tentatively closing due to inactivity. If this still reproduces for you, please reactivate and provide us with the repro steps.

—
You are receiving this because

[2017-09-06 10:32] braindeaddeveloper commented on #170
I get the following when I try and open the project in 15.3:
=====================
06/09/2017 11:21:18
LimitedFunctionality
System.AggregateException: One or more errors occurred. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Build.Linux.Shared.RemoteTargetUtils.ProcessorArchToPlatform(String remoteArchitecture)
   at Microsoft.Build.Linu

[2017-09-06 10:39] braindeaddeveloper commented on #170
I would note that I can see in project properties c/c++ all options : Additional Options : -I /usr/include
BUT in
project properties c/c++ command line : the -I /usr/include is missing

[2017-09-06 10:43] braindeaddeveloper commented on #170
I can confirm that -I /includepath into Additional Options :
project->properties->c/c++->all options : Additional Options : -I /usr/include
works and the -I ... is added to the remote command line

[2017-09-07 07:20] UB909 opened #179 ""Clean" of CMake Project on Linux in VS Preview 15.4"
There is no possibility to perform a clean build on the target machine. For a clean build I would expect that the build directory on the target machine is flushed, and all source files are copied to the target machine again. The only way to force a clean build is to delete the folders in /var/tmp/build and /var/tmp/src, close visual studio, delete the .vs folder and restart visual studio again. If

[2017-09-07 09:17] braindeaddeveloper opened #180 "Issue #170 closed when not fixed"
please reopen #170:

Adding -I /someincludepath to Additional Options is not the right way to do things when it should be in Additional Include Paths.  Additional Options gets added to the end of a command line which is not the correct location.

#170 is not fixed in 15.3.

thanks

[2017-09-07 09:23] braindeaddeveloper commented on #169
You guys closed #170 when it wasn't fixed due to inactivity ? Are you serious ? I agree with the above comment in that case.  If you guys are serious about this product then you need to show us.  Closing an issue because of inactivity is doing that.  I have now spent a LOT of company time trying to get this to work when really I should be discarding an unsuitable tool and spending the time on proj

[2017-09-07 11:36] zdenko-s commented on #177
Hi,
It is openSuse 42.3.
I configured ssh to use prvate key authentication and specified private key in Linux connection manager, everything worked fine. Compiling, debugging. It means dependencies are there.
Could it be that some "flag" of ssh authentication protocol (or whatever) is not implemented by MS ssh password authentication?

[2017-09-07 16:26] itodirel commented on #170
Reactivating based on activity

[2017-09-07 16:27] itodirel commented on #180
Reactivating #170, any objections to closing this one?

[2017-09-07 16:47] itodirel commented on #169
@braindeaddeveloper, reactivated #170, thank you for the additional information, added some notes to #170; the reason we closed #170 was because it's something that we cannot reproduce on our ends, without more information there is nothing we could've done about it, so it wasn't a matter of closing a bug that we know it isn't fixed. Thank you for adding the additional information to #170, we will

[2017-09-07 16:48] itodirel commented on #141
@lukka can you investigate?

[2017-09-07 16:49] itodirel commented on #169
@OtherCrashOverride, we have plans to open source the extension, thanks for the feedback.

Regarding #141, we are investigating

[2017-09-07 17:53] braindeaddeveloper commented on #180
please do thanks

regardz
mark

On 7 Sep 2017, at 17:27, Ion Todirel <notifications@github.com<mailto:notifications@github.com>> wrote:

Reactivating #170<https://github.com/Microsoft/VSLinux/issues/170>, any objections to closing this one?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/VSLinux/issues/180#issu

[2017-09-08 00:55] AliAskari opened #181 "How to report problems with the new CMake integration?"
I installed preview 4 to try the new CMake integration with VC++ Linux. I am really excited about it but unfortunately after installing the preview everything broke.

My stable, non-preview, installation of Visual Studio does not work properly any more, specifically the CMake integration, as it fails to find a compiler. The preview mode also does not work as expected, there are no CMake options wh

[2017-09-08 01:07] AliAskari commented on #169
@OtherCrashOverride

This was epic.

@itodirel @robotdad
In my experience your team is one of the few teams at Microsoft who cares about the users but it could get much better. Open sourcing the product would certainly help every one and the issues would get resolved in a more timely manner. Nevertheless, thank you for the support.

[2017-09-08 08:22] bingzhangdai commented on #129
@lukka I indeed use *gdbserver* mode and the VS version is 15.3.3.

However, I still get the exception

It is not fixed.

[2017-09-08 16:00] lukka commented on #180
as requested by original poster, closing this issue

[2017-09-08 16:00] #180 closed

[2017-09-08 16:05] lukka commented on #179
@UB909 currently you could right click on the CMakeLists.txt file on the solution explorer, then select Clean All menu option. Then the remote directory /var/tmp/build/abcdef1234078 is wiped out, and CMake regeneration need to be manually triggered again.

Feedback about this awkward procedure is welcome in order to provide a better experience.

[2017-09-08 16:07] lukka commented on #181
@AliAskari  Please report here the error, this is the right channel indeed.

[2017-09-08 17:38] lukka commented on #129
@bingzhangdai thanks for notifying us. Could you please share some additional data about your error?
- the project type (Console Application, Makefile Application);
- a screenshot of the Debugging property page;
- source code sample you could reproduce the behavior;

That would allow us to investigate further, thanks

[2017-09-09 05:28] hijkzzz opened #182 "Cannot find or open the symbol file."
* A brief description
remote debugging some error messages
[code]

Test file
[code]

* Expected results

`hello from ConsoleApplication1!
`

* Actual results (with build output window contents if applicable)

[code]

* VC++ version, Linux system name and version, GCC/GDB/gdbserver version, CPU arch, etc. If you are using a specific version of Linux on an embedded board, we might need to know about

[2017-09-09 18:28] AliAskari commented on #181
@lukka I see, OK. As I mentioned when I open Visual Studio Preview it does not have the CMake options

![image](https://user-images.githubusercontent.com/4864412/30242757-762c1eb0-956a-11e7-9164-515c3490188c.png)

I realized when I add the `CMakeSettings.json` the options appear, however I still cannot create the cache as the options are grayed out

![image](https://user-images.githubusercontent.c

[2017-09-10 02:11] hijkzzz commented on #182
https://stackoverflow.com/questions/46127228/visual-studio-2017-for-linux-c-cannot-find-or-open-the-symbol-file

[2017-09-10 02:11] #182 closed

[2017-09-10 09:02] progsecu commented on #129
I have the same issue.
Using scanf on VS2017 15.3.3 causes a Stopped (tty input) exception.
![image](https://user-images.githubusercontent.com/17171206/30247530-c4bb5ac2-9651-11e7-8c17-9c4d11267cd3.png)
![image](https://user-images.githubusercontent.com/17171206/30247531-d01c18de-9651-11e7-91c2-62d2d3a04543.png)
(No frame in module)

It works when you run it directly.
![image](https://user-images.

[2017-09-10 11:20] progsecu commented on #129
Stopped (tty input) vs2017
please help me.

vs2017 community 15.3.3
win10 WSL(Ubuntu 16.04)

use scanf = not working at vs2017
direct run at bash = working

![image](https://user-images.githubusercontent.com/17171206/30248546-bb9f1538-9664-11e7-99cd-156e3480d343.png)
![1](https://user-images.githubusercontent.com/17171206/30248553-cdd58142-9664-11e7-9930-7478f735e636.JPG)

[2017-09-11 02:25] bingzhangdai commented on #129
My configuration is the same with @progsecu and the symptom is also the same. The project type is "Visual C++, Cross Platform, Console Application (Linux)". The code is
[code]
Then, I get the following exception,
![image](https://user-images.githubusercontent.com/9895061/30256114-de5018f4-96da-11e7-8194-413869c4d7bf.png)
I have already open the `Linux Console` in the `Debug` menu.

It works fine i

[2017-09-11 11:11] samsinsane commented on #176
@yuehuang010 @lukka just wanted to follow up and see if there is anything else I can do to assist with this issue?

[2017-09-11 20:19] ddrinka opened #183 "Clean Target should remove additional copied files, as well as build-specific files"
I have configured an AdditionalSourcesToCopyMapping which copies over needed external include files and libraries.

If I build and then clean, the files copied for compile are removed, but the additional files (also located under the "projects" directory remotely), are left intact.

I expect the clean target to treat additional sources and build sources the same, and either only delete the binary

[2017-09-11 20:30] ddrinka opened #184 "Configuring additional files to copy is very difficult"
I would like to copy additional include files, outside of my source tree, as well as static libraries.  AdditionalSourcesToCopyMapping does not support globbing, and handles filename conversion poorly.

First, the workaround:
[code]

This is too complicated and fragile.  I would like a way through the GUI to include a directory of additional sources to copy.  I expect the tool to automatically map

[2017-09-11 20:41] ddrinka opened #185 "The linker should include $(LibraryPath) by default"
When compiling, include directories listed in `<IncludePath>` are included in the command line.

When linking, library directories listed in `<LibraryPath>` are *not* included in the command line.

I expect the behavior to be the same for both top-level "VC++ Directories" entries.

Workaround:
[code]

[2017-09-12 21:51] hoodaticus opened #186 "Need Two Factor Authentication Support for Connection Manager"
Description
I am unable to use VS2017 for Linux at my Fortune 50 company because of two-factor authentication requirements.

Expected Results
When creating a connection there should be an option for a challenge-response type login for supporting 2-factor authentication.  Moba X-Term implements this successfully in their SCP implementation.  What I expect is an interactive login option in which VS

[2017-09-13 07:28] boskars commented on #34
Still, options incorrectly applied to C files in VC Linux 1.0.8  (15.4. prev 2)

1>  cc1: warning: command line option '-fthreadsafe-statics' is valid for C++/ObjC++ but not for C
1>  cc1: warning: command line option '-fthreadsafe-statics' is valid for C++/ObjC++ but not for C
1>  cc1: warning: command line option '-frtti' is valid for C++/ObjC++ but not for C
1>  cc1: warning: command line optio

[2017-09-13 11:16] stanthomas commented on #167
Confirm that compilation of single file only is working in VS 15.4 preview 2.0 / VCLinux 1.0.8.

[2017-09-14 01:48] lukka commented on #181
@AliAskari could you try to repair your Visual Studio installation? If still not working, we need a way to reproduce it:
 - which version the Help->About dialog reports?
 - which workloads you installed?

[2017-09-18 03:15] AliAskari commented on #181
@lukka I have repaired it multiple times and the repair seems to finish without any warnings but I am still experiencing the same issues.

- I am on the latest version **15.4.0 Preview 2.0**

![image](https://user-images.githubusercontent.com/4864412/30527794-5f0fbdd6-9bfa-11e7-8498-8cbd0765a894.png)

- I have **Desktop Development with C++** and **Linux development with C++** workloads along with

[2017-09-19 21:10] itodirel commented on #186
I'm not very familiar with this, but is this something that SSH itself supports? The other method of authentication that can be more secure than password is keyboard authentication, and that in theory could be used to implement two factor auth.

[2017-09-19 21:13] itodirel commented on #177
Are you using password authentication or private key authentication? What bitness and architecture is your OS? x64, ARM etc

[2017-09-19 21:15] itodirel commented on #170
@braindeaddeveloper regarding the exception that your seeing, could you open a separate issue for that? some questions about it, what is the version of Visual Studio that you are using? I'm looking for the entire version number from Help - About.

[2017-09-19 21:18] itodirel commented on #167
Excellent, thank you for confirming @stanthomas, any objections against closing this issue?

[2017-09-19 21:21] itodirel commented on #163
Closing due to inactivity for tracking purposes, if you can reproduce it, please reactive, or just ping us and we'll reactive the issue.

[2017-09-19 21:21] #163 closed

[2017-09-19 21:23] itodirel commented on #130
Please let us know if it is causing other problems. @robotdad is this something we should communicate the WSL team?

[2017-09-19 21:23] #130 closed

[2017-09-19 21:24] itodirel commented on #164
Closing this and using #123 for tracking

[2017-09-19 21:24] #164 closed

[2017-09-19 21:27] itodirel commented on #115
Using #43 for tracking this issue

[2017-09-19 21:27] #115 closed

[2017-09-19 21:28] itodirel commented on #127
Using #43 for tracking

[2017-09-19 21:28] #127 closed

[2017-09-19 21:30] itodirel commented on #119
@lukka assigning this to you, as you fixed this recently

[2017-09-19 21:32] itodirel commented on #94
Closing due to inactivity, for tracking purposes, if this is still a problem, please reactive or just ping us and we'll reactivate.

[2017-09-19 21:32] #94 closed

[2017-09-20 09:42] braindeaddeveloper opened #187 "Attach to process with connection type of SSH to remote linux machine only displays PIDS < 0x8000 (32768)"
Attach to process with connection type of SSH to remote linux machine only displays PIDS < 0x8000 (32768) i.e. 15 bits

So any processes with pids above 32767 are not displayed

To reproduce : Debug -> Attach to Process, Select SSH from the Connection Type, type in a remote machine, click on Find.  Sort by ID descending.

No processes with PIDS above 32767 are displayed.

Visual Studio:
Microsoft

[2017-09-20 09:46] braindeaddeveloper commented on #170
Hi Ion
Microsoft Visual Studio Professional 2017
Version 15.3.3
VisualStudio.15.Release/15.3.3+26730.12
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Professional

Visual Basic 2017   00370-10000-02467-AA085
Microsoft Visual Basic 2017

Visual C# 2017   00370-10000-02467-AA085
Microsoft Visual C# 2017

Visual C++ 2017   00370-10000-02467-AA085
Microsoft Visual C++ 2017

Visual F#

[2017-09-20 09:47] braindeaddeveloper commented on #170
I can confirm there are no funny characters in the server name other than dots i.e.
server.domain.ext in this case:
abcd1234.company.com

[2017-09-20 09:48] braindeaddeveloper commented on #170
Also I am not seeing an exception ...
I am not seeing the include paths :-)

[2017-09-20 10:26] braindeaddeveloper commented on #187
This might be non SSH specific i.e. across the board

[2017-09-20 10:28] braindeaddeveloper commented on #169
agree !

[2017-09-20 10:54] #187 closed

[2017-09-20 10:55] braindeaddeveloper commented on #187
Closed due to operator error !

[2017-09-20 23:15] rkeithhill opened #188 "How to debug issues with IDE not finding include files"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
Our CMake based folder builds just fine but in the IDE when I view files I see red all over the place because header files aren't found (cannot open source file QtCore/QtVector).  This may be because these header files are coming from a conan package.  However it doesn't make

[2017-09-20 23:27] rkeithhill commented on #188
I found a [way ](https://stackoverflow.com/questions/6902149/listing-include-directories-in-cmake) to dump the INCLUDE_DIRECTORIES defined in the CMakeLists.txt file.  It has this entry:
[code]
Sure enough, there is a `QtVector` file in that dir with these contents:
[code]
And there is a qtvector.h file in this same directory.

[2017-09-20 23:45] rkeithhill commented on #188
And if I right-click the red squiggle, I get this:
![image](https://user-images.githubusercontent.com/5177512/30672733-76ca459e-9e2b-11e7-942c-5e182a97b8a7.png)
Why aren't the CMake's INCLUDE_DIRECTORIES listed here?

[2017-09-21 08:59] boskars commented on #158
Still hangs in 15.4 in preview 2 :-(, when will 15.5 be available?

[2017-09-21 13:20] hoodaticus commented on #186
Keyboard auth would be perfect!

[2017-09-22 09:46] zdenko-s commented on #177
Hi,
It works with private key authentication, it did not work with password authentication. Password authentication works from Putty (and of course, PK authentication).
It is simple "Hello World", x64. I am trying to connect to openSUSE 42.3

[2017-09-22 18:52] kevswims opened #189 "CMake generator choosing GNU instead of MSVC compiler"
I am trying to build a project using the Visual Studio 2017 CMake support with the open folder option on Windows 10 using the msvc15 compiler however Cmake compiler identification is trying to use the GNU 7.1.0 compiler installed with strawverry perl instead.

Here is the CMakeSettings.json for the configuration I am trying to build however this error also occurs with the x64-Release config.
[code

[2017-09-29 12:36] dvirtz opened #190 "VS fails to extract info from CMake"
* A brief description
I'm trying to build a CMake based project on WSL. The project builds successfully but the build hangs after `Starting CMake target info extraction`.
After pressing `Cancel` I get the following error:
[code]
* Versions
VC++ 15.4.0 Preview 3.0
GCC 6.2
WSL with trusty
CMake 3.9.0

* Steps required to reproduce the error
Build https://github.com/dvirtz/GreenTiger on Linux-Debug o

[2017-09-30 03:52] AliAskari commented on #189
One way to get around it is to explicitly specify the path to the compiler by adding these to CMakeSettings.json

    "variables": [{
                    "name": "CMAKE_CXX_COMPILER",
                    "value": "C:/Program Files (x86)/Microsoft Visual Studio/Preview/Enterprise/VC/Tools/MSVC/14.12.25631/bin/HostX86/x86/cl.exe"
                  },
                  {
                    "name": "

[2017-09-30 03:57] AliAskari commented on #181
@lukka Any updates on this issue?  I can provide logs or even find time for a remote session if required. Thanks!

[2017-09-30 04:30] AliAskari opened #191 "Add a new entry to the CMakeSettings.json for remoteDebugMachine"
I have not been able to test the new CMake integration in update 15.4 but I see one big problem that will not let us update to this version.

With the VS project files we can add new configurations and add a different debug machine #87 .Doing so would allow us to [build on machine A and then debug it on machine B](https://github.com/Microsoft/VSLinux/issues/109). I don't see how we can have this o

[2017-10-02 01:17] devin122 opened #192 "CMake integration fails when multiple project() commands are used"
Can't seem to get cmake builds working. Initially I had an issue even getting the thing to initialize, until I applied the fix outlined here: https://developercommunity.visualstudio.com/content/problem/120257/open-cmake-error-in-preview-version.html?childToView=121889#comment-121889
Now i can open the project, and it copies the files over and extracts the cmake information, however when I actually

[2017-10-02 15:46] kevswims commented on #189
@AliAskari this is not a valid solution for me since we check the CMakeSettings.json into our source and other developers will not necessarily have the compiler installed in the same location.

[2017-10-02 15:54] paulmaybee commented on #191
You can set different remote machine for build and debug. In your CMakeSetting.json set your remoteMachineName to your build machine and in your launch.vs.json set the remoteMachineName to your debug machine. If you right click on a CMakeLists.txt file you will see an option for "Debug and Launch Settings". Selecting this for one of your targets will let you customize the launch options.
Notice th

[2017-10-02 17:58] lukka commented on #189
@kevswims the issue is not related to using CMake on a Linux machine.
Please open a bug at  developercommunity.visualstudio.com

[2017-10-02 17:58] #189 closed

[2017-10-03 00:08] lukka commented on #190
@dvirtz while trying to reproduce your scenario with the next to be released preview, I got the following error from hunter. Do you know how to get past that error?

[code]

[2017-10-03 00:10] lukka commented on #192
@devin122 could you provide a repro?

[2017-10-03 00:14] lukka commented on #50
@terrylyons could you please provide a brief description about what feature are you requesting? We could then add it to our backlog, thanks.

[2017-10-03 01:51] devin122 commented on #192
@lukka  I've been attempting to build https://github.com/eclipse/omr
It does seem to be something about the codebase. I just created a simple hello-world application and it seems to build fine

[2017-10-03 10:47] dvirtz commented on #190
Yes, you need to build cmake with system curl.

On 3 Oct 2017 3:08 a.m., "lukka" <notifications@github.com> wrote:

[2017-10-03 17:34] devin122 commented on #192
Was playing around with things a bit more this morning (using different linux vm, but still Ubuntu 16.04 LTS) , and now I'm getting this:
[code]

[2017-10-03 18:04] lukka commented on #192
@devin122 for the last reported error, please check whether cmake is version 3.9.0.
If it is 3.9.1, that is currently not supported. We added a cmake version check for the upcoming 15.5 preview of VS.
If it is 3.9.0, we need to proceed forward with the investigation.

[2017-10-03 18:09] devin122 commented on #192
@lukka  for the last error i get it both on 3.8.2 and 3.9.0. For both vms I jsut downloaded the binary zips off of the cmake website, and unzipped them into my home folder (and updated `cmakeExecutable` in  CMakeSettings.json ). As for the first error I think I have it figured out (~~~just trying again from a clean workspace to verify~~ just verified). The issue appears to be with nested `project`

[2017-10-03 18:38] lukka commented on #190
The problem has been fixed, with the next VS version 15.5 (ETA non available yet) I could successfully build&debug the chapter 1 of GreenTiger repository. Closing issue.

[code]

[2017-10-03 18:38] #190 closed

[2017-10-04 18:09] lukka commented on #181
@AliAskari thanks for your help. Could you please try the most recent version of [15.4 Preview ](https://www.visualstudio.com/vs/preview/) of VS? On 3rd Oct Preview 4 has been released. If the problem persist, we will likely try to collect and investigate on the log files.

[2017-10-04 19:01] bazzilic commented on #37
Hi, any movement on this?

[2017-10-05 21:35] fjeremic opened #193 "VS 15.4.0 cannot execute remote compiled binary"
I'm doing something a little unorthodox. I'm attempting to follow the instructions [from the official blog post](https://blogs.msdn.microsoft.com/vcblog/2017/08/25/visual-c-for-linux-development-with-cmake/) to compile the sample `hello.cpp` program on a Linux on z (s390x) machine. Everything more or less works and VS is able to copy the files to the remote machine and correctly compile them. The

[2017-10-05 21:44] fjeremic commented on #193
Running from the CMake menu via "Run Tests" -> "CMakeLists.txt (project hello-cmake)" does not work either:

[code]

[2017-10-05 22:30] lukka commented on #193
@fjeremic Thanks for the report. This bug has been fixed in VS 15.5 preview 1, which has not been released yet. ETA not available, please keep an eye on [here](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-Preview-relnotes) for news about 15.5.

[2017-10-05 22:30] #193 closed

[2017-10-05 23:25] MrSparc commented on #99
I'm experiencing this same issue with relative path (~/...) Using full path works as expected:
Visual Studio Community 2017 (15.3.5)
Visual C++ for Linux Development - 1.0.7
Hyper-V image running Ubuntu Server 14.05

[2017-10-06 16:05] maxalces commented on #110
I tried the uname fakeout suggested by @MartynSloss, and it kind of worked.  When I re-added my Tegra board to the Connection Manager it showed up with its operating system listed as "Ubuntu (ARM)" instead of "Ubuntu (unknown)".  So that was progress.

However, when I try to build, I get an error that says "Current project architecture 'ARM' is incompatible with the remote system architecture 'x64

[2017-10-06 21:29] stanthomas commented on #110
@maxalces It sound like either the current, active project is x64 not ARM or you haven't pointed the ARM project at the appropriate `Remote Build Machine`. Use the VS `Configuration Manager` to make the  `Active solution platform`=`ARM` and `Active solution configuration`=`Debug`  (I assume you want debug). And ensure that `Remote Build Machine` is set to the IP address of the ARM board in the pro

[2017-10-06 22:40] maxalces commented on #110
Thanks @stanthomas, you were totally right.  Somehow throughout my debugging process the target server had changed from my Tegra to a cloud-based Linux server I had for testing.

Thanks!  And thanks @MartynSloss for your info about uname, that was very helpful.

[2017-10-07 16:01] dnakamura commented on #192
Digging into it I think the later error. ie
```1> Input string was not in a correct format.```
is an unrelated error. The issue here is handling multiple `project()` commands

[2017-10-07 16:04] devin122 commented on #192
After further digging I think the second error is unrelated, will  open another issue after some more investigation

[2017-10-08 16:00] levhaikin commented on #63
I've stumbled into the same problem. Have several static projects, and one so. The so fails to link, and it doesn't have the static libraries on the link path.
Are there any (fix-in-progress hopefully) news regarding this issue?

[2017-10-08 21:12] mgieselman opened #194 "gdb fails to find source when not on local C: drive"
Use the Makefile Configuration type when you run the debugger the  x86_64-linux-gnu-gdb.exe process only looks for source code on the C: drive.  Using the "Additional Debugger Commands" and the gdb "dir" command to add an additional directory I'm able to help gdb fine the correct source file assuming it's on the C: drive, for example if I use "dir /Users/myusername/repos/project/src" all is fine.

[2017-10-09 01:53] Victsz commented on #117
@allanhaywood What about CMAKE import project, I can`t find project property page

[2017-10-09 18:45] mgieselman commented on #194
Using the Debug.MIDebugLog /On /OutputWindow I see:

12: (6096189) <-1015-break-insert -f /home/matt/repos/barracuda/core/subsys/src/subsys.c:306
12: (6096206) ->&"No source file named /home/matt/repos/barracuda/core/subsys/src/subsys.c.\n"

the path above is valid and the file does exist.

I've tried using the AdditionalDebuggerCommands to add directories using the dir command, nothing I do helps

[2017-10-09 22:53] itodirel commented on #172
Hi, I'm closing this as no repro, but, that does not mean we won't fix this if we get a repro. We're just closing it due to inactivity for tracking purposes, if this is still a problem, please just let us know and we'll reactivate the issue and investigate.

[2017-10-09 22:53] #172 closed

[2017-10-09 23:01] itodirel commented on #177
thanks for that information, I'm going to try it in openSuse and see if I can repro

[2017-10-09 23:04] itodirel commented on #170
@braindeaddeveloper could you open a separate issue for the  System.NullReferenceException exception?

[2017-10-09 23:04] itodirel commented on #167
closing this issue, as confirmed fixed from Stan

[2017-10-09 23:04] #167 closed

[2017-10-09 23:07] itodirel commented on #80
Thank you @kaiscode, if you can reproduce again, please attach the build logs, or just let us know, we'll reactivate and take it from there

[2017-10-09 23:07] #80 closed

[2017-10-09 23:09] mgieselman commented on #194
Some additional info, using Process Monitor I see the gdb process trying to open files and the path "looks" valid but I'm still not able to stop on the break point.

![image](https://user-images.githubusercontent.com/4323154/31362227-3778aab2-ad0c-11e7-9c57-fc67e8884d55.png)

[2017-10-09 23:11] itodirel commented on #59
@T-Dimov, this seems easy to fix, could you help us get a small repro?

[2017-10-09 23:18] itodirel commented on #106
@rubu @dk1301 @xylcbd @sconan32 @MonkahTV  @VALERE91 @Pccnzb is this still a problem for you guys?

[2017-10-10 13:41] VALERE91 commented on #106
I don't really know, since when I discovered that it's finally just a weird message saying that there is a linker error. I have started to build directly on RPI.

[2017-10-10 16:06] #191 closed

[2017-10-12 06:02] Pccnzb commented on #106
I change it to ubuntu 16.04 compile, Give up this method. I don't know whether the problem is solved now.

[2017-10-13 07:45] fvannee opened #195 "intellisense not working for project headers"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
Intellisense fails to recognize .h includes. Suppose we have the following directory structure:
a
...a1
.......a1.h
........a1.cpp
.......CMakeLists.txt
...a2
......a2.h
.......a2.cpp
.......CMakeLists.txt

a1 is a library, CMakeLists.txt in that directory specifies:
target_in

[2017-10-13 08:25] AliAskari commented on #181
I have updated to version 15.4 but I am still having a similar issue.

If I do not select "Visual C++ tools for CMake and Linux" in the installer the Windows CMake integration works and when I add the Linux specific section to CMakeSettings.json I get a message that Visual Studio cannot successfully switch to the new configuration. However after installing the "Visual C++ tools for CMake and Linux

[2017-10-13 11:15] willmsy32 commented on #88
I ran into almost the exact same situation except using a password instead of a private key. Nothing is responsive after this occurs, Visual Studio locks up. No issues when trying to connect to the server using PuTTY or transfer files with WinSCP. The solution for me ended up being a two-step process of deleting the login credential file you can find at %USERPROFILE%\AppData\Local\Microsoft\Linux\

[2017-10-13 17:52] ademyankov commented on #170
I am seeing the same problem. Adding **_-I "$(RemoteProjectDir)/include"_** into _C/C++->Additional Options_ doesn't do anything, and the build fails!

[2017-10-13 18:25] lukka commented on #181
@AliAskari please if you can, try the [VS Preview 15.5](https://blogs.msdn.microsoft.com/visualstudio/2017/10/11/visual-studio-2017-version-15-5-preview/), then close the issue if it is fixed. Thanks for you help by the way.

[2017-10-13 18:28] lukka commented on #129
@khou2020   Please if you could check [VS 15.5 Preview](https://blogs.msdn.microsoft.com/visualstudio/2017/10/11/visual-studio-2017-version-15-5-preview/) just go ahead and let us know. The original issue is fixed when using GDB mode (check in the Configuration Properties which Debugging Mode are you actually using under "Debugging".

[2017-10-13 18:28] #129 closed

[2017-10-13 18:52] lukka commented on #192
@devin122  Please could you give a try with VS 15.5 Preview?

With the following nested PROJECT() statements, no issues with VS 15.5 Preview:

./CMakeLists.txt
[code]
./bar/CMakeLIsts.txt
[code]

nit: Note that in your provide example you are missing "VERSION" keyword as argument to the PROJECT() command inside your inner CMakeLists.txt file.

[2017-10-13 20:32] fjeremic commented on #193
Just confirming VS 15.5 preview 1 fixes this issue. I am able to remotely launch but it seems I am unable to set breakpoints yet. I'll do some self exploration first and open up another issue if warranted. Thanks for fixing this!

[2017-10-14 04:58] AliAskari commented on #181
@lukka Yes, this problem is indeed resolved in 15.5. I also followed the steps mentioned in [this](https://developercommunity.visualstudio.com/content/problem/128569/cmake-unusable-after-upgrading-to-154.html) post and it resolves the problem even with version 15.4.

However I have CMake 3.10 installed on my machine and I am getting this error from Visual Studio 15.5:

     at System.Text.StringBu

[2017-10-14 07:56] dosshell commented on #192
I have the same issue, with and without nested cmake projects.

WIndows Version 1709 (OS Build 16299. 15)
Visual Studio 15 Community 15.5 Preview 1.0
WSL Ubuntu 16.04 with cmake 3.8.2

Using native c++ development against WSL works.
Using cmake in WSL works.
I can also build the copied cmake files manually in WSL after the error.
Using x64-Debug taget works.
I have attached the error log when chan

[2017-10-16 15:44] devin122 opened #196 "CMake target info extraction fails on some machines"
I have 2 ubuntu vms. both running 16.04 LTS. One of them works fine, the other will fail during cache generation with the following
[code]

I've done a little bit of digging and it looks like it might be a buffering/timing issue. I collected logs of the cmake server interaction, by point VS at the following script instead of the cmake executable
[code]

Which yields the following log
[code]
Im not

[2017-10-16 15:45] devin122 commented on #192
@lukka  Still getting the same issue with latest preview. Cache generation works fine, but when I try to build a target, nothing happens.
@dosshell  I think that is an unrelated issue. See #196

[2017-10-16 17:43] lukka commented on #196
@devin122 thanks for the report. Please check the version of cmake on both machines, and whether they support "Server Mode" capability, thanks.

[2017-10-17 07:33] PhilippeMazouer commented on #82
No news on the parallel remote compile feature?
I was eager to test VS15.4 ... but sadly it isn't there.

Large projects takes way too long to compile on a single ssh connection.

[2017-10-17 14:42] devin122 commented on #196
Both are running identical 3.9.0 binaries (from the cmake download page), which support server mode

[2017-10-19 07:21] AliAskari commented on #181
@lukka Any updates on these issues?

[2017-10-19 08:49] DanielOdenbrandQlik opened #197 "Unable to start program when trying to debug cmake project"
I set up the Linux c++ development environment as per https://blogs.msdn.microsoft.com/vcblog/2017/04/11/linux-development-with-c-in-visual-studio/ and https://blogs.msdn.microsoft.com/vcblog/2017/08/25/visual-c-for-linux-development-with-cmake/. I also did the workaround to be able to open CMakeLists with Linux support enabled as per https://developercommunity.visualstudio.com/content/problem/128

[2017-10-20 01:38] lukka commented on #197
@DanielOdenbrandQlik which version of VS are you currently using? If you could, please try with [15.5 Preview](https://blogs.msdn.microsoft.com/visualstudio/2017/10/11/visual-studio-2017-version-15-5-preview/) and let us know.

[2017-10-20 01:44] lukka commented on #181
@AliAskari 3.8x and 3.9 are the only version supported currently, 3.10 is not currently supported yet.

[2017-10-20 07:01] DanielOdenbrandQlik commented on #197
Hi @lukka! I'm using 15.4 professional. I will try the preview and see how it goes!

[2017-10-20 07:29] opentld opened #198 "vs2017 cross platform compiling error on “xmmintrin.h”"
I’m using vs2017 for cross platform development, but I got an error while gcc4.9 compiling Andorid project, file “xmmintrin.h” , here is the error report:
D:\Program Files\vs2017\Common7\IDE\VC\Linux\include\usr\lib\gcc\x86_64-linux-gnu\5\include/mmintrin.h: In function ‘void _mm_empty()’:
1>D:\Program Files\vs2017\Common7\IDE\VC\Linux\include\usr\lib\gcc\x86_64-linux-gnu\5\include/mmintrin.h(51,2

[2017-10-20 07:44] DanielOdenbrandQlik commented on #197
@lukka, it works somewhat better! I can now run the program properly but it seems to ignore all breakpoints!

`Breakpoint 1, main (argc=1, argv=0x7fffffffeb68) at /var/tmp/src/2dd642f5-b232-cb3a-b413-a93ca64d686b/Linux-Debug/hello.cpp:5
5	    std::cout << "Hello" << std::endl;
Hello
[Inferior 1 (process 24268) exited normally]
The thread 'hello-cmake' (0x5ecc) has exited with code 0 (0x0).
The pro

[2017-10-20 17:46] paulmaybee commented on #194
The error message above ("No source file named /home/matt/repos/barracuda/core/subsys/src/subsys.c.\n") indicates that the filename doesn't exist in the debugging symbols for the image you are trying to debug. This is usually because either you didn't build with '-g' or the location you built from is not the same as the location your source files are now in. Is that possible?

[2017-10-20 22:03] lukka commented on #181
@AliAskari  Correction for VS 2017 15.5 Preview 1: any CMake version greater than 3.8 should be supported.

In case you are experiencing the error you mentioned above (the huge stack trace) with 15.5 Preview 1, could you please provide a small repro for the parsing error you discovered? Thanks a lot for you help.

[2017-10-21 05:07] levhaikin opened #199 "Adding native nuget affects remote dir struct"
* A brief description
When adding a native nuget dependency - the packages.config files is added as a "None" item, and copied over to linux. Having packages.config copied is probably not harmful, BUT - when referencing sources that are not located directly in the project directory - the directory structure on the remote machine is affected - it starts having very long paths, and additional-include

[2017-10-23 11:58] sipsorcery opened #200 "Use mingw32 cross compiler"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
I'd like to be able to test Linux builds from Visual Studio with both the standard gcc and the gcc derived  mingw32 tool chains.

* Expected results
Using the standard gcc and mingw32 tool chain both compile successfully.

* Actual results (with build output window contents if

[2017-10-23 14:01] DanielOdenbrandQlik commented on #197
Thanks for that observation, @inouiw. I'm quite certain I built the"$(buildRoot)\hellt-cmake" and not something else though.

Anyway, still having issues with actually breaking when debugging

[2017-10-23 19:42] lukka commented on #197
Duplicate of #119

[2017-10-23 19:42] #197 closed

[2017-10-23 19:44] lukka commented on #119
Does using GDB mode instead of GDB SERVER mode help?

[2017-10-23 23:22] MikeGitb opened #201 "Direct WSL Support"
Sorry if this has been discussed before, but are you planning to provide direct support for WSL? By direct I mean without me needing to separately start a wsl instance, manually starting an ssh server and then sshing into my own machine.

In principle, it should be possible, to just use open-folder on a cmake project and then selecting wsl as a build configuration that automatically starts a bash

[2017-10-24 10:47] stanthomas commented on #119
@lukka - to whom is your question directed? And, do you have an update on when GDB mode will support the VCLInux console window and, specifically, reading from the command line?

[2017-10-24 20:17] AliAskari opened #202 "How to add additional sources to copy?"
* A brief description

The new CMake integration in Visual Studio copies all files from the root of the project to the remote Linux machine. My build depends on some files that are not in the root of the project.

For my specific use case, I am using [Conan](https://conan.io/) as my dependency manager and I have 8 different profiles with considerably different options. These files are source contr

[2017-10-24 21:08] robotdad commented on #201
Yes we have talked about this before. To date we've treated it as any other remote, now is probably a good time to start taking a look at this again.

[2017-10-24 21:12] robotdad commented on #198
This is an Android project, not Linux. You should install the Mobile Development with C++ workload and try one of the Android projects there.

[2017-10-24 21:12] #198 closed

[2017-10-24 21:14] robotdad commented on #200
You should try our open folder support for C++. We have a [post explaining how to use this with mingw and cygwin](https://blogs.msdn.microsoft.com/vcblog/2017/07/19/using-mingw-and-cygwin-with-visual-cpp-and-open-folder/).

[2017-10-24 21:18] #169 closed

[2017-10-24 23:36] lukka commented on #119
@stanthomas VS 15.5 Preview contains the Linux Console I/O redirection for GDB mode for .vcxproj based project, not for CMake ones (that will be 15.6).

[2017-10-25 00:33] lukka commented on #119
@svobodb @paulmaybee  I tried to reproduce the issue with VS 15.5 preview 1 with gdb 7.12 and with gcc4.7, gcc6.4.0, gcc7.2.0. In all case I could set breakpoints succesfully.
If you could help us figuring out how to reproduce the issue about "not being able to set breakpoints" you are welcome, thanks.

[2017-10-25 11:27] boskars commented on #60
Debugging is still giving me problems.
Leaving VS 15_5_prev2 at this breakpoint for some while....

![billede](https://user-images.githubusercontent.com/25032095/31996167-b24ce0dc-b987-11e7-9678-6601f9237fb2.png)

results in following error:

![billede](https://user-images.githubusercontent.com/25032095/31996076-52854d1a-b987-11e7-8c79-70de557f92ee.png)

Now, VS no longer hangs :-|

[2017-10-25 11:59] svobodb commented on #119
VS 15.3: Gdb mode was working fine with both gcc versions. Gdbserver mode worked with gcc 4.7.2 and did not work with gcc 6.3.0.
I needed to use gdbserver mode because gdb mode was discarding stdout and did not allow stdout redirection (attempt to debug using gdb with redirected stdout caused the debugger to hang). Gdbserver mode allowed debugging with stdout redirected.
I will retest with 15.4 an

[2017-10-25 22:59] stanthomas commented on #119
I've just tried this in VS 15.5 preview 2 / VCLinux 1.0.8 and Debian 9 Stretch (gcc 6.3.0 gdb 7.12.0).
Debugging in `gdb` mode is working for the following test program:

    std::cout << "enter i0: " << std::endl;
    int i0;
    std::cin >> i0;
    std::cout << "i0 = " << i0 << std::endl;

Program shows prompt, waits for command line input and continues. Can set breakpoints, step thru and inspec

[2017-10-26 00:22] phoenixchinar opened #203 "CMake version '3.9.4' is not supported"
I have a project that I am trying to get up and running in Visual Studio 15.4.1 with VC++ Linux 1.0.8.

After I configured the project the output I am getting is:

`CMake version '3.9.4' is not supported. Please use 3.8 or newer. See https://aka.ms/linuxcmakeconfig for more info`

[2017-10-26 14:06] VenoMpie opened #204 "Visual Studio crashes with path too long exception"
I am trying to build a project on Linux and Visual Studio crashes every time the linking starts. It fails with a Path too long exception but there's no indication of which path is too long, etc. I also can't access the build log as VS just hangs.

Thanks for VS Linux though, works wonders. I can see it's still very much in it's infancy but it's promising so far! This is my 3rd project that I am de

[2017-10-27 23:12] lukka commented on #203
@phoenixchinar sorry for the trouble. The problem has been fixed in version [15.5 Preview](https://www.visualstudio.com/vs/preview/). As a workaround, you should install on the Linux box a version between 3.8.0 and 3.9.0 bounds included.

[2017-10-27 23:12] #203 closed

[2017-10-27 23:18] lukka commented on #119
@stanthomas thanks for reporting the bug about line ending, it is on our back log.

Regarding the GDB warning, it is harmless, it is coming from the remote gdb (more info [here](https://github.com/Microsoft/vscode-cpptools/issues/264)). It is anyway on our radar in order to get rid of it.

[2017-10-27 23:25] lukka commented on #60
@boskars could you please provide more information about your remote system? (e.g. _VC++ version, Linux system name and version, GCC/GDB/gdbserver version, CPU arch, etc. If you are using a specific version of Linux on an embedded board, we might need to know about it to get a repro on similar hardware_).
Or if you could create a  new issue specific to your setup would be fine too. Thanks.

[2017-10-28 17:28] stanthomas commented on #119
@lukka - requiring a line end to flush the buffer to the Linux console seems quite reasonable. So not a bug so much as something that needs to be documented, otherwise folks will be wondering why their program appears to hang when it's really waiting for input.
I've mentioned creating a Wiki on the VClinux site to @robotdad as a place to put these little quirks, I'd be happy to contribute to it as

[2017-10-29 20:39] lukka commented on #192
@devin122 could you please share:
  - sources (.cpp/.h./CMakeLists.txt files) to reproduce the problem;
  - the content of the cmakesettings.json file you are currently using;
Thanks for your support.

[2017-10-30 15:38] devin122 commented on #192
@lukka  Updated to 15.5 Preview 2 and it seems to be much better, although there are still issues.
Test project is: https://github.com/devin122/vs-cmake
- Building individual targets now seems to work, however "build all targets" doesn't seem to do anything
- The library defined in the sub-project shows up on the build menu twice
- Build all targets is only shown for whichever project comes first

[2017-10-30 18:14] SamuelHenderson opened #205 "Hexadecimal Display crashes Visual Studio"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
When trying to view variables in the  'Autos' and 'Locals' panels as hexadecimal Visual Studio becomes unresponsive and crashes.

* Expected results
The values of variables in the 'Autos' and 'Locals' panels are displayed as hexadecimal values.

* Actual results (with build ou

[2017-10-30 20:04] paulmaybee commented on #205
Bug is already opened against the MIEngine. https://github.com/Microsoft/MIEngine/issues/69. I will crosslink this post and raise its priority with the MIEngine.

[2017-10-31 15:29] DanielOdenbrandQlik opened #206 "Unable to modify launch.vs.json for cmake project"
Using VS2017 to build and debug a Linux cmake project. Right-clicking on the CMakeLists.txt->Debug and Launch settings->my program opens the launch.vs,json file and adds an entry looking like this:

[code]

It seems that modifying this entry does nothing when running the program but instead creates a new entry in the dropdown for programs to debug (named '${buildRoot}\benchmarks\real_bitmaps_bench

[2017-11-01 08:22] acepace opened #207 "Installation - Documentation"
The blog post documentation is not up to date.
https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/

Should not say Linux development with C++, since that's not the name. but Visual C++ for Linux Development

[2017-11-01 13:30] boskars opened #208 "ShellExec exits unexpectibly while GDB is idle at a breakpoint"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
![billede](https://user-images.githubusercontent.com/25032095/32276786-89bab732-bf10-11e7-9398-fc4e532f38fc.png)

The GDB is idle at the break point.  After few minutes VS Debugger reports that the connection is lost.
I have include the debug log at the end of this message.

*

[2017-11-01 13:47] boskars opened #209 "GDBserver loses connection while idle at a breakpoint"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description
![billede](https://user-images.githubusercontent.com/25032095/32277417-afd139da-bf12-11e7-9c19-ca1663e62248.png)

Debugger in GDBserver mode is idle at breakpoint.  After few minutes I press F10 (step over) and the connection is lost.  I have included the debug log at the end

[2017-11-01 14:00] boskars commented on #60
@lukka, thanks for your answer.  I have created two new issues one for GDB mode #208 and one for GDBserver mode #209, both debugging modes are losing connection.

The issue regarding the segmentation fault has disappeared.  Now the debugger stops at the very first breakpoint in main() as it should.  I sometimes start my project using VS 15.4 and sometimes 15.5, after I´ve done that the breakpoints

[2017-11-01 15:17] robotdad commented on #202
So you have libraries on your Windows machine that you want to place onto your Linux machine. You want to do this without using a library manager on the Linux machine. These libraries are in different locations for different projects, but are not in the folders that the project source is in.

The way open folder works in VS (cmake or not) is it is that folder. There isn't a notion of managing thin

[2017-11-01 15:20] robotdad commented on #207
Thanks. That post is due for an overhaul I haven't had time for yet. The reason for why it is named that way is because when we integrated into the VS installer that was the name we used.
![image](https://user-images.githubusercontent.com/1429895/32281947-8ad18804-bedd-11e7-83db-79af63dfd247.png)
We should probably update the title of the blog to reflect that.

[2017-11-01 15:21] iwubcode commented on #195
I too am running into this issue, or a very similar issue.  I have a single project (library) and specified all my file includes like `#include <my/path/to/include>` which does not show up in intellisense.

Additionally, other external libs I'm referencing includes from do not show up either.

[2017-11-01 15:57] iwubcode opened #210 "'Break all' doesn't display any information in debugger"
**A brief description**

When choosing 'break all' after attaching the debugger to a process, there is nothing displayed.

**Expected results**

I expect to see callstacks and threads like what you would normally see in VS for a windows application.

**Actual results**

Empty thread window.  No notable pause or anything that makes me think VS reacted to the 'break all' command.

**Environment**

V

[2017-11-01 16:41] iwubcode commented on #210
Maybe VSLinux makes assumptions on what you are debugging?  Just to be clear, I am attaching to a process that isn't directly related to the VS project I have open.

[2017-11-01 23:51] LlorandoLau opened #211 "Can not find the output on linux or vs2017"
@robotdad I have linked vs2017 to ubuntu (installed on vmmare). But when I run it (Ctrl+F5) I cannot find any output on vs2017 or ubuntu. When I start to debug, it shows:

![default](https://user-images.githubusercontent.com/28216165/32303369-1c9625c2-bfa3-11e7-9505-6bf90576b25e.PNG)

How to correct it?

[2017-11-02 04:53] iwubcode opened #212 "No 'Build' option on CMake for Linux"
**A brief description**

There is no build option after generating the cmake for linux.

**Expected results**

When generating the cache for Windows, I get all these options:

* Build All
* Rebuild All
* Clean All
* Build Only
* Install
* Run Tests
* Debug from Install Folder
* Debug from Build Folder
* Debug from Launch Settings
* Cache
  * Generate
  * Delete Cache Folders
  * View CMakeCache.tx

[2017-11-02 05:04] iwubcode opened #213 "Can you specify the GDB location?"
This is more a question than a bug.  Is there a way to specify the GDB location?  It seems to assume it is at `/usr/bin/gdb`.

I tried setting *miDebuggerPath* in the launch json but wasn't sure if that was the right setting.

[2017-11-02 10:44] j1and1 opened #214 "Build Dependencies/References in sollution not working as expected"
So I created a C++ static library project in VS and C++ application project for linux in the same solution. As my app is depending on my custom lib I added it as applications project Build Dependency as I normally do in VS C++ projects

**Expected result** -> Header search paths from my custom lib are automaticly added to my C++ App project and also libMyLib.a added to linker with my library searc

[2017-11-02 10:55] j1and1 opened #215 "[FeatureRequest] Add Header sync button to automaticly copy header files from target linux system"
It would be nice if there would be some kind of button called "Manually sync headers from target"....

So if you want to create a linux APP or Lib you probably will need some linux headers for that.... in the curent state of VSLinux you have to copy header files from your linux systems manually to your dev machine and then anually ad them to your build config.... and of course if you have multiple

[2017-11-02 22:11] lukka commented on #212
@iwubcode could you please provide the content of the Output pane ('CMake' section) when CMake generation should be completed? The menu mentioned are not being shown until the CMake generation and Visual Studio correctly parsed all the targets.

[2017-11-02 23:54] iwubcode commented on #212
@lukka -

[code]

I removed some of our build specific output and replaced some of the pathes.  Please let me know if there's anything else specific you'd like to see.

[2017-11-03 02:06] sam9116 commented on #104
hey @hugh71321  where do you add "/usr/include/sys"?
btw I'm wondering how this is coming along? One of my school assignment example also needs unistd to work and I'm trying to write this assignment with VSLinux

[2017-11-03 05:04] AliAskari commented on #202
Thanks for the detailed answer. I think there is a misunderstanding here but I have gotten the answer to my question. I am using Conan natively on my Linux machine so there is no need to rsync headers/libs, the files are already there. I just have to rsync the Conan profiles from my Windows machine to the Linux machine. Thanks.

I have another issue that is related to the current problem. I can bu

[2017-11-03 18:15] lukka commented on #212
@iwubcode unfortuntaly that "cmake exited" text means cmake exited abnormally, it is not expected if everything goes smooth.
If you could, please try with latest [Visual Studio Preview](https://www.visualstudio.com/vs/preview/). And if it still not working (i.e. already fixed) could you provide a small repro, we would be glad to fix it, thansk

[2017-11-03 21:47] iwubcode commented on #212
@lukka - I might know what the issue is.

On the preview, I get the following error:

[code]

It turns out, I built CMake from source, our compiler is pretty old so it doesn't have `make_unique` capability.  Without this, serverMode is turned off.. see [here](https://gitlab.kitware.com/cmake/cmake/issues/17352)

Apparently CMake 3.10 doesn't have this requirement when building from source.  I migh

[2017-11-03 23:33] lukka commented on #212
@iwubcode  nice catch, that indeed is the issue of the 'cmake exited' message: it is because the cmake being used does not have 'server' support. This particular issue has been already solved in VS Preview, it will provide a clear message error instead of 'cmake exited'. Regarding CMake 3.10RC, iirc it will not work because of a mismatch of the protocol VS request (1.0) and the ones CMake supports

[2017-11-04 00:19] iwubcode commented on #212
@lukka - ok thanks for the information, that saved me some time!  Upgrading our compiler isn't an option but maybe I can find an already built version of 3.9 that has 'server' support.  Otherwise I can wait for 3.10 support.

Regardless, that is likely the issue, so I will go ahead and close this.  Thank you again!

[2017-11-04 00:19] #212 closed

[2017-11-04 19:57] mbikovitsky commented on #196
I'm having this issue as well, and it appears to be triggered by zsh. When I switch the login shell to bash, the issue disappears.

Moreover, with some WinDbg sorcery we can take a look at the parameters passed to `libcmake.CMakeDaemonDriver.Expects` (the function at the top of the crash stack trace):

    string message = "{"cookie":"Visual Studio","type":"handshake","protocolVersion":{"major":1}

[2017-11-06 07:53] mechanicalgux commented on #142
Just had this problem and I found the solution.
In my case the SSH server on the linux distro (DietPi on RPI3) was Dropbear. I replaced it with openssh-server and Visual Studio now works fine with it.

[2017-11-06 09:27] ramoneeza opened #216 "Raspberry Pi compilation is hard to use."
When it is used to compile a real size project for Raspberry PI several difficulties arise that make programming very unpleasant.

1) Lack of intellisense for several C libraries. (like <unistd.h> <sys/...> etc...) no easy way or some help to include general raspberry/linux libraries to intellisense. (I made a local copy but no succesfully add path to configuration)

2) Lack of incremental compili

[2017-11-06 15:39] iwubcode commented on #206
Just adding on to this.  Currently, I can't seem to set `enable-pretty-print` which means debugging remotely is very difficult to work with.  I tried using the immediate window to set it but it kept saying undefined variable.

[2017-11-06 16:01] paulmaybee commented on #206
@DanielOdenbrandQlik You are taking the correct steps to customize your setting. There is a bug in VS 15.5 which causes the debug target menu item to be duplicated. Once you customize it should supersede the default. We plan on having it fixed in preview 4. However in the meantime you can work around the problem by selecting that second, identically named, entry from the menu and using it instead.

[2017-11-06 17:30] dosshell opened #217 "CMake crossplatform fails if the remote linux system has zsh as default shell"
## A brief description
When using crossplattform cmake with a Linux system, the default shell can not be zsh or it will fail.

## Expected results
One should be allowed to have any default shell, for example zsh.

## Actual results (with build output window contents if applicable)
When trying to generate the CMakeLists.txt for the remote system, this is the output:
[code]

## VC++ version, Linux s

[2017-11-06 17:47] robotdad commented on #142
That's interesting. We should look at what our problem with dropbear is, I wasn't aware of that. The original report from @L-EARN here is with openssh though. @lukka are there any logs that we could request to help get to the bottom of this?

[2017-11-06 17:52] robotdad commented on #202
[This is the current advice for geting your includes](https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/#includes). I'm going to share our plans for improving this in #215

[2017-11-06 18:03] robotdad commented on #215
We have plans to address this issue, not quite as proposed. All of the below is our plan, it could change, etc. etc. And of course feedback is welcome or I wouldn't be sharing. :-)

What we are planning is to sync the standard include locations per connection into a local location as read only. We will provide a way to add additional locations from the remote to sync as well. The sync would occur

[2017-11-06 19:37] iwubcode commented on #206
@paulmaybee  - thanks, unfortunately I get the following:

[code]

[2017-11-06 19:41] iwubcode opened #218 "Build 'All Target' with CMake doesn't seem to do anything"
**A brief description**

Choosing CMake > 'Build Only' > 'All Targets' gives no output.

**Expected results**

Building 'All Targets' should give the same results as if I built each project individually.

**Actual results**

No output

**Environment**

CMake 3.9.0
Visual Studio 2017 15.5 Preview 2

**Steps required to reproduce the error**

Generate your cmake project.  Then choose 'Build Only' >

[2017-11-06 19:48] paulmaybee commented on #206
Sorry, that should have been
Debug.MIDebugExec -enable-pretty-printing
And must be done after you launch the debugger.

[2017-11-06 19:52] iwubcode opened #219 "(CMake) F5 / CTRL+F5 tries to launch Linux build in Windows"
**A brief description**

When targeting linux if I use "F5" or "CTRL+F5", the program does not launch.

**Expected results**

It should either build or build and debug the startup program when pressing F5 or CTRL+F5.

**Actual results**

I get an error "Unable to start program" which points to a windows path (trying to run the process as an exe).

(Note:  choosing 'CMake' -> 'Debug from Build fold

[2017-11-06 19:55] iwubcode commented on #206
@paulmaybee - thanks that seems to work!  Unfortunately, my `std::vector` of `std::unique_ptr` is getting treated as a `std::_Tuple_impl` and when clicking the arrow on it says 'Children cannot be evaluated'.  Should I open a new issue or is this known?

[2017-11-06 19:58] paulmaybee commented on #219
Have you selected a "Startup Item" on the debug target menu (in the top menu next to the box with Linux-Debug)?

[2017-11-06 20:03] iwubcode commented on #219
@paulmaybee - thank you, I did not even see that.  Somehow my startup item was a cpp file instead.  I'll go ahead and close this.

[2017-11-06 20:03] #219 closed

[2017-11-06 20:10] paulmaybee commented on #206
Not  a known issue. Also likely to be a gdb/gcc lib issue. You can also try using natvis to see it that helps at all. Add this field to your launch.vs.json config:

[2017-11-06 20:11] paulmaybee commented on #206
"visualizerFile": "C:\\Program Files (x86)\\Microsoft Visual Studio\\Preview\\Enterprise\\Common7\\IDE\\CommonExtensions\\Microsoft\\Linux\\Linux\\stl.natvis"

Adjust the path to match your installation.

[2017-11-06 20:22] iwubcode commented on #206
@paulmaybee - thanks.  I added it under 'configurations' with the default 'cppdbg' that got generated.  Is there any way to tell it is working?  Debugging again didn't seem to show any improvement..

[2017-11-06 20:27] paulmaybee commented on #206
Once you generate that new config you will see your target in the startup items menu twice (because of a current product bug that should get fixed in a 15.5 preview 4) . You'll need to select the new entry (should be the top entry). You can tell if it works because you'll see a "[Visualized Value]" field for the variable in the locals/watch window. Expand that to see the natvis visualization.

[2017-11-06 20:38] iwubcode commented on #206
@paulmaybee - thank you so much for your help!  Sorry to derail this topic with all these questions.  That did work, I am now able to see the 'Visualized Value' field with a little 'refresh' button.  Click that doesn't yield any results but it's good to know my settings work.

I did find out our gdb is old, I was wondering how to point at a newer version we have on the remote box (#213) but I beli

[2017-11-06 21:15] iwubcode opened #220 "[ Feature Request ] Additional variables for Remote Tasks"
I was trying to use the remote tasks capability to create a generic 'build' option to build any cpp file.  I'm using the example provided in the [remote tasks preview](https://blogs.msdn.microsoft.com/vcblog/2017/10/23/remote-tasks-in-visual-studio/) as a base.

Here's my general idea:
[code]

I noticed I could leverage `${file}` to reference the full path to the actual file I clicked on.  But I n

[2017-11-06 23:55] iwubcode commented on #220
Managed to figure out the current-target-name, you can use `${cpp.activeConfiguration}`

[2017-11-07 07:52] DanielOdenbrandQlik commented on #206
@paulmaybee but then I can't change the settings of that configuration, can I?

[2017-11-07 15:47] paulmaybee commented on #206
@DanielOdenbrandQlik You can change anything in the configuration except the name. We currently rely on the name field to find your executable file. Once the bugfix is available there will be a new field "projectTarget" that contains the path to the executable. You'll then be able to change the name to something that makes sense on the Startup Items menu.

[2017-11-07 16:22] DanielOdenbrandQlik commented on #206
@paulmaybee ah right, so the workaround is to hardcode the name of the added executable removing the ${buildRoot} part from the name (which is autmatically generated from opening debug and launch settings)?

[2017-11-07 16:39] robotdad commented on #218
Regression in the preview. I'm pretty sure @lukka pushed a fix for that yesterday. Not sure which preview that will come out in.

[2017-11-07 16:40] robotdad commented on #200
@sipsorcery does that post answer your questions on this one?

[2017-11-07 16:48] paulmaybee commented on #206
Yes, and then select the new "duplicate" entry in the Startup Item menu.

[2017-11-07 23:09] yuehuang010 commented on #218
The fix in on its way.  Keep an eye out on the next preview release.

[2017-11-07 23:15] iwubcode commented on #220
@yuehuang010 - just curious on why this was closed?  Even if there is no desire to support more advanced tasks, is there some way to compile only specific C++ files?

[2017-11-07 23:17] yuehuang010 commented on #210
Thank you, the fix is on its way to a VS preview.

[2017-11-07 23:55] stanthomas commented on #211
Could it be that you don't have the Linux console window open? Open it from the Debug menu and note that the window has different display settings depending on whether you're editting or debugging (like the Find in Files results window).

[2017-11-08 08:41] prgtrdr commented on #174
I am seeing the same thing for ammintrin.h, avx512fintrin.h, and avxintrin.h, emmintrin.h, and xopintrin.h.  The program compiles and builds fine on Linux, the problem is only with Intellisense on my Windows platform.

[2017-11-08 09:24] sipsorcery commented on #200
@robotdad in my case I wanted to do it around the other way, build on Linux with the mingw32 toolchain. The reason being that an open source project I was looking at had their CI set up to do all their builds on Linux using mingw32 and therefore any changes I wanted to contribute needed to build with msvc and linux+mingw32.

I think I saw somewhere that you were going to consider making the integr

[2017-11-08 14:28] SamuelHenderson commented on #157
I just tested this out with a new project and it does not seem to be fixed.

[2017-11-08 14:33] SamuelHenderson commented on #174
I too am seeing this problem with Visual C++ For Linux 1.0.8 and Visual Studio 2017 Enterprise 15.4.1.

I see the same errors if I try to include <SDL2/SDL.h> (in Visual Studio 2015 with VC++ for Linux I never saw these issues).

[2017-11-08 16:47] paulmaybee commented on #213
change your "pipeTransport" to look like this:
      "pipeTransport": {
        "pipeProgram": "${debugInfo.shellexecPath}",
        "pipeArgs": [
          "/s",
          "${debugInfo.remoteMachineId}",
          "/p",
          "${debugInfo.parentProcessId}",
          "/c"
        ],
        "debuggerPath": "/usr/bin/gdb"
      }
You can put any path in for the "debuggerPath".

[2017-11-08 23:44] iwubcode commented on #213
Can confirm that this works well.  Thank you @paulmaybee !  I'll close this.

[2017-11-08 23:44] #213 closed

[2017-11-09 01:20] yuehuang010 commented on #220
Sorry, I fat fingered closed.  I was suppose to review it.

[2017-11-09 01:27] itodirel commented on #170
@ademyankov regarding the relative path problem, that is a known bug and we are planning on fixing it soon @braindeaddeveloper is that the same problem you're seeing?

[2017-11-09 01:29] itodirel commented on #217
similar to #28

[2017-11-09 10:17] boskars commented on #208
We have found a solution.  It looks like the SSH client in VS is not supporting the ssh option ClientAliveInterval which is enabled by default in our Linux build.  If I disable this by setting it to 0 then gdb connection is stable.  Both putty and Bitvise SSH clients are working with this parameter enabled.

[2017-11-09 10:17] #208 closed

[2017-11-09 11:04] braindeaddeveloper commented on #170
@itodirel, @ademyankov ... no I was specifying full paths

[2017-11-09 12:54] samsinsane commented on #176
This is still occurring with VS2017 15.4.3 with VSLinux 1.0.8.

This is kind of a blocker for me, and since there doesn't seem to be any movement on this, I spent a few minutes comparing the VSLinux and Android extensions. Fixing this appears to be as simple as editing the `Linux.Common.props` file and adding `<ProjectRecipeFile>$([System.IO.Path]::Combine($(ProjectDir), $(OutDir)$(TargetName)$(Ta

[2017-11-10 02:17] cdeisler commented on #174
Simple program has same errors:

![image](https://user-images.githubusercontent.com/2393923/32639757-528b489c-c593-11e7-8493-673f36b29041.png)

`#include <unistd.h>`
`#include <raspicam/raspicam.h>`
`#include <raspicam/raspicam_cv.h>`
[code]

[2017-11-10 02:21] yuehuang010 commented on #176
Hi Sam.  I have address this issue in Preview branch > 15.2.  Could you please give that a try?

The issue is that <ProjectRecipeFile> line should be moved to Linux.Common.targets since $(OutDir) isn't defined at the time of .props import.

[2017-11-10 03:37] samsinsane commented on #176
@yuehuang010 VS2017 15.5.0 Preview 3.0 has the issue resolved, thank you for that!

I haven't been paying attention to the release cycle for VS2017, are you able to provide a rough ETA on when this will be available in the official release?

[2017-11-10 18:25] cdeisler commented on #216
I have a simple program as well. I have been able to build and run successfully until I attempt to link to anything in usr/local/include

Raspicam was originally built targeting usr/local/include and it wouldn't build:
![image](https://user-images.githubusercontent.com/2393923/32672707-14cef8b4-c61a-11e7-9641-e1c10a227349.png)

If I build raspicam into usr/include then it works but as soon as i at

[2017-11-10 19:23] pmerloti commented on #110
Any update on this?

I was able to deploy to my NVIDIA Jetson TX2 (aaarch64) using the trick @MartynSloss provided, but GDB is not working...

[2017-11-10 19:35] iwubcode opened #221 "[ Debugging ] Natvis treats 'using' types as new types"
**Problem Description**

When trying to debug a unit test.  It is difficult to view the raw information for some variables.  These variable types are technically stl types but they are defined as 'different' types with a _using_ statement.

**Expected Results**

Natvis should allow me to properly view my variables that are really stl types.

**Actual Results**

I have to define separate natvis rul

[2017-11-10 19:35] iwubcode opened #222 "[ Debugging ] Natvis cannot be viewed in tooltips"
**Problem Description**

Variable 'tooltips' does not properly define natvis (even clicking the 'refresh' button).  You can only view natvis 'visualized view' in the watch window.

**Expected Results**

Viewing natvis in tooltips should be available (maybe as an option?)

**Actual Results**

You cannot view natvis in a tooltip.  It gives the following error (taken from another issue report but I s

[2017-11-10 19:37] iwubcode opened #223 "[ Question ] How to determine if you're using 'gdb' or 'gdbserver' mode?"
How do you determine if you're using 'gdb' or 'gdbserver' mode?  How do you configure it to be one way or the other?  My projects are typically defined in CMake.  I know 'gdbserver' is a separate process.  Do you just point `debuggerPath` to gdbserver instead?

I question this since 'pretty printers' still displayed raw data (_M_p stuff) when trying to debug a unit test.  I had to resort to natvis

[2017-11-10 23:27] stanthomas commented on #223
Set `gdb` or `gdbserver` in the project properties under Debugging/Debugging Mode.

[2017-11-11 06:24] iwubcode commented on #223
Thanks @stanthomas !  Unfortunately, there is no project properties for CMake projects.  There might be something similar in the launch json?

[2017-11-11 06:48] robotdad commented on #223
Ah, cmake should be gdb mode by default. It should be changeable in the cmake settings json.

[2017-11-12 10:40] evakili commented on #142
I've the same problem for a while (from first versions of VCLinux) and no success with any work around that could be found via Google. I'v had this problem with WSL before, but now I could see the problem with my Ubuntu 16.04 installation.
Is there any log generated by VS during connect?

[2017-11-12 16:46] evakili commented on #142
It seems that authentication to ssh server succeeded but suddenly client (VS) closes the connection. If I enter wrong password VS returns credentials error. But when I enter correct password it shows above error message (as in the first message in this issue).

[2017-11-13 16:35] paulmaybee commented on #221
This is an unfortunate result of using gdb's MI interface. The expression for a variable declared as a 'MyString' is reported with type 'MyString' and no additional information is available via the interface.

[2017-11-13 16:39] maxalces commented on #110
I actually stopped using this approach because the compiler error messages I was getting in VS were cryptic and unhelpful.  So I don't have any wisdom for you, sorry.

[2017-11-13 17:47] iwubcode commented on #221
@paulmaybee - is there a workaround?  Pretty-printers seem to have its own issue or rather, they show all the _M_p internal stuff as well.  See my comment on #223.  Not sure if there's a bug with pretty-printing or not?

Anyway, if this Natvis issue is out of our hands, I'm happy to close this.

[2017-11-13 17:54] iwubcode commented on #223
Thanks @robotdad .  I'll try and look more into this this week.  I'm assuming I'm configured correctly then.

Per @paulmaybee, natvis has a problem with converting the "using" statements we use due to the way GDB handles this.  It's possible that this is why pretty-printing also does not display nicely.

I'm closing this, as I think my question was answered.  Thank you!

[2017-11-13 17:54] #223 closed

[2017-11-13 17:54] paulmaybee commented on #221
You should not be seeing _M_p stuff with pretty-printing turned on. How did you do it from your CMake project? Here is an example of a CMake config that turns on pretty printing:

    {
      "type": "cppdbg",
      "name": "App_HelloWorld (examples\\HelloWorld\\App_HelloWorld)",
      "project": "CMakeLists.txt",
      "projectTarget": "App_HelloWorld (examples\\HelloWorld\\App_HelloWorld)",

[2017-11-13 17:56] iwubcode commented on #221
@paulmaybee - thanks!  I'll try this shortly.  Before, I was executing pretty-printing directly.

[2017-11-13 18:16] iwubcode commented on #221
@paulmaybee - hmm, I'm not seeing a change.  Should I try and make a simple repo of the issue?  I was assuming pretty-printers would have the same issue as natvis, since gdb wasn't providing the actual type?

[2017-11-13 18:20] paulmaybee commented on #221
Yes, send me the repro. Here is what I see when pretty printing is enabled on Ubuntu 16.04 with gcc 6.3.0

![image](https://user-images.githubusercontent.com/12514776/32741761-2f59fabe-c85c-11e7-9864-907a09257902.png)

[2017-11-13 18:23] iwubcode commented on #221
@paulmaybee - do you still see it correctly if you do:

[code]

[2017-11-13 18:26] paulmaybee commented on #221
Yes.
![image](https://user-images.githubusercontent.com/12514776/32742072-2356807e-c85d-11e7-80e0-67742aedd73b.png)

[2017-11-14 15:20] sourabharvikar3 commented on #39
When this feature will be available.

Thanks

[2017-11-14 17:22] iwubcode commented on #62
I'm also interested in this.  Today, we use gdb to debug crash dumps.  Visual Studio would be much nicer!!

[2017-11-15 10:27] AlexeyVT commented on #39
I uses Makefile project and this string before run in the Debug menu. GUID value I got from .bash_history.
sudo gdb --interpreter=mi; echo fab7778d-5eaf-46cb-943a-0a73f185bbe2; logout

And I agree. This feature should be available

[2017-11-15 21:40] iwubcode opened #224 "[ Feature Request ] Support for setting remote environment variables in CMake"
This might already be possible but our CMake logic can make use of certain environment variables.  Is it possible to set those in the CMakeSettings.json?

[2017-11-15 21:48] iwubcode commented on #161
@itodirel - Not sure if this is the same issue but I am not able to see compiler errors in the error window and double clicking on them in output does nothing.  This is for a CMake project with VS 15.5 Preview 4.  Did I do something incorrectly?  Please let me know if I need to open a new bug or if there's any other way I can help!

[2017-11-15 21:52] iwubcode commented on #218
I can confirm this is fixed in 15.5 preview 4.  Thank you very much!!  I will close this.

[2017-11-15 21:52] #218 closed

[2017-11-15 22:01] itodirel commented on #224
we're actually working on that right now, and it will be in the next release

[2017-11-15 22:02] itodirel commented on #161
@iwubcode it's unrelated, please open a separate issue

[2017-11-15 22:21] iwubcode opened #225 "[ CMake ] Cannot view compiler errors in error window or double click on errors in output window"
**A brief description**

Cannot view errors in error window.  Cannot double click on error in output window and be taken to file with issue.

**Expected results**

Able to see compiler errors in the error Window.  Able to interact with them in the output window (take me to the actual file that had an error).

**Actual results**

The output is displayed in the output window but is not interactable.

[2017-11-15 22:21] iwubcode commented on #225
Please let me know if you need me to provide a sample project.

[2017-11-16 08:52] boskars opened #226 "PreBuildEvent in 15.5. prev 4"
When I rebuild / build my project in 15.5 prev 4, I get following error:

       (PreBuildEvent target) ->
         C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets(349,5): error MSB4044: The "Execute" task was not given a value for the required parameter "RemoteProjectDir".

I am currently using VS15.4.1 which ca

[2017-11-17 18:59] robotdad commented on #39
This one is further down on our backlog, I can say it is not going to make the next release. I'll tag this when we get it listed against a release with some confidence.

[2017-11-17 21:02] robotdad commented on #27
I'm closing this one as we do match arch of connection now. We'll pursue any changes off the related on #118

[2017-11-17 21:02] #27 closed

[2017-11-17 21:09] robotdad commented on #37
Actually yes, we have spec for syncing folders and hope to get it is rising up our backlog. I can't quite commit to a release yet though. I'm going to close this one and track off of #215 which is a bit more specific.

[2017-11-17 21:09] #37 closed

[2017-11-17 21:12] robotdad commented on #43
I know this is an older one but there is more recent discussion on #215 so closing this one in favor of that one.

[2017-11-17 21:12] #43 closed

[2017-11-17 21:20] #49 closed

[2017-11-17 21:23] robotdad commented on #202
@AliAskari any need to keep this one open or shall I close this now?

[2017-11-17 21:25] robotdad commented on #200
We haven't figured out yet what to do in the case of making things easier with WSL. As SSH just works there it hasn't gotten to high on the backlog yet.

If you want to use mingw on the remote you can override the compiler options in project properties, or try using open folder with a makefile or cmake properly configured for mingw.

[2017-11-17 21:30] robotdad commented on #195
Seems very related to our need to start syncing headers as described in #215 . @itodirel can you please take a look to make sure this behavior is expected in the current cmake implementation? It seems a bit weird.

[2017-11-17 21:36] robotdad commented on #61
Reading through this again I don't think there is anything we can do here. We are improving our story for open folder with arbitrary remote builds and cmake, hopefully that will make the msbuild makefile variant less necessary.

I suggest we close this one with no action. @itodirel ?

[2017-11-17 22:19] robotdad commented on #204
@itodirel do you have enough info here to look into this?

[2017-11-17 22:21] robotdad commented on #194
@mgieselman thoughts?

[2017-11-17 22:23] robotdad commented on #173
Can I turn this around? You can use makefiles directly without a vcxproj through open folder, see [this post](https://blogs.msdn.microsoft.com/vcblog/2017/10/23/remote-tasks-in-visual-studio/) for how to do that.

With that capability do we need to do this from a vcxproj?

[2017-11-17 22:26] robotdad commented on #145
I'm removing the enhancement label as we're not going to do anything for this. I will look at documenting how to do this.

[2017-11-17 22:28] robotdad commented on #135
Closing as there hasn't been activity, please reactivate if still running into this

[2017-11-17 22:28] #135 closed

[2017-11-17 22:29] robotdad commented on #103
Closing due to lack of activity, reopen if you run into this again.

[2017-11-17 22:29] #103 closed

[2017-11-18 06:54] #200 closed

[2017-11-19 01:59] AliAskari commented on #202
@robotdad I looked at the proposed solution and I think it will be of little use for us.

We are using Conan package manager extensively in our projects and in our current workflow we sometimes update the packages a few times a day (i.e. the project headers change all the time). It will be very annoying to have an extra step just to bring the project headers from the Linux box to Windows for intel

[2017-11-19 18:23] stanthomas commented on #61
I still think my suggestion to bring makefile projects into line with MSBuild, i.e. re-build only when the target is out of date, is reasonable. And, I would imagine, readily incorporated into the current framework.

That said, I have only a passing interest in makefile projects. And no interest at all in CMake, which strikes me as a retrograde step, more suited to VS Code than Visual Studio. My n

[2017-11-25 22:40] x893 commented on #132
I resolve this issue after install OpenSSH with SFTP support (from Dropbear).
On some system need change **uname -m** response.
Rename **/bin/uname** to **/bin/uname-org** and make new **uname** with ARM response

#!/bin/bash

if [ "$1" == "-m" ]
then
        echo ARM
        exit 0
fi
uname-org $1
exit 0

For more info see liblinux.dll DistributionId.GetSystemHardwarePlatform method

[2017-11-27 20:13] lukka commented on #226
@boskars
FYI I could not reproduce your problem yet with VS Professional 15.5p4.

Could you please try creating a new Console Application project with VS 15.5 Preview 4 and verify whether a PreBuild event works in that scenario? We need to understand whether is it a common problem of VS, or if it is related to your project settings. In the former case, please proceed with a Repair action upon your

[2017-11-27 21:59] ademyankov opened #227 "How to attach VS Debugger to qemu vm running cross-compiled code"
I have successfully cross-compiled simple console application using aarch64 toolchain installed on my ubuntu vm (remote).

Now, I have a problem to solve, how to run vs debugger with the application executed inside arm vm running on qemu. If I run debugger I get **"cannot execute binary file: Exec format error"** which is totally understandable because it tries to execute arm code on ubuntu vm.

W

[2017-11-27 22:04] ademyankov commented on #227
I forgot to mention that of course I've tried to play around with all the settings in _Property Pages -> Debugging_  like: _Debugger Port Number, Debugging Mode,_ etc...

[2017-11-28 14:43] boskars commented on #226
@lukka
**I have created new Console Application project with VS 15.5 prev 4 and added some random files to copy during Prev-Build-Event:**

../../MultiProjectSolution/Console/Touch.cpp:=$(RemoteRootDir)/PreTest/Cfg/x1.h;../../MultiProjectSolution/Console/Touch.cpp:=$(RemoteRootDir)/PreCopy/Cfg/x2.h;../../MultiProjectSolution/Console/Touch.cpp:=$(RemoteRootDir)/PreBuild/Cfg/x3.h

**And I still get

[2017-11-29 16:31] paulmaybee commented on #227
If I understand you correctly you are already able to start aarch64-linux-gnu-gdb on your Windows machine from bash and get it to connect to the qemu hosted gdbserver using gdb's target command?

I believe that you can replicate your experience in VS using the Open Folder debugging experience. Rather than opening your solution, open the folder containing your solution (File->Open->Folder...). Then

[2017-11-29 19:07] lukka commented on #226
@boskars we identified the issue and we are working on a fix. No ETA yet.

As a workaround, please edit your .vcxproj file by appending the following target called "RemotePreBuildEvent" at the end of your .vcxproj file. The <target> must be the last element inside the <project> XML element:

[code]

Let us know if this is helpful, thanks.

[2017-11-29 22:35] ademyankov commented on #227
That is correct!

Now, I am having some troubles with the magic you described but, first, I want to say that this stuff is really buggy! Whatever changes you make in launch.vs.json, even if you save them, the IDE doesn't apply it. You have to close the project/folder and reopen it again to make it work. At first, it took me a while to realize that and I spent the whole day fighting it, thinking wh

[2017-11-29 23:31] paulmaybee commented on #227
Buggy - hopefully getting better. What version of VS are you using?

If referencing bash out of system32 if working for you "by hand" then try replacing the “sysnative” with “system32” in the json.

[2017-11-30 09:54] boskars commented on #226
@lukka, it does not seems to help.

[2017-11-30 17:38] lukka commented on #226
@boskars i would like to help on this:
  -  Is it a Console Application based project right?
  -  What is the error that are you encountering after applying the workaround?
  -  Any code snippet out of your vcxproj is welcome.

[2017-11-30 18:37] ademyankov commented on #227
Don't get me wrong, I love Microsoft and Visual Studio, you guys are doing anonymous amount of work, and the fact that I got immediate support for my questions speaks for itself. Thank you for that.

I have the latest VS2017 Verson 15.4.5

So, it turned out that this problem is well-known one, here is the original [issue](https://github.com/Microsoft/vscode-cpptools/issues/877). I needed to instal

[2017-11-30 18:49] iwubcode opened #228 "[ CMake ] [ Question ] What does it mean when I see 'Configuration Failed'"
After running CMake on a new project, I'm seeing 'Configuration Failed'.  What does it mean?

Example:

[code]

Using Visual Studio 2017 Preview 5

[2017-11-30 20:09] ademyankov commented on #227
BTW

There is no such option in my dialog, there are only:

- Default
- C/C++ attach for MunGW/Cygwin
- C/C++ launch for MunGW/Cygwin
- Managed
- Mixed (Managed + Native)
- Native

but no linux gdb.

I had to select _launch for MunGW/Cygwin_ and just modify the script completely.

[2017-11-30 20:16] paulmaybee commented on #227
Do you have the "Linux development for C++" option installed?

[2017-11-30 20:19] ademyankov commented on #227
I guess so, otherwise I don't think it would work. So, I use this template:
     New Project -> Visual C++ -> Cross Platform -> Linux -> Console Application (Linux)

[2017-11-30 22:34] pieandcakes commented on #227
@ademyankov I think @paulmaybee is talking about `C/C++ Launch for Linux (gdb)` as the option for you to choose.
![image](https://user-images.githubusercontent.com/17558378/33458575-9cfe920a-d5db-11e7-8e62-f75ddb89a967.png)

[2017-11-30 22:45] ademyankov commented on #227
Yes, that exactly what I sad 2 posts ago. I don't have it.

![image](https://user-images.githubusercontent.com/13845895/33458935-080d0896-d5dd-11e7-95b2-759164d472ca.png)

[2017-11-30 22:47] pieandcakes commented on #227
Can you start the "Visual Studio Installer" and see which Workloads you have selected?

[2017-11-30 22:50] ademyankov commented on #227
![image](https://user-images.githubusercontent.com/13845895/33459159-ce6ab506-d5dd-11e7-8ad6-a615dbf4e67c.png)

[2017-11-30 22:58] ademyankov commented on #227
Ok, I got it. I uninstalled Linux options and installed it again and now I got Linux GDB

![image](https://user-images.githubusercontent.com/13845895/33459469-deb61792-d5de-11e7-9205-fe068b475ad3.png)

[2017-11-30 22:58] pieandcakes commented on #227
I think the difference must be the Bottom Optional item to get that menu item. I have it checked on mine and I see the item. Otherwise, yours looks similar to mine under Linux development

[2017-11-30 23:43] ademyankov commented on #227
Ok, cool, @paulmaybee I got some good progress finally. So, now it runs gdb but, what is the next step? GDB tries to run the binary which obviously will not work, instead it supposed to connect to remote target.

[code]

I modified json parameter:
`"miDebuggerServerAddress": "10.*.*.100:1234"`

[2017-11-30 23:45] paulmaybee commented on #227
Do you have  this line in your json?
 "miDebuggerServerAddress": "localhost:1234",

[2017-12-01 01:11] ademyankov commented on #227
I had, but I changed it to have a real remote address, I thought this is how it supposed to work? No?
[code]

[2017-12-01 03:14] paulmaybee commented on #227
This is the address that gdb should use to talk to qemu (target remote hostname:port). Have you started qemu?  Is gdb issuing a target remote command?  Send me the full log and I’ll take a look.

[2017-12-01 10:14] boskars commented on #226
@lukka
It is a console application, and the error message is still the same after applying the workaround.  I have attached project.  It copies files and compiles using VS 15.4.1 but when using prev 15.5.x it gives the mentioned error.

[For_lukka.zip](https://github.com/Microsoft/VSLinux/files/1521188/For_lukka.zip)

[2017-12-01 18:43] lukka commented on #226
@boskars thanks for the provided files.

The workaround is to override also the target "PreBuildEvent" (coming from `C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets`) in your .vcxproj with hardcoded `RemoteProjectDir`.

Your project file appended with the following should work (add these target definitions as you a

[2017-12-01 19:50] ademyankov commented on #227
Yes, qemu is started and awaits for gdb stub, and this is the entire log:

[code]

[2017-12-01 23:27] paulmaybee commented on #227
Sorry, misdirected you no the miDebuggerServerAddress, that only seems to work when attaching to a specific process id. In this case you don't seem to have one so you'll have to give a couple of custom launch commands. Try removing the miDebuggerServerAddress and instead add this json element:

      "customLaunchSetupCommands": [
        {
          "text": "-file-exec-and-symbols /mnt/c/projects

[2017-12-01 23:51] ademyankov commented on #227
![image](https://user-images.githubusercontent.com/13845895/33508399-f2644bf8-d6ae-11e7-8282-eda9ebedf5dc.png)

Is there a documentation of all those keys, options and command for MI supported debuggers? Otherwise I am like a blind kitten...

[2017-12-04 10:36] boskars commented on #226
Thanks @lukka  this helps on my test project.  Will this be fixed in next preview?

[2017-12-04 10:36] #226 closed

[2017-12-04 15:58] paulmaybee commented on #227
Unfortunately there is no documentation outside of the schema - except the code (https://github.com/Microsoft/MIEngine/). Also unfortunately, since I cannot set up a repo of your environment, I also have to do a little guessing as to what will work for you. For this particular error try adding: "targetArchitecture": "ARM".

[2017-12-04 20:03] pwc357 commented on #82
Parallel compile is critical for us too.

[2017-12-04 21:19] lukka commented on #226
@boskars thanks for reporting us this helped.
Yes, the fix is going to be released on one of the next Preview version of 15.6.

[2017-12-04 22:55] ademyankov commented on #227
Ok, @paulmaybee we have some good progress finally! targetArchitecture helped, and I set up the right gdb to use. So, I was able to get to the point where gdb connects to qemu and launches the vm. Now, I am trying to figure out why it complains that _Cannot find or open the symbol file._ and another problem I am confused about breakpoint, now, it the log I don't see that a breakpoint to main is se

[2017-12-04 23:28] paulmaybee commented on #227
Where are you seeing the “cannot read or open symbol file” message?  I don’t see it in the log. You should be able to set breakpoints on source lines as usual in visual studio before launching.

[2017-12-04 23:41] ademyankov commented on #227
I see that in vs2017 output window:
![image](https://user-images.githubusercontent.com/13845895/33582140-a1eb409e-d908-11e7-9b7e-5c8e0109c9a7.png)

Ok, so I totally confused now. How am I supposed to use that magic Open Folder stuff? Because, now, I don't have any project files or source files opened, like I would have in a regular vs2017 project! I am using that Open Folder stuff:
![image](https:

[2017-12-05 00:00] ademyankov commented on #227
So, to clarify, my app is a regular vs2017 project but, it's just built for aarch64, like this:

![image](https://user-images.githubusercontent.com/13845895/33582802-e911adde-d90b-11e7-98f4-b03e6192f52c.png)

[2017-12-05 00:34] ademyankov commented on #227
Ok, I am watching [Bring your C++ codebase to Visual Studio with “Open Folder”](https://blogs.msdn.microsoft.com/vcblog/2016/10/05/bring-your-c-codebase-to-visual-studio-with-open-folder/)... I'll let you know if I encounter any problems...

[2017-12-05 01:03] ademyankov commented on #227
Ok! I got it working... This is freacking awesome!  👍  Thanks @paulmaybee  🥇

![image](https://user-images.githubusercontent.com/13845895/33584532-b69c6606-d914-11e7-8c7c-0fbd2acf6f05.png)

[2017-12-05 17:40] #227 closed

[2017-12-06 17:00] rosenqui commented on #100
I had the same issue - nothing would get copied unless you modified the local file. I'm building on a Docker image that comes up fresh each time. VC thinks it has already copied the files so it doesn't do anything.

The workaround is to delete the local 'obj' folder where files whose names end with `CopySourceUpToDateFile.tlog` live. For my project that's obj\x64\{Debug|Release}. That seems to be

[2017-12-06 20:51] ldcsaa opened #229 "Linker - 'Additional Library Directories' dose NOT support relative directory"
Linker -> 'Additional Library Directories' does NOT support relative directory
but
C/C++ -> 'Additional Include Directories' does support ~

and
'VC++ Directories' -> 'Library Directories' does NOT WORK at all  !!!

[2017-12-06 20:57] ldcsaa opened #230 "When will release a new version?"
I wait it for a long time , please tell me ~~~

[2017-12-08 16:31] paulmaybee commented on #35
This bug was fixed in VC_Linux 1.0.7.

[2017-12-08 16:31] #35 closed

[2017-12-09 19:52] AndreVergison opened #231 "Linux build error lookup doesn't jump to source code lines"
The actual output window shows, for instance:

1>  /home/xyz/projects/Linux1/pch.cpp:188: error: ‘chunk’ was not declared in this scope
1>  /home/xyz/projects/Linux1/pch.cpp:188: error: ‘data’ was not declared in this scope
1>  /home/xyz/projects/Linux1/pch.cpp:190: error: ‘strcpy’ was not declared in this scope

Double clicking on those lines does nothing at all.
I did expect a kind of mapping of

[2017-12-09 20:29] AndreVergison commented on #231
In addition I also see a bunch of lines such as ...

1>  C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\VC\VCTargets\Application Type\Linux\1.0\Linux.targets(259,5): warning : conversion to ‘UCHAR’ from ‘int’ may alter its value

... on which double clicking shows some indigestable xml:

    <Compile Condition="'@(RemoteClCompile)' != ''"
      ProjectDir="$(ProjectDi

[2017-12-09 20:52] AndreVergison commented on #231
My project also has .cpp files generated from master files (.mf). Files are generated with #line directives pointing back to the master file. Gcc returns any errors and shows them in VS as:

../myfolder/myfile.mf:250: warning: unused variable ‘n’

Double clicking on such lines will open the master file (which is a good thing), but it will NOT go to line 250, what was expected.

[2017-12-10 11:30] AndreVergison commented on #231
Also posted as https://developercommunity.visualstudio.com/content/problem/164691/linux-build-error-lookup-doesnt-jump-to-source-cod.html

[2017-12-10 16:18] samsinsane commented on #176
Just installed and tested with 15.5.1, everything looks good. Thanks!

[2017-12-10 16:18] #176 closed

[2017-12-11 21:50] iwubcode commented on #231
I agree this would be useful, I opened #225 to try and capture this issue as well.

[2017-12-11 21:51] iwubcode commented on #210
Confirmed fixed.  Thanks!

[2017-12-11 21:51] #210 closed

[2017-12-11 22:47] iwubcode opened #232 "[ Debugging ] Double clicking callstack when attached does not open source file in project"
**Description**

When attaching to a remote process, double clicking on a callstack leads to unexpected results.

**Expected results**

Double clicking on the callstack should open the file in the project if applicable, or open a "cannot find file" dialog if unavailable.

**Actual results**

Double clicking on the callstack always opens a "cannot find file" dialog.

**Environment**

Visual Studio

[2017-12-11 22:48] iwubcode commented on #232
My apologies if I'm remembering wrong but I thought the "Expected Results" was how Visual Studio worked with Windows projects.

[2017-12-11 23:16] paulmaybee commented on #232
The attach experience is unrelated to the folder you currently have open, so unfortunately the source mapping from build file name (on the remote machine) to the location of that file on the local machine is not established. The launch experience does behave as you expect. However for attach it would be nice to at least look to the opened folder to establish some source context. We will look at ad

[2017-12-15 13:07] Rini4286 commented on #82
We are migrating our env. from Linux to Windows (Studio is much more friendly than Netbeans) and parallel compilation  is critical for the success of the migration. Any idea when this feature will be available?

[2017-12-20 03:24] lukka commented on #228
@iwubcode  that means some error/exception occurred during CMake output parsing time.
Could you provide a small reproducible example? Which version of CMake?

[2017-12-27 23:37] itodirel commented on #82
We actually have an internal beta completion of this feature. Might be out as soon as the next release.

[2017-12-28 03:22] virooo7 commented on #170
I am facing the same problem with VS2015, replacing the relative path with the whole path seems to solve the problem as @ademyankov suggested.

[2017-12-28 10:14] braindeaddeveloper commented on #170
I have updated to 15.5 and started a new project against a new linux host and its still happening ... doesnt matter how I add the additional include paths they arent passed over to the compiler on linux unless I specifically add them to the Additional Options field of the C/C++->Command Line property page.
I would note that they are identically specified/shown in the All Options read only field of

[2017-12-28 10:16] braindeaddeveloper commented on #170
So I have a question : is there a documented or undocumented flag I can use with VS or in the solution/project settings to show exactly what is being sent to the remote linux host ? Unfortunately I dont have the ability/rights to use netmon or any packet sniffers as its an investment bank and very tightly regulated.

[2017-12-28 10:27] braindeaddeveloper commented on #209
Is this a variant of #158 ?

[2017-12-29 13:34] drrggibbs opened #233 "VS fails to relink project if only a dependent static library is built"
I have a project that links to several static libraries (.a). If I edit a source file in one of the projects that builds a static library and select the main project for build, then VS compiles the edited file and regenerates the static library, but does not relink the main project. VS reports success.

To make VS relink the main project it is necessary to edit a source file in the main project, t

[2017-12-29 13:57] drrggibbs opened #234 "Trying to compile a single file fails"
If I right-click on a source file and select Compile (or Ctrl+F7) the compile fails.

The compile command sent to the Linux machine  looks like this:
-c /home/user/projects/VS_Remote_Build/libG/General/Something.cpp -g2 -gdwarf-2 -o "/home/apluser/projects/VS_Remote_Build/libG/obj/x64/Debug/Something.o" ...

There are two issues with this: (1) the compiler name, e.g. g++, has been omitted at the s

[2017-12-29 14:20] drrggibbs opened #235 "VS does not recompile source files when an External Dependency changes"
I have projects setup with only the source files included, none of the header files. However VS is able to find header files and list them in the External Dependencies. If I edit one of these headers then build the project it does not build the source files dependent on this header, though apparently VS is aware of which source files are dependent on which headers.

On the other hand, if I add a h

[2017-12-29 14:41] drrggibbs opened #236 "Custom Build Tool executes on Windows machine, not Linux machine"
I tried to set up a custom build tool for a file, i.e. I right clicked on the file in the project and set Configuration Properties > General > Item Type to "Custom Build Tool". However when I try to build the project, the custom build is executed on the local Windows machine, not the remote Linux machine.

Shouldn't the custom build tool be set to send a command to Linux?

A work around is to set

[2017-12-29 14:52] drrggibbs opened #237 "Suggestion: Ability to put source files in a directory not in the Linux build directory"
I have a setup on a network of Windows and Linux machines. I can map my Linux home directory to a Windows drive. So, I could put my source code in a directory accessible to VS running on my Windows machine, and accessible to Linux for the compile. This would remove the need to copy files from Windows to Linux.

However, VSLinux thinks the source files are in the remote build directory, so doing a

[2017-12-29 15:57] drrggibbs opened #238 "Program output not going to Linux Console in gdb Debugging Mode"
If the Debugging Mode is set to gdbserver then std::cout output goes to the Linux Console. This can also be used for cin. So everything is fine.

If the Debugging Mode is set to gdb then cout goes to the Output window and cin causes a dialog to display, saying "Stopped (tty input)". The only effective choice is to select "Break" and abort.

Because in one setup I'm using I don't have admin privile

[2017-12-29 16:04] drrggibbs commented on #238
I also just realized that if the mode is gdbserver and the program is waiting for input on cin, the only indication is whatever message is displayed on the Linux Console, which may be a problem if the window is not even open.

[2017-12-29 18:51] drrggibbs opened #239 "Cannot debug forked program"
I can't figure out if it's possible to debug the child of a forked process.

If Configuration Properties > Debugging > Debug Child Processes is set to No, then the child is not debugged.

If it's set to Yes, then the breakpoints are enabled in the child, but if one is hit the child terminates on a SIGTRAP. Setting "Additional Debugger Commands" to "set follow-fork-mode child" didn't help.

I also

[2017-12-29 19:54] drrggibbs opened #240 "Inconsistent handling of Additional Include Directories"
VSLinux doesn't handle the "Additional Include Directories" property consistently. For example if I define it to be
../../Library;../../Library/Linux
then for the g++ options this is converted to something like
-I /home/user/projects/ProjectName/../../Library -I /home/user/projects/ProjectName/Linux
i.e. the first is appended to the name of the Remote Build Project Directory, which is what I want,

[2017-12-30 00:22] lukka commented on #240
@drrggibbs Could you please retry your scenario with VS2017?

[2017-12-30 00:26] lukka commented on #238
@drrggibbs I/O redirection has been added for gdbserver mode on VS2017, could you please try it? Your feedback is welcome

[2017-12-30 22:08] drrggibbs commented on #238
Output goes to the Linux Console in both gdb mode and gdbserver mode in
Visual Studio 2017/ VSLinux 1.0.8. Is version 1.0.8 only available with VS
2017?

Richard

On Fri, Dec 29, 2017 at 7:26 PM, lukka <notifications@github.com> wrote:

[2017-12-31 14:11] drrggibbs commented on #239
Reran with VS 2017 (15.5.2) and VC Linux 1.0.8

1. Running in gdbserver mode. Always get a SIGTRAP whether "Debug Child Process" is set "Yes" or "No".
2. Running in gdb mode with "Debug Child Process" set to "No" - breakpoints in the child are ignored.
3. Running in gdb mode with "Debug Child Process" set to "Yes" - breakpoints set at 11, 14, 30, & 33.
   Stops at 11 then 30. Press enter in the Li

[2017-12-31 14:18] drrggibbs commented on #240
Tested with VS 2017 (15.5.2) and VC Linux 1.0.8.
Same behavior.

[2017-12-31 14:29] drrggibbs commented on #235
Same behavior with VS 2017 (15.5.2) and VC Linux 1.0.8

[2017-12-31 14:31] drrggibbs commented on #233
Same behavior with VS 2017 (15.5.2) and VC Linux 1.0.8

[2017-12-31 14:50] drrggibbs commented on #234
Retested with VS 2017 (15.5.2) and VC Linux 1.0.8
Behavior is different.
If the source file has not changed, VS says it's up to date and won't try to recompile
If the source file has changed, VS will recompile it correctly, but if I then try to build the project VS unnecessarily recompiles all the other sources.

[2018-01-01 23:02] guido1993 commented on #174
Came here because I am currently experiencing the same error, latest VS2017 version.

[2018-01-02 07:42] boskars commented on #209
The solution described in #208 does also apply here.

[2018-01-02 07:42] #209 closed

[2018-01-02 23:06] iwubcode commented on #228
@lukka - I can see if I can reproduce it in a smaller example.  We were using 3.9.0 version of CMake.  Is it possible to just print out the underlying failure instead of 'Configuration failed' or is there not access to that?

[2018-01-03 00:42] lukka commented on #238
@drrggibbs yes, VS 2017 is required.

[2018-01-03 00:42] #238 closed

[2018-01-03 01:10] lukka commented on #228
@iwubcode disregard my previous message, it is not Visual Studio the source of that error.
The message "Configuration failed." come from [CMake itself](https://github.com/Microsoft/CMake/blob/a69f4e17fbc54d2da07e9ad1b7a29e061347f751/Source/cmServerProtocol.cxx#L1238).
A repro is really needed in order to understand why configuration failed.
By the way, could you please check whether you have any u

[2018-01-03 02:43] itodirel commented on #170
We will need a repro, or if you like you can contact us directly at vcpplinux-support@microsoft.com. I would recommend trying to get a small repro that doesn't involve any of your IP and once you can repro, share the repro with us: logs and the project.

Yes. Please change the verbosity in Tools - Options - Projects and Solutions - Build and Run - MSBuild project build output verbosity, to Normal.

[2018-01-03 02:46] itodirel commented on #123
Closed as fixed

[2018-01-03 02:46] #123 closed

[2018-01-03 02:47] itodirel commented on #157
Could you tell us what build of VS you were using? @lukka assigning to you as you fixed it

[2018-01-03 02:48] itodirel commented on #157
The other thing is that they might be copied to the corresponding remote directory, and not the output directory, so you might have to take that into account. That part is currently by design.

[2018-01-03 03:17] epicabsol commented on #237
This would also be very useful when building via a virtual machine that provides the guest OS access to certain folders in the host filesystem.

[2018-01-03 17:43] davideideticom opened #241 "Linux Console Window processes lines twice when using cin or scanf"
When reading inputs in the linux console window connected to a remote machine (64-bit Ubuntu) the cin << ... or scanf functions appear to be interpenetrating lines twice.  That is, if I cin << int_var twice in my program it will read the same number from my first input line in the console window and will not block the second time.

I am using g++ in visual studio community version 15.5.2; g++ vers

[2018-01-03 19:28] lukka commented on #241
@davideideticom I tried the same scenario on 15.5.2 and cannot reproduce this problem. Could you please provide a small repro of the problem? Thanks for your support.

[2018-01-03 20:30] ProgrammingPescador opened #242 "Missing headers?"
I am using Visual Studio 2017 with the following version details on Windows 10 Professional:

Microsoft Visual Studio Professional 2017
Version 15.5.2
VisualStudio.15.Release/15.5.2+27130.2010
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Professional

Visual Basic 2017   00370-10200-07065-AA159
Microsoft Visual Basic 2017

Visual C# 2017   00370-10200-07065-AA159
Microsoft Visual

[2018-01-03 20:30] davideideticom commented on #241
Sorry about that, I have since rebooted the linux box and the issue went away.  It appears to be an issue on my end.

[2018-01-03 22:09] yuehuang010 commented on #242
Hi, Are you getting IntelliSense or Build errors?  Or Both?

[2018-01-03 22:11] #241 closed

[2018-01-03 23:46] lukka commented on #237
@drrggibbs Thanks for reporting this. Please could you provide the following information:
   1-  which kind of .vcxproj projects are you using?  Console Application or Makefile based?
   2-   When you say "clobbering the source files" what do you mean exactly?

[2018-01-04 09:02] ProgrammingPescador commented on #242
I am getting error E1696 for the files that cannot be found and E0020 errors for identifiers that are defined in the files that cannot be found such as MAP_FAILED which is defined in mman.h

Thanks

[2018-01-04 19:15] lukka commented on #157
@SamuelHenderson the Content files are copied along the sources, so you should you should find it on the remote machine under the Remote Build Project directory.

The bug is that the Copy To Output Directory option is not fulfilled.

[2018-01-05 00:42] itodirel commented on #157
The  Copy To Output Directory bug is now fixed

[2018-01-05 02:24] ademyankov opened #243 "No immediate/direct printf into Output Debug window when using OpenFolder + GDB + WSL"
I am using OpenFolder mode, debugging Linux application with GDB using WSL as a pipe. I am not able to see console output immediately when printf is executed in my application. But when the application finishes/exits then everything that was ever printed is dumped out into Output Debug window.

And just another observation If I kill the program being debugged somewhere in the middle then nothing g

[2018-01-05 08:55] WenbinHou commented on #211
Unfortunately I'm facing the same issue.
I have opened "Linux Console" window from "Debug" menu, but still nothing is shown.

When I press "F5" for debug, the window has output:
![image](https://user-images.githubusercontent.com/26377737/34601928-db474088-f238-11e7-9cfd-0ab1da629b64.png)

However, when I press "Ctrl+F5", the window remains blank:
![image](https://user-images.githubusercontent.com/

[2018-01-05 15:38] drrggibbs commented on #237
1. I'm using a console application
2. The source files are copied to the Remote Build Project Directory. Doing
a clean or rebuild deletes this directory. When I said "clobbered", I meant
deleted, as in the whole directory is deleted.

On Wed, Jan 3, 2018 at 6:47 PM, lukka <notifications@github.com> wrote:

[2018-01-05 17:42] SamuelHenderson opened #244 "Method to copy source files from ALL projects to remote machine?"
My solution has 9 Visual C++ for Linux Projects in it.  There is one application (.out) project and a bunch of dynamic library (.so) projects.  Some of these library projects rely on headers found in another library project, something like:
`// In some file in LibraryA`
`#include "../LibraryB/LibB.h`

I have set up the Depedencies in Visual Studio such that LibraryB depends on LibraryA (because it

[2018-01-06 16:04] odalet commented on #119
Hi, I also encounter similar behavior (though with a different error) when trying to debug a CMake Linux project from VS; here is what gdb says:

[code]

The program I try to debug is nothing too fancy:
[code]

For the record, I'm using:
* VS 15.5.2,
* my WSL is still an Ubuntu 16.04.2 LTS.
* gdb: 7.11.1
* gcc: 54.0

@stanthomas suggested having some Wiki where tricks would be put. It may be a goo

[2018-01-08 20:43] paulmaybee commented on #239
Debug child process only works in gdb mode. It has no affect in gdbserver mode. I am able to reproduce your behavior and have opened a bug to track it. Look for a fix in a coming update.

At this time I am not able to offer a workaround, but will continue to investigate to see if there is some way to get past this behavior.

[2018-01-08 23:19] levhaikin commented on #13
@yosoymin ,
have you solved the `Microsoft.VisualStudio.ProjectSystem.References.UnresolvedBuildDependencyProjectReference`
issue?

[2018-01-08 23:55] amit-ezra commented on #68
+1 for Additional Library Directories - using ~/projects doesn't work, while using /home/user/project does.
VS2017 PRO 15.5.2

[2018-01-09 01:04] itodirel commented on #236
We have pre and post build events that execute remotely, would those work for you?

[2018-01-09 01:26] itodirel commented on #234
Regarding

This behavior is by design, single file compile does not know about the overall full build and does not sync the up-to-date-ness.

Regarding compile not running when the source file is up to date, I believe this is a recent change and we are consistent in doing that with the C++ Desktop experience.

[2018-01-09 01:26] #234 closed

[2018-01-09 01:28] itodirel commented on #211
Ctrl+F5 does not pipe the output to the Linux console currently.

[2018-01-09 01:29] itodirel commented on #199
Interesting, I see, I think I understand what is going on and indeed this can cause a problem. We probably need a flag to say to not use certain sources in computing the remote paths.

[2018-01-09 01:35] itodirel commented on #125
We don't currently support ARM64

[2018-01-10 11:58] yoka791 commented on #42
How can I change the auto command -std=c++11 to -std=c++0x?

[2018-01-11 08:26] youreeck opened #245 "Add sooport of the serial port (tty) connection to gdbserver"
The **gdbserver** supports two ways to connect remote debugger: **SSH** or **serial port**. The first one is very common, but in real devices for production the option to connect over **Ethernet** is often **disabled** or Ethernet port is used for other purposes. In this case the user may have **a serial port connection to debug**. Unfortunately Visual Studio does not support it. There are plenty

[2018-01-16 17:09] jensreck opened #246 "[CMAKE] "remoteInstallRoot" resp. "install( TARGETS ..." at remote Linux doesn't work"
Please use the following bug reporting template to help produce actionable and reproducible issues:

* A brief description

Install of build result at remote Linux doesn't work, not output folder on remote Linux will be created and no outputs (build results) will be copied (to any folder).

* Expected results

see above...

* Actual results (with build output window contents if applicable)

Using

[2018-01-16 17:15] drrggibbs commented on #236
I think a pre or post build event only applies to the project as a whole, so it's not really the same thing as just applying a custom build operation to a single file in a project.

[2018-01-16 17:52] drrggibbs opened #247 "Issues with building a project with different configurations"
If I have a clean project and build it in both Debug and Release modes there is no problem, except that VS copies the source files again.

If I then clean the Debug configuration, the whole remote project directory is deleted, including all the output for the Release configuration.

If I then select build for the Release configuration, VS thinks Release is still up to date and does nothing.

I thi

[2018-01-16 19:49] drrggibbs opened #248 "Questions about version"
The only info I can find about the current version of VC Linux on the web is from sites such as https://marketplace.visualstudio.com/items?itemName=VisualCPPTeam.VisualCforLinuxDevelopment which talks about version 1.0.7 for VS 2015. However VS 2017 has version 1.0.8, but I can find no information about this release. Is there a current release information page somewhere?

Is support for VS 2015 st

[2018-01-16 19:56] drrggibbs opened #249 "Security concern about stored credentials of remote machine"
I was wondering how securely passwords for the remote machine are stored. Are they in the registry or the user's AppData or somewhere else? How securely are they encrypted?

Maybe there should be an option not to store the password permanently. Maybe it should be stored in memory when one first logs on, such as Pageant does with the passwords for keys.

[2018-01-17 14:48] jensreck opened #250 "Connection Manager: Host name has to be equal to IP address"
The host name and so the 'environment variable' for the setting "remoteMachineName" has to be equal to the IP address. So it's not possible to use different VMs with different ports and same (local) IP.
If the IP address of various VMs are equal (and the ports are different), tasks and launch configuration use always the first entry.

The better solution is to add a user defined 'connection name'

[2018-01-17 16:09] sebastue opened #251 "Attach to running proccess with process name"
It is only possible to attach to a running process with the process id. This process id is always changing. So you always have to modify the 'processId' in the launch configuration and it is not possible to create templates.
A better solution would be to specify a "processName" to attach to this process. For the process name it should be possible to use environment variables like '${debugInfo.full

[2018-01-17 22:24] robotdad commented on #248
We are only investing in VS 2017. Version 1.0.7 is the last for VS 2015.

Release notes for VS 2017 include additions for the Linux C++ workload.

[2018-01-17 22:30] robotdad commented on #245
Do you have an example you can point us to for this? Is this for an embedded device or ...?

[2018-01-18 00:55] itodirel commented on #249
we're storing it on the file system, on a per user basis only, and we encrypt it using the Windows DPAPI, which uses the current user secrets to encrypt it, that means no one but the current user can access it and decrypt it; we are not planning on doing something like Pageant, or storing it in memory

[2018-01-18 04:28] itodirel commented on #250
We support multiple machines simultaneously, in that any project can select a specific remote target, this can be done as shown in the attached images:

![pic1](https://user-images.githubusercontent.com/15239856/35080814-e2ac1988-fc07-11e7-8ba2-57c7eb9fdc63.png)

![pic2](https://user-images.githubusercontent.com/15239856/35080789-b4b70a10-fc07-11e7-8441-93a267603705.png)

[2018-01-18 08:35] jensreck commented on #250
Sorry but I can not create a connection without IP address (in a CMake project)...

Connection with IP:
![2018-01-18_09h27_29_connection_ok](https://user-images.githubusercontent.com/6204503/35088075-bcc366f6-fc32-11e7-9214-2eb5229c2b26.png)

Connection with name:
![2018-01-18_09h27_29_connection_set](https://user-images.githubusercontent.com/6204503/35088096-cc647be0-fc32-11e7-8f27-de0fb9f66cd9.p

[2018-01-18 09:02] youreeck commented on #245
Yes, this is embedded device, where we have Ethernet network card. But this card will be used to send and receive the messages from other devices. We also expected that the performance of the Ethernet card is a point of our special attention. Doing this our application use "exclusive mode" for network card, which means no other application can send/receive the Ethernet frames via this device. And

[2018-01-18 09:04] iontodirel commented on #250
I see, that would mean that the remote system is not accessible by host name, is this WSL? does it work with a program like Putty?

[2018-01-18 09:34] jensreck commented on #250
its a VBox (Linux Mint 18.2) and I have create both configuration step by step meaning starts with 127.0.0.1... it works and immediate after this I try to add the second connection "host42".

[2018-01-18 12:37] sebastue opened #252 "Connection Manager: 'defaultRemoteMachineName' is always the first connection"
When you use the environment variable 'defaultRemoteMachineName' for your remoteMachineName in CMakeSettings.json, always the first connection of the connection manager is used. It is not possible to change the the default connection. So you have to delete other connections until the desired connection is the first one. Furthermore it is not possible to edit a connection. If you need to change som

[2018-01-18 20:29] itodirel commented on #250
it depends on how your Linux machine is configured, IIRC Linux Mint had problems with DNS and it was always difficult to access it using a hostname; I can't provide guidance for that specifically, I would refer to the Mint documentation here, but it seems like the problem is on your Linux machine

[2018-01-18 22:52] itodirel commented on #170
@braindeaddeveloper I created this video as a demo for this, would it be possible to take a look and tell us where it breaks?

[2018-01-18 22:54] itodirel commented on #250
Oh, one question I have, is this in the context of CMake or MSBUILD and vcxproj?

[2018-01-18 23:02] drrggibbs commented on #248
Thank you for the clarification. It would be helpful for people like me, i.e. stuck with VS2015 in the work environment, if you could state on these web pages that talk about VC Linux for VS 2015 that there will be no support beyond version 1.0.7. This would then provide justification for pushing managers to install VS 2017.

[2018-01-19 00:41] itodirel commented on #27
@stanthomas, I know you know how to do it, but I created a demo on how to manage it, for posterity: [Visual C++ for Linux Development - Handling multiple connections](https://vimeo.com/251731898)

[2018-01-19 09:34] jensreck commented on #250
We use a CMake project.

[2018-01-19 14:44] braindeaddeveloper commented on #170
Hi Ion ... I'm afraid that's blocked from work I will check when I get home.  thanks

[2018-01-19 18:43] TTimo commented on #28
+1

[2018-01-19 22:23] itodirel commented on #252
thanks, that's a good suggestion, we can probably add that to the connection manager list; we have all the support to have it working, so it would just be a UI change in the Tools Options

[2018-01-19 22:23] itodirel commented on #252
@robotdad FYI

[2018-01-19 22:24] itodirel commented on #250
Ah I see, that then explains it

[2018-01-22 03:37] EnoroF commented on #18
we indeed need a clang toolset to develop and debug on Linux. we can override compiler to use clang finish compile source code on Linux, but we can not debug it conveniently.

[2018-01-22 04:00] iontodirel commented on #161
duplicated errors fixed now

[2018-01-22 20:15] iwubcode commented on #221
Hi @paulmaybee , sorry for taking so long to get back to you.  I just now have had a chance to test.

In my same project, I added a simple vector of ints with both the type and the container type being defined in a 'using' statement.  Even with 'pretty print' I get a weird output.  Code looks like:

[code]

Which results in:

![image](https://user-images.githubusercontent.com/15224722/35242102-417

[2018-01-22 20:53] paulmaybee commented on #221
The vector formatting you are seeing is from natvis, not from gdb's pretty-printing. If pretty-printing is enabled it should take precedence over natvis formatting.

That said, you can always add additional natvis files to your project. In order to accurately display your renames stl container content do the following:

1. In your solution right click and select "Add>New Item>Visual C++>Utility>De

[2018-01-22 21:08] iwubcode commented on #221
@paulmaybee - thanks.  I do know about that but we have quite a number of these special containers since the developers like to use them a lot... I'm happy to do that as a last resort but would prefer to avoid natvis if I can help it due to this issue.

I've got the following settings in my launch.vs.json file:

[code]

Specifically the 'setupcommands', is there anything else I need to do to enabl

[2018-01-22 21:30] paulmaybee commented on #221
That setup command should be all you need. Did you build your own gdb? Is it built with python pretty printing enabled? If you just use gdb locally on the Linux machine are you seeing the print command format your containers correctly? On my Ubuntu machine I see
**(gdb)** p list
$1 = std::vector of length 2, capacity 2 = {0, 2}

when stopped at the printf in this program:

[code]

[2018-01-22 22:00] itodirel commented on #161
duplicated errors fixed now

[2018-01-23 20:03] john-yuzhi-zhang opened #254 "issue in copy External Dependencies to remote"
I created a project (MyTest) using VS 2015 and VSLinux to compile the project in remote Linux machine that has gcc compiler. In the project I have two files: main.c and file_all.c.

file_all.c contains the following lines
#include "myLocalPath/file1.c"
#include "myLocalPath/file2.c"

In the VS 2015 Solution Explorer, under MyTest (Linux)  project I can see
file1.c
file2.c
under External Dependenci

[2018-01-24 02:06] lkytal commented on #226
Same problem here, expect 15.6 to be released soon.

[2018-01-24 07:15] boskars commented on #226
It is fixed in the current 15.6 preview.

[2018-01-24 23:11] lukka commented on #254
Please consider using the most up to date version of Visual Studio 2017 instead of Visual Studio 2015, as all our efforts are on Visual Studio 2017.
Regarding your problem, you could:

- add all source files to the solution;
- use a prebuild event command where you copy using rsync or scp the source to the remote machine;
- set Additional Sources to Copy property: each entry is defined as this

[2018-01-24 23:11] #254 closed

[2018-01-25 17:23] vermosen opened #255 "cannot no longer install "SourceLocation" breakpoints from VS GUI"
Hi,

Until last week, my win7 + VS 15.5.4 / centos 6.3 + gcc installation was working great for both compilation and debugging.

Since a few days, I can no longer set "SourceLocation" breakpoints from the fringe in the text editor for VSLinux projects. As soon the remote debugging session starts, the breakpoints get dereferenced with a warning "The breakpoint will not currently be hit. Module cont

[2018-01-25 17:35] paulmaybee commented on #255
Sounds like the source location is not being mapped correctly to the compile time file location. Did you move any files or rename any projects since the last total rebuild of your solution? Can you collect a trace with the failure (see https://github.com/Microsoft/MIEngine/wiki/Logging - use the file logging option)?

[2018-01-25 18:15] vermosen commented on #255
Thank for the prompt response.

That is correct that my normal workflow is to build the binary on a specific machine and then to redeploy in several other remote locations, so the remote machine in the VS project is actually the debugging node (so I can change the machine from the project configuration sheet in a couple of clicks), while the build+deploy steps are performed through commands piped

[2018-01-25 19:27] Izowiuz commented on #108
No proper solutions as of yet? Not sure how I'm suppose to compile my project when it has multi-folder structure. This almost seems like I missed something in the settings of visual studio.

For the record, I'm using vs2017 15.5.5 and VC++ for Linux Deployment 1.0.8

[2018-01-26 20:34] lukka commented on #59
Closing this issue, please feel free to reopen the issue with a repro on the most recent version of Visual Studio 2017, thanks.

[2018-01-26 20:34] #59 closed

[2018-01-26 20:36] lukka commented on #60
Closing this issue, please feel free to reopen the issue with a repro on the most recent version of Visual Studio 2017, thanks.

[2018-01-26 20:36] #60 closed

[2018-01-26 20:36] lukka commented on #81
Closing this issue, please feel free to reopen the issue with a repro on the most recent version of Visual Studio 2017, thanks.

[2018-01-26 20:36] #81 closed

[2018-01-26 20:37] #82 closed

[2018-01-26 20:38] lukka commented on #97
Closing this issue, please feel free to reopen the issue with a repro on the most recent version of Visual Studio 2017, thanks.

[2018-01-26 20:38] #97 closed

[2018-01-26 20:40] lukka commented on #105
Fixed in VS 15.5

[2018-01-26 20:40] #105 closed

[2018-01-26 22:12] itodirel commented on #63
@yuehuang010 Felix assigning to you as you fixed the P2Ps recently, this should been fixed too by that fix

[2018-01-26 22:15] itodirel commented on #61
that would involve connecting to the remote machine, to check if things are up to date, so the performance saving would be slim; and that's what we're talking about here, not connecting and re-invoking the make script; how would be the dependencies expressed, remotely or locally, if remotely then we'd have to make a connection to check if they are up to date, if locally, why only locally? I don't

[2018-01-26 22:15] #61 closed

[2018-01-26 22:16] itodirel commented on #76
closing due to no reply, if you can still repro, please re-activate

[2018-01-26 22:16] #76 closed

[2018-01-26 22:18] itodirel commented on #93
we just currently implemented parallel builds support, we are also working on connection caching, with those two, the performance would be close to that of local Windows

[2018-01-26 22:18] #93 closed

[2018-01-26 22:18] itodirel commented on #93
please feel free to activate if you have more questions

[2018-01-26 22:21] itodirel commented on #155
closing due to inactivity, please reopen if you have any other questions, we are planning on adding a video demo for this section soon

[2018-01-26 22:21] #155 closed

[2018-01-26 22:23] itodirel commented on #170
Hi @braindeaddeveloper did you have any success in configuring your includes?

[2018-01-26 22:28] #224 closed

[2018-01-26 23:33] vermosen commented on #255
Hi,

I actually sorted it out with the MIEngine logs. Great tool ! I had to modify a couple of things in the project (adjust remote build root and project Dirs) and in the .gdbinit as well but it all works very well now.

Thx !

[2018-01-26 23:33] #255 closed

[2018-01-27 00:58] MikeGitb commented on #201
@Robotdad: Any updates on this?

[2018-01-27 04:19] iwubcode commented on #224
@itodirel - I noticed this was marked fixed and now is closed.  Is this in a public release?  Is there any documentation on how to leverage environment variables in CMake?

[2018-01-27 10:19] Izowiuz commented on #108
It was my fault, everything works now. It seems I had messed up project / solution relations when I was moving files by hand.

[2018-01-27 11:10] stanthomas commented on #61
@itodirel
But why do you need to connect to the Linux remote? You've declared the makefile target to VS and you've copied that target back to the Windows host. Your other comments apply equally to MSBuild projects.

I really don't understand why a makefile project is uniquely different as far as checking whether it's up to date.

[2018-01-29 23:01] nickdnickd commented on #142
@evakili I am exactly where you are right now. I can ssh from PuTTY and yet when I run
`sudo /usr/sbin/sshd -d -p 2222` on WSL (Ubuntu) and try to connect from VS2017 I see in the WSL server logs that the credentials were accepted but on the VS end it flags the port and host name

[2018-01-29 23:52] itodirel commented on #142
Can you try connecting again from Putty? It's possible your sshd server exited after the first connection?

[2018-01-29 23:53] itodirel commented on #142
@evakili, does your container allows multiple/simultaneous ssh connections? And can you confirm it's not configured to only allow one connection?

[2018-01-29 23:58] nickdnickd commented on #142
@itodirel I tried various of forms of connecting and disconnecting. I did find success by uninstalling and reinstalling openssh-server and running `sudo service ssh start` following advice from [here](https://www.dotnetcatch.com/2017/04/23/debugging-net-core-from-vs2017-on-windows-subsystem-for-linux/). Afterwards I was able to connect via VS2017

[2018-01-30 20:34] yuehuang010 commented on #240
Hi, thank you for bring this to our attention.  I have fix an issue where ".." in paths wasn't combining correctly.  Part of the problem was when LocalProjectDir didn't end with a trailing slash, so the translator eat a folder.  I will let you know when the fix is in live.

[2018-01-30 20:38] yuehuang010 commented on #220
Hi, In 15.6 preview 3, you should now see the option for "RemotePreBuildCommand" in json.  This would allow you to export or run any scripts you see fit.  Let me know if this addresses your problem.

[2018-01-30 23:36] itodirel commented on #177
Hi, we're not able to reproduce the problem, I had to configure the Firewall and setup password authentication in sshd_config, but after that it worked. Could you let us know if this is still a problem for you?

[2018-01-30 23:36] #177 closed

[2018-01-30 23:39] itodirel commented on #204
@VenoMpie Can you get us the build log? How long is the path on the Windows side?

[2018-01-30 23:40] itodirel commented on #118
We removed the architecture validation from makefile projects.

[2018-01-30 23:42] #118 closed

[2018-01-31 00:18] #142 closed

[2018-01-31 00:19] #108 closed

[2018-01-31 00:48] #179 closed

[2018-01-31 00:51] lukka commented on #151
@acepm83 it is likely you are using msbuild of a Visual Studio instance where you do not have the connection entry for your remote machine. Could you please check?

[2018-01-31 06:55] gvd1024 commented on #132
I am also having this problem.

x893, I am happy that you solved it.

However your explination of how you fixed it is a bit beyond my comprehension.

Can you please go into a bit more detail?

How/where did you install OpenSSH (I downloaded/extracted the openssh-7.5.tar.gz file but don't see any executables or applications in it)

Is there a special version of OpenSSH that has SFTP support (I didn

[2018-01-31 20:30] lukka commented on #132
@jazzatar  @gvd1024 @PaloMraz
could you please check you installed also sftp support for ssh?
On Ubuntu it is the following package:
openssh-sftp-server

@gvd1024 Please use the package manager of your Linux distribution for installing ssh support on your Linux machine, e.g. `apt` on Debian-like, zypper on Suse and so forth

[2018-02-03 07:19] evakili commented on #142
@itodirel Yes. I test several scenarios. I could connect to my Linux machine simultaneously with normal cli ssh connections.

[2018-02-04 22:54] sraboy commented on #158
This is still an issue for me in VS2017 15.5.6 with WSL, even after adjusting `ClientAliveInterval` mentioned in #208. I'm just building a standard Linux project for x64 and VS hangs; I have to kill GDB via task manager (killing it via bash doesn't seem to help) to get it responding again. Attempting to stop, pause or restart the debugging session results in some generic error message recommending

[2018-02-04 23:14] sraboy commented on #170
This is still an issue with relative includes on VS2017 15.5.6, with WSL as my build target. While the include files themselves are copied remotely and placed in their directories according to the project filters, the fact that the directories are referenced as "Additional Include Directories" appears to only affect Intellisense recognition and I'm required to update my sources to reference each i

[2018-02-06 19:40] lukka commented on #71
Closing issue. Feel free to reopen if you experience the same problem on a recent version of Visual Studio, thanks.

[2018-02-06 19:40] #71 closed

[2018-02-06 21:19] ademyankov commented on #243
I haven't tried that. I will. But, it's kinda bad, don't you think so? What am I supposed to modify the code after each printf statement or after each TRACE macro in order to see the output?

[2018-02-08 22:32] FlameFlameFlame opened #256 "Error when building program with custom classes: File format not recognized"
I have created class Foo and discribed it in two files Foo.cpp and Foo.h
Now when I'm trying to build my program with those files I get error .../Debug/Foo.o : file not recognized: File format not recognized

I think that this is a very basic problem, but I couldn't find a solution for VSLinux.
My remote machine is running Linux Yocto:
`Linux edison 3.10.98-poky-edison+ #1 SMP PREEMPT Mon Jun 6 14

[2018-02-09 19:28] ademyankov commented on #243
@lukka It's a regular linux application and if I run it in WSL printf works as it suppose to.

[2018-02-09 20:15] ademyankov opened #257 "Debugger fails to load shared library when VSLinux is used in OpenFolder + GDB + WSL config"
Usage Configuration: OpenFolder + GDB + WSL as a pipe.

The system doesn't see neither **LD_LIBRARY_PATH** variable in the WSL environment nor **-gdb-set solib-search-path** command helps!

**Here is the line from the log file:**
`2: (86288) STDERR: /mnt/c/projects/Build/Targets/x86_64-unknown-linux/Debug/Action: error while loading shared libraries: libAction.so: cannot open shared object file: N

[2018-02-09 22:04] stanthomas opened #258 "Please add C++17 Language Standard option"
As of Visual Studio 15.6.0 Preview 4.0 we have options in project properties for language standards `C++03,` `C++11` and `C++14` (and some GCC dialects). Plus `Default` which doesn't pass any language standard on the `g++` command line (good). These options also set the language recognised by IntelliSense.

Please add option for `C++17` so that `-std=c++17` is passed to `g++` **and** IntelliSense

[2018-02-10 10:12] FlameFlameFlame commented on #256
Okay, I found the problem. Item type of my header file was 'C/C++ compiler', I've changed it to 'C/C++ header'.

[2018-02-10 10:12] #256 closed

[2018-02-11 17:02] svenbieg commented on #170
An additional include directory doesn't work. You have to specify an additional compiler option "-Iprojects" and You Need to use angle brackets and slashes, **no** back-slashes! <Default/Platform.h> for example.

[2018-02-12 22:00] lukka commented on #243
@ademyankov could you please verify that this is also the case on the most recent version of VS?

[2018-02-12 22:06] ademyankov commented on #243
I confirm the same issue on version 15.5.5

[2018-02-13 08:54] shinkounen commented on #174
Microsoft Visual Studio Community 2017
Version 15.5.6

Visual C++ for Linux Development   1.0.8
Visual C++ for Linux Development

Same:
<img width="375" alt="e2778" src="https://user-images.githubusercontent.com/35449127/36141090-e1bbedde-10e6-11e8-9622-a83ff3776a2d.PNG">

[2018-02-13 17:31] davideideticom opened #259 "Remote CMake build does not copy sources after changing target machine"
I am having issues building projects on multiple linux machines using cmake in Visual Studio.  When building a project a new linux machine I get errors saying files do not exist eg. "/var/tmp/src/99e03e62-d79b-8739-9e27-d39838c612c3/Linux-Debug/CMakeLists.txt does not exist"
 My current solution is to build the Linux-Release version on one machine and Linux-Debug on the other.  I would expect VS t

[2018-02-13 23:52] lukka commented on #259
@davideideticom that has been fixed on 15.6, you could try to preview of VS to verify it.
In the mean time, the workaround is to manually delete the file under hidden directory ".vs" with a name similar to "index.bin".

[2018-02-14 16:31] davideideticom commented on #259
Thanks, The work around has solved my issues.  I look forward to the change making it into a release update.

[2018-02-14 16:31] #259 closed

[2018-02-14 21:19] iwubcode opened #260 "[ Question ] [ CMake ] Setting make launch settings"
I want to pass some parameters to 'make' (ex: `-j` or `-i`) for a Visual Studio project built with CMake.

Is this possible?
Where can I make this change?

[2018-02-14 21:23] iwubcode commented on #220
@yuehuang010 - thank you, this will be helpful.  However, I don't see this option in Preview 4 of the  remote-task json auto-complete.

I will say, this still doesn't address the issue of writing generic tasks (usable across multiple projects) but admittedly I'm not sure how common this will be.  So until I can come up with more use-cases (beyond building an individual C++ file), I will close this

[2018-02-14 21:23] #220 closed

[2018-02-14 22:26] iwubcode commented on #221
@paulmaybee - Sorry for getting back to you so late.  I was investigating this a bit.  I still don't have an explanation for why I'm seeing garbled information but I know it's based around the gdb that I was using because I see the same thing in gdb on the box.

I can say that we have multiple gdb on the box I am building on.  One is version 8.x and one is version 7.x.  The 8.x version outputs the

[2018-02-15 06:47] lukka commented on #260
@iwubcode you could do that by setting a value to buildCommandArgs, such as:
`"buildCommandArgs":"VERBOSE=1 -j8"`
to enable verbose output (i.e. display full command line invocations for each translation unit) and 8 concurrent compilations at once.

[2018-02-15 22:43] iwubcode commented on #260
Thank you @lukka that works!  I also added a remote-task to run make with my parameter when I want to target a specific target.  Very useful stuff.

[2018-02-15 22:43] #260 closed

[2018-02-18 05:06] JMesser81 commented on #174
I'm having the same problem when building a DLL file using CLang / C2 as the front-end compiler. I'm using Visual Studio Professional 2017

[2018-02-20 09:56] jensreck opened #261 "sync build results from remote linux back"
How can I sync build results / build folder from remote linux back to the windows platform (using CMake project)?

[2018-02-20 10:12] jensreck commented on #246
any suggestions?

[2018-02-20 16:46] #221 closed

[2018-02-20 17:12] paulmaybee commented on #257
Can you please attach the entire gdb log? Thanks.

[2018-02-20 17:53] ademyankov commented on #257
Here we go...
[code]

[2018-02-20 18:57] ademyankov commented on #257
No, it doesn't run from cmd:
[code]
But, as you can imagine, it runs fine from within the WSL. And yes, I set it in .bashrc for user and even for su as well.
[code]

[2018-02-20 19:24] paulmaybee commented on #257
According to "man bash" the rc file is only executed for "interactive" shells, that is, those that do not have a "-c" argument. A few things you could try:
1. Change the debuggerPath value from /usr/bin/gdb to some command file that first sets the LD_LIBRARY_PATH and then executes /usr/bin/gdb.
2. Try adding "--login" as the first parameter to pipeargs, and then place the command to set the LD_LIB

[2018-02-20 20:16] ademyankov commented on #257
Alright, that trick works!

For anyone who might need it as well I changed `launch.vs.json` like this:
[code]
and `wsl_gdb.sh` is:
[code]
Thanks @paulmaybee

[2018-02-20 20:16] #257 closed

[2018-02-21 02:58] mbaugus commented on #174
I'm also am getting the exact same 600+ errors in Intellisense when I try to include Cppconnector header files into the project.  It compiles fine on Linux machine though.

[2018-02-21 14:59] robiwano commented on #39
+1 , I'm using the GPU on the Raspberry Pi with QPULib which needs root permission to used mailboxes and shared memory.

[2018-02-21 16:10] robiwano opened #262 "VS2017 crashes intermittently"
* A brief description
VS2017 (15.5.7) CMake + RPiZero, after a debug session, VS often stops responding and then crashes (restarts), especially when trying to scroll in the debug output window.

* Expected results
No crashes.

* Actual results (with build output window contents if applicable)

* VC++ version, Linux system name and version, GCC/GDB/gdbserver version, CPU arch, etc. If you are using

[2018-02-21 18:25] paulmaybee commented on #262
Does this happen immediately after you have stopped debugging? Has VS returned to design mode, or does it still think you are debugging?  Please try to collect a gdb log of the session: In the VS “Command Window” enter the command:

              Debug.MIDebugLog /On:path-to-a-log-file

Then debug your project. After the failure enter:

              Debug.MIDebugLog /Off

The file you specified a

[2018-02-21 18:35] paulmaybee commented on #262
Oops. Of course there is no "after failure" since you crash, so just ignore that part of the instructions.

[2018-02-21 19:14] ademyankov commented on #243
Confirmed on 15.5.7

[2018-02-23 20:11] lukka commented on #243
@ademyankov

just reproduced the behavior you reported, thanks! Using directly bash.exe is not an option right now, as a workaround I would propose to use ssh into WSL as follows below. The usage of shellexe.exe as a pipe program is fundamental to get proper i/o redirection. Created the story to implement proper i/o redirection on our backlog.

[code]

[2018-02-23 22:02] ademyankov commented on #243
As I can understand from the log it cannot find those `debugInfo.remoteMachineId` and `debugInfo.tty`
[code]

[2018-02-23 22:50] joe-livedata opened #263 "Error while trying to enter break state ... Failed to find Thread 1 for break event"
I am debugging a server application written in a combination of C and C++ that I am porting from Windows to Linux.   To date I have had good success, but while exercising  some parts of the code that have not run on the Linux side before, I am seeing Visual Studio pop up the message:

"Error while trying to enter break state.  Debugging will now stop.  Failed to find thread 1 for break event."

 U

[2018-02-23 23:01] lukka commented on #63
This issue is fixed in the next VS preview (after 15.6 is released). Please re-open if you experience any issue related to project to project reference.

[2018-02-23 23:01] #63 closed

[2018-02-24 18:54] lukka commented on #243
@ademyankov could you please provide the whole configuration so i can try it?

[2018-02-26 08:30] levhaikin commented on #93
what version of visual-studio should start supporting this great feature?

[2018-02-26 18:59] ademyankov commented on #243
It's exactly as you suggested to modify the json.

launch.vs.json:
[code]

This is the log:
[code]

I tried to play around with that shellexec in cmd but I couldn't figure out where I suppose to get that connection id or number. No documentation, not even google research helped me. Some very mysterious arguments!

[2018-02-26 22:05] lukka commented on #243
@ademyankov have not verified what is the exact reason of the missing value for `${debugInfo.remoteMachineId}`, anyway I would suggest you to check whether you have an entry for your WSL host (i.e. 'localhost' specified in the remoteMachineName field) in the Cross Platform->Connection Manager dialog, such as:
![image](https://user-images.githubusercontent.com/681992/36697781-f0dc4ec4-1afc-11e8-98d

[2018-02-26 23:14] joe-livedata commented on #263
The cause of this issue was a smashed stack due to a long under 64 bit Linux being 64 bits wide, where the calling code only left room for 32 bits.   It is unfortunate that Visual Studio was unable to give me a better error message.

[2018-02-26 23:16] ademyankov commented on #243
Ok, that stuff:
[code]
doesn't work. It just hangs VS completely unresponsive! I had to use task manager to kill it.

I don't have 'localhost' specified in the remoteMachineName field. A quick try to add a new connection didn't work ether. I searched and it looks like ssh to WSL is another pain in the neck.

I will try it later in the week when I have time and I will let you know.

[2018-02-26 23:25] joe-livedata commented on #263
I'd like to leave this issue open in case anyone would care to comment on any way to troubleshoot this issue in general short of single stepping through several different threads.

[2018-02-27 23:15] lukka commented on #144
Please reopen if you are still experiencing the issue on the most recent version of VS, thanks.

[2018-02-27 23:15] #144 closed

[2018-02-27 23:39] lukka commented on #243
@ademyankov I got the chance to test your scenario with VS 2017 Preview 15.6, and it worked as follows:

launch.vs.json file:
[code]

The WSL's tty has been prepared as follows, then launched the debug session using the Debug context menu on the Solution Explorer.

![image](https://user-images.githubusercontent.com/681992/36761466-0910f418-1bd4-11e8-9d46-f062a0144dca.png)

I can then interact with

[2018-02-27 23:59] ademyankov commented on #243
Awesome! Now it works. This is good enough for now.
Thank you @lukka

[2018-02-27 23:59] #243 closed

[2018-03-06 23:42] eboardman commented on #174
I will second that.  Any answers?

[2018-03-07 01:14] itodirel commented on #174
we're currently working on Remote Headers Copy, for IntelliSense and then fixing errors like those

[2018-03-07 22:21] johncuyle opened #264 "Additional Include Directories not added to Compile arguments consistently."
Please use the following bug reporting template to help produce actionable and reproducible issues:

Compile command is being incorrectly constructed.  Include directories are getting lost, somehow.  Here's some truncated diagnostic output.

[code]

See bolded text in code snippet.  Expected result is that BOTH directories specified as AdditionalIncludeDirectories will be added to the compile comm

[2018-03-09 17:49] MichaelGoulding opened #265 "Constant error pop-ups while debugging"
I'm debugging python that loads our custom c++ extension .so.

While connecting via Visual Studio to debug, I constantly get the following dialog box:

---------------------------
Microsoft Visual Studio
---------------------------
Exception while processing MIEngine operation. Unrecognized format of field "id" in result: result-class: None. If the problem continues restart debugging.
------------

[2018-03-10 09:39] evakili commented on #142
@lukka I have tested the scenario on many configurations and distributions without any success. I'm pretty sure that this is not a configuration error on Linux side. There is a problem in VS or client Windows system. I don't know why this thread is closed.
To clarify the error, is there any log generated by VSLinux?

[2018-03-10 20:54] vgoldring commented on #170
I have exact same problem with the latest version of VS2017, use absolute paths, and tried reinstalling it several times, including full removal. VS passes to Linux WRONG include directories, only some etc.

[2018-03-11 22:50] MichaelKv opened #266 "File paths are not kept when copying #108 (for the second project in a solution)"
I have exactly the same problem as described here https://github.com/Microsoft/VSLinux/issues/108 but for the second application project in a solution. The files of the first project copies as expected with respect to the directory structure. Then I try to compile the second one and its file is copied to the root directory. All projects in my solution require to be in the same solution directory (

[2018-03-11 23:04] MichaelKv commented on #266
Probably an important additional info: the application project that compiles normally compiles with Build or Rebuild buttons only. Ctrl-F7 (compile selected file) on any of its c++ files makes VS to recopy the source file into incorrect location (out of the project's directory structure).